@font-face
    font-family 'Helvetica'
    src url('HelveticaNeueCyr-Roman.woff') format("woff")
    font-weight 400
    font-style normal

@font-face
    font-family 'Helvetica'
    src url('HelveticaNeueCyr-Thin.woff') format("woff")
    font-weight 300
    font-style normal

@font-face
    font-family 'Helvetica'
    src url('HelveticaNeueCyr-Medium.woff') format("woff")
    font-weight 600
    font-style normal
