.iCheckBox
    display inline-block
    vertical-align middle
    cursor pointer
    position relative
    size 22px
    margin 9px
    margin-left 0px
    background-color #91a9bb
    border-radius 3px
    border 0
    &.checked
        background-position center center
        background-repeat no-repeat
        background-image inline("iconChecked.png")
    &:hover
        &:after
            position absolute
            content ''
            size 42px
            border-radius 50%
            z-index -1
            top -10px
            left -10px
            opacity 0.1
            background-color #373838

.iCheckRound
    display inline-block
    vertical-align middle
    cursor pointer
    position relative
    size 25px
    border-radius 50%
    background-color white
    border 2px solid #91a9bb
    &.checked
        background-color #91a9bb
        background-position center center
        background-repeat no-repeat
        background-image inline("iconChecked.png")
    &:hover
        &:after
            position absolute
            content ''
            size 43px
            border-radius 50%
            z-index -1
            top -11px
            left -11px
            opacity 0.1
            background-color #373838
