.slideMarkenLvl-1
    background-image url("../img/marken.jpg")
    @media retina
        background-image url("../img/marken@2x.jpg")

.slideMarkenLvl-1-1
    background-image url("../img/marken-1-1.jpg")
    background-size cover
    @media retina
        background-image url("../img/marken-1-1@2x.jpg")

.slideMarkenLvl-1-2
    background-image url("../img/marken-1-2.jpg")
    @media retina
        background-image url("../img/marken-1-2@2x.jpg")

.slideMarkenLvl-1-3
    background-image url("../img/marken-1-3.jpg")
    @media retina
        background-image url("../img/marken-1-3@2x.jpg")

.slideMarkenLvl-1-4
    background-image url("../img/marken-1-4.jpg")
    @media retina
        background-image url("../img/marken-1-4@2x.jpg")
