<div class="postAddForm">
	<div class="postAddFormHeader">
		<input placeholder="Название события" ng-model="post.title"><span ng-click="post.title = ''">
                      <svg>
                        <use xlink:href="#iconDelete"></use>
                      </svg></span>
	</div>
	<div class="postAddFormTextarea">
		<textarea ng-model="post.text"></textarea>
	</div>
	<div class="postAddFormFooter">
		<div class="postAddFormFooterItems">
			<button class="buttonFormFooter" ng-click="setActive(t)" ng-class="{buttonFormFooterActive : t.active}" ng-repeat="t in tabs">
				<svg>
					<use xlink:href="{{t.icon}}"></use>
				</svg>
			</button>
			<div dropdown-select="contexts" dropdown-model="visibleSelectOption" dropdown-item-label="text" style="max-width: 165px;"
			class="postAddFooterSelect"></div>
		</div>
		<div class="postAddFormFooterButton">
			<button class="buttonBlueBayoux" ng-click="publish()">Опубликовать</button>
		</div>
	</div>
	<tabset>
		<tab active="tabs[0].active">
			<div class="postAddFormFile">
				<div class="postAddFormDropzone">
					<div class="postAddFormDropzoneWrap">
						<div class="postAddFormDropzoneText">Перетащите файл сюда</div>
					</div>
				</div>
				<div class="postAddFormFileInput">
					<input placeholder="Или выберите файл" disabled class="input">
					<button class="buttonOrangeSmall">Загрузить</button>
				</div>
			</div>
		</tab>
		<tab active="tabs[1].active">
			<div class="postAddFormDate">
				<div class="postAddFormDateInputs">
					<div class="postAddFormDateInput">
						<div class="inputWithIcon">
							<input id="addPostStartDate" placeholder="Дата начала" class="input"><span>
                            <svg>
                              <use xlink:href="#iconCalendar"></use>
                            </svg></span>
						</div>
					</div>
					<div class="postAddFormDateInput">–</div>
					<div class="postAddFormDateInput">
						<div class="inputWithIcon">
							<input id="addPostStartEnd" placeholder="Дата окончания" class="input"><span>
                            <svg>
                              <use xlink:href="#iconCalendar"></use>
                            </svg></span>
						</div>
					</div>
					<div class="postAddFormDateButton">
						<button class="buttonRoundSmall">
							<svg>
								<use xlink:href="#iconCheck"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</tab>
		<tab active="tabs[2].active">
			<div class="postAddFormMap">
				<div class="postAddFormMapInput">
					<div class="inputWithIcon">
						<input placeholder="Поиск мест" class="input"><span>
                          <svg>
                            <use xlink:href="#iconMap"></use>
                          </svg></span>
					</div>
				</div>
				<div class="postAddFormMapObjects">
					<div class="mapObjectScroll">
						<div ng-repeat="t in test" class="postAddFormMapObject">Картинг клуб Arena GP, Бумажный п-д 91, стр. 1,Москва<span>
                        <input tooltip="Отметить как достопримечательность" tooltip-placement="right" type="checkbox" ng-model="t" i-check></span></div>
					</div>
				</div>
			</div>
		</tab>
		<tab active="tabs[3].active">
			<div class="postAddFormPeople">
				<div class="postAddFormPeopleInput">
					<div class="selectWithIcon">
						<ui-select reset-search-input="true" multiple="true" ng-model="post.users" theme="select2"  close-on-select="false" style="width: 100%"
						title="Выберите пользователя">
							<ui-select-match placeholder="Выберите пользователя">{{$item}}</ui-select-match>
							<ui-select-choices position='auto' refresh="searchUsers($select.search)" repeat="user in usersForAdd | filter:$select.search">{{user}}</ui-select-choices>
						</ui-select>
						<div class="icon">
							<svg>
								<use xlink:href="#iconPeoples"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>