<button ng-hide="!isAuthenticated || isSubscribed" ng-click="subscribe()" class="{{subscribeClass}}">Подписаться</button>
<button ng-show="isAuthenticated && isSubscribed" ng-click="unsubscribe()" class="{{unsubscribeClass}}">Отписаться</button>