.slideAutoLvl-1
    background-image url("../img/auto@mobile.jpg")
    @media retina
        background-image url("../img/auto@2x.jpg")
    @media web
        background-image url("../img/auto.jpg")
    @media phone
        background-image url("../img/auto.jpg")
// Level - 2
.slideAutoLvl-2-1
    background-image url("../img/auto-1.jpg")
    @media retina
        background-image url("../img/auto-1@2x.jpg")


// Level - 2 - 1
.slideAutoLvl-2-1-1
    background-image url("../img/auto-1-1.jpg")
    bg(left)
    @media retina
        background-image url("../img/auto-1-1@2x.jpg")

.slideAutoLvl-2-1-2
    background-image url("../img/auto-1-2.jpg")
    bg(left)
    @media retina
        background-image url("../img/auto-1-2@2x.jpg")

.slideAutoLvl-2-1-3
    background-image url("../img/auto-1-3.jpg")
    bg(left)
    @media retina
        background-image url("../img/auto-1-3@2x.jpg")

// Level - 2
.slideAutoLvl-2-2
    background-image url("../img/auto-2.jpg")
    @media retina
        background-image url("../img/auto-2@2x.jpg")

.slideAutoLvl-2-2-1
    background-image url("../img/auto-2-1.jpg")
    bg(left)
    @media retina
        background-image url("../img/auto-2-1@2x.jpg")

.slideAutoLvl-2-2-2
    background-image url("../img/auto-2-2.jpg")
    bg(left)
    @media retina
        background-image url("../img/auto-2-2@2x.jpg")

.slideAutoLvl-2-2-3
    background-image url("../img/auto-2-3.jpg")
    bg(left)
    @media retina
        background-image url("../img/auto-2-3@2x.jpg")
