.footer
    display block
    height 25px
    width 100%
    background-color #3e6372
    overflow hidden
    clear fix
.footerSidebar
    display block
    float left
    size 225px 100%

.footerContent
    display block
    float left
    width calc(100% - 226px)
    height 100%
    box-shadow 0px 0px 12px 0px rgba(0,0,0,0.35)
