@import './../../stylusMixin/libs'
normalize()

a:focus
    outline: 0

html
    height 100%
    min-width 320px
body
    position relative
    min-height 100%
    font-family 'Helvetica'
.main
    display block
    min-height calc(100vh - 103px)
    clear fix
.sidebar
    display block
    float left
    size 225px 100%
    min-height calc(100vh - 103px)

.content
    display block
    float left
    width calc(100% - 226px)
    min-height 100%
    box-shadow 0px 0px 12px 0px rgba(0,0,0,0.35)
    min-height calc(100vh - 103px)

.contentFullWidth
    width 100%
    box-shadow none
