.slider
    margin 20px 20px

.sliderVertical
    height 300px
    margin 30px 20px
    >div
        height 300px
.noUi-target,
.noUi-target *
    touch-callout none
    user-select none
    touch-action none
    box-sizing border-box

.noUi-target
    position relative
    direction ltr
    border-radius 0px
    //border 1px solid #D3D3D3
    // box-shadow inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB
    &.noUi-connect
        box-shadow inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB

.noUi-base
    width 100%
    height 100%
    position relative
    z-index 1
    transform translate3d(0,0,0)
.noUi-origin
    position absolute
    right 0
    top 0
    left 0
    bottom 0
    background-color #9B9B9B
    border-radius 2px

.noUi-handle
    position relative
    z-index 1
    //border 1px solid #D9D9D9
    //border-radius 3px
    background transparent
    cursor default
    //box-shadow inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB0 3px 6px -3px #BBB
    &:after
        left 17px

.noUi-stacking
    .noUi-handle
        z-index 10

.noUi-state-tap
    .noUi-origin
        transition left 0.3s, top 0.3s

.noUi-state-drag
    *
        cursor inherit !important

.noUi-horizontal
    height 1px
    .noUi-handle
        width 34px
        height 28px
        left -17px
        top -6px

.noUi-vertical
    width 1px
    .noUi-handle
        width 28px
        height 34px
        left -11px
        top -17px
        &:after
            top 17px
    .noUi-dragable
        cursor n-resize

.noUi-background
    background-color #e36800

.noUi-connect
    background #3FB8AF
    box-shadow inset 0 0 3px rgba(51,51,51,0.45)
    transition background 450ms

.noUi-dragable
    cursor w-resize

.noUi-active
    box-shadow none

.noUi-handle:before,
.noUi-handle:after
    content ""
    display none
    position absolute
    height 14px
    width 1px
    background #E8E7E6
    left 14px
    top 6px

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after
    width 14px
    height 1px
    left 6px
    top 14px

[disabled].noUi-connect,
[disabled] .noUi-connect
    background #B8B8B8

[disabled].noUi-origin,
[disabled] .noUi-handle
    cursor not-allowed

.sliderTooltip
    display inline-block
    position relative
    margin-top -4px
    min-width 24px
    text-align center
    background-color #fff
    border 1px solid #e36800
    color #e36800
    font-family Helvetica
    font-size 12px
    font-weight 400
    line-height 24px
    height 24px
    padding 0 4px
    border-radius 11px
    &:hover
        &:after
            content ''
            position absolute
            border-radius 44px
            z-index -1
            width 200%
            height 200%
            top -50%
            left -50%
            opacity 0.1
            background-color #373838
