.modal-open
    overflow hidden
.overlay, .modal-backdrop
    display block
    position absolute
    opacity 0.5
    background-color #000
    width 100%
    min-height 100%
    z-index 100
    top 0


.modal
    display block
    position fixed
    overflow hidden
    overflow-y scroll
    top 0
    left 0
    right 0
    bottom 0
    z-index 1000
    box-shadow 0 1px 10px rgba(35, 27, 15, 0.35)

.modal-small
    width 466px
    position relative
    background-color #FFF
    margin-left auto
    margin-right auto
    margin-top 60px
.modalMedium, .modal-medium
    width 546px
    position relative
    background-color #FFF
    margin-left auto
    margin-right auto
    margin-top 60px
.modalWide, .modal-wide
    width 815px
    position relative
    background-color #FFF
    margin-left auto
    margin-right auto
    margin-top 60px
.modalPost
    width 690px
    position relative
    padding 30px
    background-color #FFF
    margin-left auto
    margin-right auto
    margin-top 60px
    border-radius 4px
.modalClose
    display block
    position absolute
    right 22px
    top 22px
.modalHeader
    display block
    background-color #b1d4de
    color #626566
    padding 28px 42px
    h1
        font-family Helvetica
        font-size 24px
        font-weight 400
        margin-bottom 7px
    p
        font-family Helvetica
        font-size 14px
        font-weight 400
    a
        text-decoration none
        color #096286
        transition all .5s
        &:hover
            text-decoration underline
.modalHeaderBreadcrumbs
    padding-bottom 18px
.modalContent
    display block
    position relative
    padding 34px 42px
    clear fix
.modalContentNoPadding
    display block
    position relative
    clear fix
.modalColumn
    col(1/2,gutter:10)
.modalColumnOr
    display block
    position absolute
    height 100%
    left 50%
    span
        display block
        position absolute
        padding 5px
        top 25%
        left -16px
        color #ccc
        background-color #FFF
        font-family Helvetica
        font-size 14px
        font-weight 400
        z-index 1001
    &:after
        display block
        position absolute
        content ''
        top 0
        background-color #ccc
        width 1px
        height 65%
.modalFormHeader
    display block
    margin-bottom 22px
    clear fix
    h2
        color #626566
        font-family Helvetica
        font-size 14px
        font-weight 400
.modalFormItem
    display block
    margin-bottom 20px
    clear fix
    input
        width 100%
    button
        padding 12px 24px
        margin-right 20px
        &:last-child
            margin-right 0px
    &:last-child
        margin-bottom 0px
    &Right
        text-align right
    &FixInput
        input
            width 250px
            margin-right 12px
.modalFormItemColumn
    col(1/2)
.modalFormItemColumnRight
    text-align right
.modalFormItemLine
    display block
    margin-top -5px
    margin-bottom 15px
    height 1px
    width 100%
    background-color #DBE0E4
    clear fix
