.statusTpl
    display block
    float left
    margin-top 6px
    size 16px
    border-radius 8px
    background-color transparent
    margin-right 5px

.statusOnline
    @extend .statusTpl
    border 4px solid #45db5e
.statusBusy
    @extend .statusTpl
    border 4px solid #f21b13
.statusHelp
    @extend .statusTpl
    border 4px solid #fa5c1d
.statusVirtual
    @extend .statusTpl
    border 4px solid #1f7fa6
.statusOffline
    @extend .statusTpl
    border 4px solid #91a9bb

.statusDropdownTpl
    display block
    float left
    size 16px
    border-radius 8px
    background-color transparent
    margin-right 5px

.statusDropdownOnline
    @extend .statusDropdownTpl
    border 4px solid #45db5e

.statusDropdownBusy
    @extend .statusDropdownTpl
    border 4px solid  #f21b13

.statusDropdownHelp
    @extend .statusDropdownTpl
    border 4px solid  #fa5c1d

.statusDropdownVirtual
    @extend .statusDropdownTpl
    border 4px solid  #1f7fa6

.statusDropdownOffline
    @extend .statusDropdownTpl
    border 4px solid  #91a9bb


.statusSmallTpl
    display block
    float left
    size 10px
    border-radius 5px
    background-color transparent
    margin-right 5px
.statusOnlineSmall
    @extend .statusSmallTpl
    border 2px solid #45db5e
.statusBusySmall
    @extend .statusSmallTpl
    border 2px solid  #f21b13
.statusHelpSmall
    @extend .statusSmallTpl
    border 2px solid #fa5c1d
.statusVirtualSmall
    @extend .statusSmallTpl
    border 2px solid #1f7fa6
.statusOfflineSmall
    @extend .statusSmallTpl
    border 2px solid #91a9bb
