.registration
    center(900px)
    padding 60px 0
.registrationColumn
    col(1/2, gutter:15)
.registrationHeader
    display block
    margin-bottom 40px
    clear fix

    h1
        color #626566
        font-family Helvetica
        font-size 24px
        font-weight 300
        margin-bottom 10px
    p
        font-family Helvetica
        color #626566
        font-size 14px
        font-weight 400
.registrationHeaderText
    display block
    padding-top 21px
    margin-bottom 40px
    clear fix
    p
        font-family Helvetica
        color #626566
        font-size 14px
        font-weight 400
.registrationForm
    display block
    clear fix
.registrationFormItem
    display block
    margin-bottom 22px
    input
        width 100%
    .registrationFormText
        display inline-block
        margin-bottom 0px
    .buttonGroup
        display inline-block
        vertical-align middle
.registrationFormItemCenter
    text-align center
.registrationFormText
    display block
    padding-bottom 20px
    opacity 0.89
    font-family Helvetica
    font-size 12px
    font-weight 400
    line-height 14px
    padding-right 20px
    color #626566
    clear fix
    a
        text-decoration none
        color #096286
        font-size 12px
        font-weight 400
        line-height 14px
        transition all .5s
        &:hover
            text-decoration underline
.registrationColumnOr
    display block
    position absolute
    height 60%
    margin-top 92px
    left 50%
    span
        display block
        position absolute
        padding 5px
        top 25%
        left -16px
        color #92a0ad
        background-color #FFF
        font-family Helvetica
        font-size 14px
        font-weight 400
        z-index 1001
    &:after
        display block
        position absolute
        content ''
        top 0
        background-color #92a0ad
        width 1px
        height 65%
