@import ('../../../stylusMixin/libs.styl')

ks-placeholder()
    if selector() == "&"
        error( "placeholder() must be called from a ruleset!" )
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
.input
    display inline-block
    vertical-align middle
    -webkit-appearance none
    background-color white
    border 1px solid #b3d4db
    color #606878
    border-radius 4px
    font-family Helvetica
    font-size 13px
    height 35px
    line-height 13px
    font-weight 400
    padding 9px 10px 9px
    &:hover, &:active, &:focus
        outline 0
        border 1px solid #8294a1
    +ks-placeholder()
        padding-top 2px
        color #949eac
    &:disabled
        border 1px solid #bbd3db
.inputBig
    display inline-block
    vertical-align middle
    -webkit-appearance none
    background-color white
    border 1px solid #b3d4db
    color #606878
    border-radius 4px
    font-family Helvetica
    font-size 13px
    line-height 13px
    font-weight 400
    padding 14px 10px 14px
    &:hover, &:active, &:focus
        outline 0
        border 1px solid #8294a1
    +ks-placeholder()
        padding-top 0px
        color #949eac
    &:disabled
        border 1px solid #bbd3db
.inputError
    border 1px solid #e36800
    color #e36800
.inputSearch
    background-image inline('iconSearch.png')
    background-repeat no-repeat
    background-position right 15px center

.inputGroupFloat
    display block
    position relative

.inputWithIcon
    display inline-block
    position relative
    input
        width 100%
        height 35px
    span
        display block
        position absolute
        right 10px
        top center
        svg
            size 18px
            fill #a9bec8
.selectWithIcon
    display inline-block
    position relative
    .icon
        display block
        position absolute
        right 10px
        top center
        z-index 1000
        svg
            size 18px
            fill #a9bec8
