.textarea
    display inline-block
    width 100%
    vertical-align middle
    -webkit-appearance none
    background-color white
    border 1px solid #b3d4db
    color #606878
    border-radius 4px
    font-family Helvetica
    font-size 13px
    min-height 125px
    line-height 13px
    font-weight 400
    padding 9px 10px 9px
    &:hover, &:active, &:focus
        outline 0
        border 1px solid #8294a1
    &:disabled
        border 1px solid #bbd3db
