.header
    display block
    position relative
    height 78px
    min-width 1175px
    background-color #343f4b
    clear fix

.headerLogo
    display inline-block
    position relative
    size 225px 78px
    background-color #222c38
    a
        display block
        height 41px
        background-repeat no-repeat
        background-position: left center;
        margin 19px 40px 30px 18px
        background-image inline('logo.png')
        padding-left 61px
        padding-top 5px
        color white
        font-family Helvetica
        font-size 14px
        font-weight 300
        line-height 18px
        text-transform uppercase
        text-decoration: none

.headerContent
    display inline-block
    vertical-align top
    width calc(100% - 230px)
    padding-left 45px
.headerMenu
    display: inline-block
    vertical-align middle
    line-height 78px
    a
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 18px
        text-decoration none
        color #a9bec8
        margin-right 20px
        &:hover
            color white

.headerSearch
    display: inline-block
    vertical-align middle
    line-height 78px
    input
        width 325px
.headerLogin
    display inline-block
    vertical-align middle
    line-height 78px
    padding-right 40px
    float right
    .headerLoginLink
        margin-left 20px
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 18px
        text-decoration none
        color #a9bec8
        margin-right 20px
        &:hover
            color white
    .buttonZiggurat
        display inline-block
