/* normalize.css v2.1.0 | MIT License | git.io/normalize */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
}
html {
  font-size: 62.5% !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: 'MyriadPro' sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:active,
a:focus {
  outline: 0;
}
html {
  width: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: fixed;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-callout: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  tap-highlight-color: transparent;
  overflow: hidden;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:after {
  clear: both;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  display: block;
  width: 54px;
  height: 54px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.slick-arrowShow {
  opacity: 1;
  visibility: visible;
}
.slick-prev {
  left: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2255.38px%22%20height%3D%2255.38px%22%20viewBox%3D%220%200%2055.38%2055.38%22%20enable-background%3D%22new%200%200%2055.38%2055.38%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Ccircle%20opacity%3D%220.25%22%20cx%3D%2227.69%22%20cy%3D%2227.69%22%20r%3D%2227.69%22%2F%3E%20%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2230.27%2C38.99%2032.25%2C37.01%2023.62%2C28.38%2032.25%2C19.76%2030.27%2C17.78%2019.66%2C28.38%20%20%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 54px 54px;
  transition: all 0.5s;
}
.slick-prev:hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2255.38px%22%20height%3D%2255.38px%22%20viewBox%3D%220%200%2055.38%2055.38%22%20enable-background%3D%22new%200%200%2055.38%2055.38%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Ccircle%20opacity%3D%220.25%22%20cx%3D%2227.69%22%20cy%3D%2227.69%22%20r%3D%2227.69%22%2F%3E%20%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2230.27%2C38.99%2032.25%2C37.01%2023.62%2C28.38%2032.25%2C19.76%2030.27%2C17.78%2019.66%2C28.38%20%20%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.slick-next {
  right: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2255.38px%22%20height%3D%2255.38px%22%20viewBox%3D%220%200%2055.38%2055.38%22%20enable-background%3D%22new%200%200%2055.38%2055.38%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Ccircle%20opacity%3D%220.25%22%20cx%3D%2227.69%22%20cy%3D%2227.69%22%20r%3D%2227.69%22%2F%3E%20%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2225.11%2C16.4%2023.13%2C18.38%2031.76%2C27%2023.14%2C35.63%2025.11%2C37.61%2035.72%2C27%20%20%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 54px 54px;
  transition: all 0.5s;
}
.slick-next:hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2255.38px%22%20height%3D%2255.38px%22%20viewBox%3D%220%200%2055.38%2055.38%22%20enable-background%3D%22new%200%200%2055.38%2055.38%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Ccircle%20opacity%3D%220.25%22%20cx%3D%2227.69%22%20cy%3D%2227.69%22%20r%3D%2227.69%22%2F%3E%20%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2225.11%2C16.4%2023.13%2C18.38%2031.76%2C27%2023.14%2C35.63%2025.11%2C37.61%2035.72%2C27%20%20%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.slick-prev:hover,
.slick-next:hover,
outline none {
  opacity: 1;
  display: block !important;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.4;
  color: #fff;
  background-color: #000;
  font-smoothing: antialiased;
  osx-font-smoothing: grayscale;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
.slick-dots {
  position: absolute;
  bottom: 5px;
  left: 5%;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: left;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  color: #fff;
  display: block;
  width: 10px;
  height: 10px;
  padding: 3px 0;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: rgba(1,1,1,0.1);
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
@media only screen and (min-width: 480px) {
  .slick-dots {
    left: 120px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .slick-dots {
    left: 5%;
  }
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.banner {
  display: block;
  position: relative;
  height: 100%;
  height: 100vh;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
}
.banner:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.bannerItems {
  display: block;
  width: 100%;
  height: 100%;
  height: 100vh;
}
.bannerItems:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.bannerItemSlideText {
  display: block;
  position: relative;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 60px;
  font-family: 'Interstate', sans-serif;
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: 400;
  font-style: normal;
  color: #303030;
  z-index: 1000;
}
.bannerItemSlideText a {
  color: #303030;
  text-decoration: none;
  transition: all 0.5s;
}
@media only screen and (min-width: 480px) {
  .bannerItemSlideText {
    padding-top: 130px;
    padding-left: 140px;
    font-family: 'Interstate', sans-serif;
    font-size: 4.8rem;
    line-height: 5rem;
    font-weight: 400;
    font-style: normal;
    color: #303030;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .bannerItemSlideText {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: 'Interstate', sans-serif;
    font-size: 2.8rem;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    color: #303030;
  }
}
.bannerItemSlideTextSub {
  display: block;
  padding-right: 0px;
  color: #303030;
  padding-bottom: 10px;
}
.bannerItemSlideTextSub:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .bannerItemSlideTextSub {
    margin-top: -5px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .bannerItemSlideTextSub {
    padding-right: 60px;
    margin-top: 0px;
  }
}
.bannerItemSlideTextSubWrap {
  display: inline-block;
  position: relative;
  font-family: 'Interstate', sans-serif;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  color: #303030;
  margin-top: 10px;
}
.bannerItemSlideTextSubWrap a {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 18px;
  padding-left: 10px;
}
.bannerItemSlideTextSubWrap a svg {
  display: inline-block;
  width: 30px;
  height: 20px;
  fill: #afcb08;
  transition: all 0.5s;
}
@media only screen and (min-width: 480px) {
  .bannerItemSlideTextSubWrap {
    font-family: 'Interstate', sans-serif;
    font-size: 3rem;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
  }
  .bannerItemSlideTextSubWrap a {
    display: inline-block;
    width: 30px;
    height: 26px;
    padding-left: 10px;
    margin-top: 10px;
  }
  .bannerItemSlideTextSubWrap a svg {
    display: inline-block;
    width: 30px;
    height: 26px;
    fill: #afcb08;
    transition: all 0.5s;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .bannerItemSlideTextSubWrap {
    font-family: 'Interstate', sans-serif;
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
  }
  .bannerItemSlideTextSubWrap a {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 18px;
    padding-left: 10px;
  }
  .bannerItemSlideTextSubWrap a svg {
    display: inline-block;
    width: 30px;
    height: 20px;
    fill: #afcb08;
    transition: all 0.5s;
  }
}
.bannerItemSlideBody {
  display: block;
  margin-top: 20px;
  position: relative;
  font-family: 'Interstate', sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  font-style: normal;
  color: #303030;
  background-repeat: no-repeat;
  background-position: right center;
}
.bannerItemSlideBody p {
  margin-bottom: 20px;
}
.bannerItemSlideBody a {
  display: block;
  margin-bottom: 3px;
}
@media only screen and (min-width: 480px) {
  .bannerItemSlideBody {
    font-family: 'Interstate', sans-serif;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 400;
    font-style: normal;
    width: 60%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .bannerItemSlideBody {
    font-family: 'Interstate', sans-serif;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
    font-style: normal;
  }
}
.bannerItemSlide {
  display: block;
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.bannerItemSlide:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.bannerItemSlideFilter {
  display: block;
  z-index: 2;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(-179deg, #fff 0%, rgba(255,255,255,0) 80%);
}
.bannerMenu {
  position: absolute;
  top: 100px;
  right: 23px;
  width: 24px;
  height: 18px;
}
.bannerMenu:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.bannerMenu button {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 24px;
  height: 18px;
  background-size: 24px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2248px%22%20height%3D%2236px%22%20viewBox%3D%220%200%2048%2036%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.8%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22hamburger-%281%29%22%20fill%3D%22%23000000%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-path%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2248%22%20height%3D%227%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-path%22%20x%3D%220%22%20y%3D%2214%22%20width%3D%2248%22%20height%3D%227%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-path%22%20x%3D%220%22%20y%3D%2229%22%20width%3D%2248%22%20height%3D%227%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E');
  z-index: 1000;
}
@media only screen and (min-width: 480px) {
  .bannerMenu {
    right: 43px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .bannerMenu {
    right: 23px;
  }
}
.bannerLogo {
  position: absolute;
  top: 30px;
  right: 10px;
}
.bannerLogo a {
  display: block;
  width: 36px;
  height: 46px;
  text-decoration: none;
}
.bannerLogo a:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .bannerLogo {
    right: 30px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .bannerLogo {
    right: 10px;
  }
}
.has-open-nav body .mobileMenu,
.has-open-nav body .banner {
  -webkit-transform: translateX(-260px);
      -ms-transform: translateX(-260px);
          transform: translateX(-260px);
}
@media only screen and (min-width: 480px) {
  .has-open-nav body .mobileMenu,
  .has-open-nav body .banner {
    -webkit-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
            transform: translateX(-320px);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .has-open-nav body .mobileMenu,
  .has-open-nav body .banner {
    -webkit-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
            transform: translateX(-260px);
  }
}
.has-open-nav body .bannerMenu button {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2249.5px%22%20height%3D%2249.5px%22%20viewBox%3D%220%200%2049.5%2049.5%22%20enable-background%3D%22new%200%200%2049.5%2049.5%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20opacity%3D%220.8%22%20points%3D%2243.84%2C0%2024.75%2C19.09%205.66%2C0%200%2C5.66%2019.09%2C24.75%200%2C43.84%205.66%2C49.5%2024.75%2C30.41%2043.84%2C49.5%20%2049.5%2C43.84%2030.41%2C24.75%2049.5%2C5.66%20%22%2F%3E%3C%2Fsvg%3E');
}
.mobileMenu {
  display: block;
  overflow: hideen;
  position: fixed;
  right: -260px;
  top: 0;
  bottom: 0;
  padding: 25px;
  width: 260px;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
}
.mobileMenu a {
  display: block;
  font-family: 'Interstate', sans-serif;
  font-size: 1.7rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  color: #303030;
  text-decoration: none;
  margin-bottom: 15px;
  transition: all 0.5s;
}
.mobileMenu a:hover {
  color: #a3c63e;
}
@media only screen and (min-width: 480px) {
  .mobileMenu {
    right: -320px;
    width: 290px;
  }
}
@media phoen {
  .mobileMenu {
    width: 260px;
    right: -260px;
  }
}
.containerTop {
  padding-top: 50px;
}
.slideAutoLvl-1 {
  background-image: url("../img/auto@mobile.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-1 {
    background-image: url("../img/auto@2x.jpg");
  }
}
@media only screen and (min-width: 480px) {
  .slideAutoLvl-1 {
    background-image: url("../img/auto.jpg");
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .slideAutoLvl-1 {
    background-image: url("../img/auto.jpg");
  }
}
.slideAutoLvl-2-1 {
  background-image: url("../img/auto-1.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-1 {
    background-image: url("../img/auto-1@2x.jpg");
  }
}
.slideAutoLvl-2-1-1 {
  background-image: url("../img/auto-1-1.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-1-1 {
    background-image: url("../img/auto-1-1@2x.jpg");
  }
}
.slideAutoLvl-2-1-2 {
  background-image: url("../img/auto-1-2.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-1-2 {
    background-image: url("../img/auto-1-2@2x.jpg");
  }
}
.slideAutoLvl-2-1-3 {
  background-image: url("../img/auto-1-3.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-1-3 {
    background-image: url("../img/auto-1-3@2x.jpg");
  }
}
.slideAutoLvl-2-2 {
  background-image: url("../img/auto-2.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-2 {
    background-image: url("../img/auto-2@2x.jpg");
  }
}
.slideAutoLvl-2-2-1 {
  background-image: url("../img/auto-2-1.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-2-1 {
    background-image: url("../img/auto-2-1@2x.jpg");
  }
}
.slideAutoLvl-2-2-2 {
  background-image: url("../img/auto-2-2.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-2-2 {
    background-image: url("../img/auto-2-2@2x.jpg");
  }
}
.slideAutoLvl-2-2-3 {
  background-image: url("../img/auto-2-3.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAutoLvl-2-2-3 {
    background-image: url("../img/auto-2-3@2x.jpg");
  }
}
.slideShopLvl-1 {
  background-image: url("../img/shop.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-1 {
    background-image: url("../img/shop@2x.jpg");
  }
}
.slideShopLvl-2-1 {
  background-image: url("../img/shop-1.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-1 {
    background-image: url("../img/shop-1@2x.jpg");
  }
}
.slideShopLvl-2-2 {
  background-image: url("../img/shop-2.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-2 {
    background-image: url("../img/shop-2@2x.jpg");
  }
}
.slideShopLvl-2-1-1 {
  background-image: url("../img/shop-1-1.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-1-1 {
    background-image: url("../img/shop-1-1@2x.jpg");
  }
}
.slideShopLvl-2-1-2 {
  background-image: url("../img/shop-1-2.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-1-2 {
    background-image: url("../img/shop-1-2@2x.jpg");
  }
}
.slideShopLvl-2-1-3 {
  background-image: url("../img/shop-1-3.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-1-3 {
    background-image: url("../img/shop-1-3@2x.jpg");
  }
}
.slideShopLvl-2-1-4 {
  background-image: url("../img/shop-1-4.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-1-4 {
    background-image: url("../img/shop-1-4@2x.jpg");
  }
}
.slideShopLvl-2-2-1 {
  background-image: url("../img/shop-2-1.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-2-1 {
    background-image: url("../img/shop-2-1@2x.jpg");
  }
}
.slideShopLvl-2-2-2 {
  background-image: url("../img/shop-2-2.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-2-2 {
    background-image: url("../img/shop-2-2@2x.jpg");
  }
}
.slideShopLvl-2-2-3 {
  background-image: url("../img/shop-2-3.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideShopLvl-2-2-3 {
    background-image: url("../img/shop-2-3@2x.jpg");
  }
}
.slideBrandLvl-1 {
  background-image: url("../img/brand.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideBrandLvl-1 {
    background-image: url("../img/brand@2x.jpg");
  }
}
.slideBrandLvl-2-1 {
  background-image: url("../img/brand-1.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideBrandLvl-2-1 {
    background-image: url("../img/brand-1@2x.jpg");
  }
}
.slideBrandLvl-2-1-1 {
  background-image: url("../img/brand-1-1.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideBrandLvl-2-1-1 {
    background-image: url("../img/brand-1-1@2x.jpg");
  }
}
.slideBrandLvl-2-1-2 {
  background-image: url("../img/brand-1-2.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideBrandLvl-2-1-2 {
    background-image: url("../img/brand-1-2@2x.jpg");
  }
}
.slideBrandLvl-2-1-3 {
  background-image: url("../img/brand-1-3.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideBrandLvl-2-1-3 {
    background-image: url("../img/brand-1-3@2x.jpg");
  }
}
.slideAgenturLvl-1 {
  background-image: url("../img/agentur.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideAgenturLvl-1 {
    background-image: url("../img/agentur@2x.jpg");
  }
}
.slideMarkenLvl-1 {
  background-image: url("../img/marken.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideMarkenLvl-1 {
    background-image: url("../img/marken@2x.jpg");
  }
}
.slideMarkenLvl-1-1 {
  background-image: url("../img/marken-1-1.jpg");
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideMarkenLvl-1-1 {
    background-image: url("../img/marken-1-1@2x.jpg");
  }
}
.slideMarkenLvl-1-2 {
  background-image: url("../img/marken-1-2.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideMarkenLvl-1-2 {
    background-image: url("../img/marken-1-2@2x.jpg");
  }
}
.slideMarkenLvl-1-3 {
  background-image: url("../img/marken-1-3.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideMarkenLvl-1-3 {
    background-image: url("../img/marken-1-3@2x.jpg");
  }
}
.slideMarkenLvl-1-4 {
  background-image: url("../img/marken-1-4.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 375px), (min-resolution: 192dpi) and (min-device-width: 375px) {
  .slideMarkenLvl-1-4 {
    background-image: url("../img/marken-1-4@2x.jpg");
  }
}
.newsButton {
  display: block;
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  color: #000;
  font-family: 'Interstate', sans-serif;
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  height: 44px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding-top: 12px;
  transition: all 0.6s ease-in-out;
  z-index: 2000;
  cursor: default;
}
.newsButton:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .newsButton {
    position: absolute;
    width: 144px;
    height: 54px;
    font-family: 'Interstate', sans-serif;
    font-size: 2rem;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    padding-top: 16px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 668px) and (orientation: landscape) {
  .newsButton {
    width: 100px;
    padding-top: 12px;
    height: 44px;
    font-family: 'Interstate', sans-serif;
    font-size: 1.8rem;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
  }
}
.newsOverlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visible: hidden;
  background-color: rgba(255,255,255,0.8);
  transition: all 0.5s;
}
.newsOverlay:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.newsOverlayShow {
  opacity: 1;
  visible: visible;
  z-index: 1000;
}
.news {
  display: block;
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  padding-top: 30px;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  will-change: transform;
  overflow: auto;
  z-index: 2000;
}
@media only screen and (min-width: 480px) {
  .newsWrap {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.newsItems {
  display: block;
  width: 100%;
  width: 100vw;
  margin: 0 auto;
}
.newsItems:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .newsItems {
    width: 1000px;
  }
}
.newsItem {
  display: block;
  width: 150px;
  float: left;
  background-color: #fff;
  margin-bottom: 16px;
  font-family: 'Interstate', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0 0 15px rgba(1,1,1,0.3);
}
.newsItem:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .newsItem {
    width: 220px;
    font-family: 'Interstate', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 26px;
  }
}
.newsItemGutter {
  width: 10px;
}
@media only screen and (min-width: 480px) {
  .newsItemGutter {
    width: 25px;
  }
}
.newsItemImage {
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  pointer-events: none;
}
.newsItemImage:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.newsItemImage img {
  width: 150px;
  height: 150px;
}
@media only screen and (min-width: 480px) {
  .newsItemImage {
    width: 220px;
    height: 220px;
  }
  .newsItemImage img {
    width: 220px;
    height: 220px;
  }
}
.newsItemText {
  display: block;
  padding: 15px;
  pointer-events: none;
}
.newsItemText:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.newsItemIconFB {
  display: block;
  width: 26px;
  height: 26px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2226px%22%20height%3D%2226px%22%20viewBox%3D%220%200%2026%2026%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Welcome%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22News%22%20transform%3D%22translate%28-502.000000%2C%20-284.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22item-copy%22%20transform%3D%22translate%28486.000000%2C%2020.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22iconFB%22%20transform%3D%22translate%2816.000000%2C%20264.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval-3%22%20fill%3D%22%23AFCB08%22%20cx%3D%2213%22%20cy%3D%2213.0171941%22%20r%3D%2212.5%22%3E%3C%2Fcircle%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M11.3450029%2C10.8953474%20L10.0848063%2C10.8953474%20L10.0848063%2C13.0134896%20L11.3450029%2C13.0134896%20L11.3450029%2C19.3078053%20L13.9338337%2C19.3078053%20L13.9338337%2C13.0136294%20L15.6708727%2C13.0136294%20C15.6708727%2C13.0136294%2015.8335682%2C11.9980339%2015.9124173%2C10.887519%20L13.943551%2C10.887519%20L13.943551%2C9.43926439%20C13.943551%2C9.22286496%2014.2257695%2C8.93167633%2014.5047952%2C8.93167633%20L15.9151937%2C8.93167633%20L15.9151937%2C6.72658292%20L13.9975515%2C6.72658292%20C11.2810075%2C6.72644312%2011.3450029%2C8.84668223%2011.3450029%2C9.16317339%20L11.3450029%2C10.8953474%20Z%22%20id%3D%22Facebook-Copy%22%20fill%3D%22%23FFFFFF%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E');
}
.newsItemIconFB:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.newsItemIconInstagramm {
  display: block;
  width: 26px;
  height: 26px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2226px%22%20height%3D%2226px%22%20viewBox%3D%220%200%2026%2026%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Welcome%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22News%22%20transform%3D%22translate%28-256.000000%2C%20-474.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22item%22%20transform%3D%22translate%28240.000000%2C%2020.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Oval-3-%2B-Imported-Layers-Copy%22%20transform%3D%22translate%2816.000000%2C%20454.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval-3%22%20fill%3D%22%23AFCB08%22%20cx%3D%2213%22%20cy%3D%2213.0171941%22%20r%3D%2212.5%22%3E%3C%2Fcircle%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.33321763%2C6.72727273%20L17.6325675%2C6.72727273%20C18.5158182%2C6.72727273%2019.2383857%2C7.44984022%2019.2383857%2C8.33296419%20L19.2383857%2C17.6324408%20C19.2383857%2C18.5156915%2018.5158182%2C19.238259%2017.6325675%2C19.238259%20L8.33321763%2C19.238259%20C7.44996694%2C19.238259%206.72727273%2C18.5156915%206.72727273%2C17.6324408%20L6.72727273%2C8.33296419%20C6.72727273%2C7.44984022%207.44996694%2C6.72727273%208.33321763%2C6.72727273%20L8.33321763%2C6.72727273%20Z%20M15.8411019%2C8.11728375%20C15.5312672%2C8.11728375%2015.2779504%2C8.37060055%2015.2779504%2C8.68056198%20L15.2779504%2C10.0286281%20C15.2779504%2C10.3384628%2015.5312672%2C10.5919063%2015.8411019%2C10.5919063%20L17.2551901%2C10.5919063%20C17.5650248%2C10.5919063%2017.8184683%2C10.3384628%2017.8184683%2C10.0286281%20L17.8184683%2C8.68056198%20C17.8184683%2C8.37060055%2017.5650248%2C8.11728375%2017.2551901%2C8.11728375%20L15.8411019%2C8.11728375%20L15.8411019%2C8.11728375%20Z%20M17.8244242%2C12.0180331%20L16.7230854%2C12.0180331%20C16.8272507%2C12.358281%2016.8836419%2C12.7184242%2016.8836419%2C13.0914931%20C16.8836419%2C15.1725179%2015.1424848%2C16.859438%2012.9946777%2C16.859438%20C10.847124%2C16.859438%209.10596694%2C15.1725179%209.10596694%2C13.0914931%20C9.10596694%2C12.7184242%209.1622314%2C12.358281%209.26639669%2C12.0180331%20L8.11741047%2C12.0180331%20L8.11741047%2C17.3029642%20C8.11741047%2C17.5764298%208.3412011%2C17.8002204%208.61479339%2C17.8002204%20L17.3270413%2C17.8002204%20C17.6005069%2C17.8002204%2017.8244242%2C17.5764298%2017.8244242%2C17.3029642%20L17.8244242%2C12.0180331%20L17.8244242%2C12.0180331%20Z%20M12.9946777%2C10.5209421%20C11.6070744%2C10.5209421%2010.4820386%2C11.6110028%2010.4820386%2C12.9556474%20C10.4820386%2C14.300292%2011.6070744%2C15.3902259%2012.9946777%2C15.3902259%20C14.3824077%2C15.3902259%2015.5074435%2C14.300292%2015.5074435%2C12.9556474%20C15.5074435%2C11.6110028%2014.3824077%2C10.5209421%2012.9946777%2C10.5209421%20L12.9946777%2C10.5209421%20Z%22%20id%3D%22Imported-Layers-Copy%22%20fill%3D%22%23FFFFFF%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E');
}
.newsItemIconInstagramm:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.newsItemZoom {
  width: 310px;
  font-family: 'Interstate', sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
}
.newsItemZoom .newsItemImage {
  width: 310px;
  height: 300px;
}
.newsItemZoom .newsItemImage img {
  width: 310px;
  height: 310px;
}
@media only screen and (min-width: 480px) {
  .newsItemZoom {
    width: 440px;
    font-family: 'Interstate', sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
  .newsItemZoom .newsItemImage {
    width: 440px;
    height: 440px;
  }
  .newsItemZoom .newsItemImage img {
    width: 440px;
    height: 440px;
  }
}
.has-open-news body .mobileMenu,
.has-open-news body .news {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.has-open-news body .newsButton {
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh);
  position: fixed;
  background-color: #a3c63e;
  color: #fff;
}
@media only screen and (min-width: 480px) {
  .has-open-news body .newsButton {
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}
.newsButtonUp {
  display: block;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  bottom: 30px;
  right: 30px;
  cursor: default;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2238px%22%20height%3D%2238px%22%20viewBox%3D%220%200%2038%2038%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3ERectangle%20851%20%2B%20Imported%20Layers%205%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-851-%2B-Imported-Layers-5%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-851%22%20fill%3D%22%23AFCB08%22%20sketch%3Atype%3D%22MSShapeGroup%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2238%22%20height%3D%2238%22%20rx%3D%222%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M15.6795778%2C9%20L14.0210222%2C10.62816%20L21.4621556%2C17.934%20L14%2C25.26072%20L15.6585556%2C26.88912%20L24.7797556%2C17.93304%20L23.1214444%2C16.30488%20L15.6795778%2C9%20Z%22%20id%3D%22Imported-Layers-5%22%20fill%3D%22%23FFFFFF%22%20sketch%3Atype%3D%22MSShapeGroup%22%20transform%3D%22translate%2819.500000%2C%2018.000000%29%20rotate%28-90.000000%29%20translate%28-19.500000%2C%20-18.000000%29%20%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E');
  width: 38px;
  height: 38px;
  opacity: 0;
  visibility: hidden;
}
.newsButtonUpShow {
  display: none;
}
@media only screen and (min-width: 480px) {
  .newsButtonUpShow {
    display: block;
    position: fixed;
    opacity: 1;
    visibility: visible;
    z-index: 10000;
  }
}
