.banner
    display block
    position relative
    height 100%
    height 100vh
    transition transform 0.2s linear
    sf()

.bannerItems
    display block
    width 100%
    height 100%
    height 100vh
    sf()
.bannerItemSlideText
    display block
    position relative
    padding-top 100px
    padding-left 20px
    padding-right 60px
    ff(normal,3.0,3.2)
    color #303030
    z-index 1000
    a
        color #303030
        text-decoration none
        transition all .5s
    @media web
        padding-top 130px
        padding-left 140px
        ff(normal,4.8,5.0)
        color #303030
    @media phone
        padding-top 40px
        padding-left 30px
        padding-right 40px
        padding-bottom 20px
        ff(normal,2.8,3.0)
        color #303030
.bannerItemSlideTextSub
    display block
    padding-right 0px
    color #303030
    padding-bottom 10px
    sf()
    @media web
        margin-top -5px
    @media phone
        padding-right 60px
        margin-top 0px
.bannerItemSlideTextSubWrap
    display inline-block
    position relative
    ff(normal,2.0,2.2)
    color #303030
    margin-top 10px
    a
        display inline-block
        position relative
        width 30px
        height 18px
        padding-left 10px
        svg
            display inline-block
            width 30px
            height 20px
            fill #AFCB08
            transition all .5s
    @media web
        ff(normal,3)
        margin-top 10px
        a
            display inline-block
            width 30px
            height 26px
            padding-left 10px
            margin-top 10px
            svg
                display inline-block
                width 30px
                height 26px
                fill #AFCB08
                transition all .5s
    @media phone
        ff(normal,1.6)
        margin-top 0px
        a
            display inline-block
            position relative
            width 30px
            height 18px
            padding-left 10px
            svg
                display inline-block
                width 30px
                height 20px
                fill #AFCB08
                transition all .5s
.bannerItemSlideBody
        display block
        margin-top 20px
        position relative
        ff(normal,1.6,1.9)
        color #303030
        bg(right)
        p
            margin-bottom 20px
        a
            display block
            margin-bottom 3px
        @media web
            ff(normal,2.4,2.9)
            width 60%
        @media phone
            ff(normal,1.6,1.9)
.bannerItemSlide
    display block
    width 100%
    height 100%
    height 100vh
    min-height 100%
    bg()
    background-size cover
    sf()
.bannerItemSlideFilter
    display block
    z-index 2
    position absolute
    height 100vh
    width 100%
    background-image linear-gradient(-179deg, #FFFFFF 0%, rgba(255,255,255,0.00) 80%)

.bannerMenu
    position absolute
    top 100px
    right 23px
    width 24px
    height 18px
    sf()
    button
        background-color transparent
        border 0
        outline 0
        width 24px
        height 18px
        background-size 24px 18px
        bg()
        background-image inline("hamburger.svg")
        z-index 1000
    @media web
        right 43px
    @media phone
        right 23px

.bannerLogo
    position absolute
    top 30px
    right 10px
    a
        display block
        width 36px
        height 46px
        sf()
        text-decoration none
    @media web
        right 30px
    @media phone
        right 10px
.has-open-nav
    body
        .mobileMenu,
        .banner
            transform translateX(-260px)
            @media web
                transform translateX(-320px)
            @media phone
                transform translateX(-260px)
        .bannerMenu
            button
                width 24px
                height 24px
                background-size 24px 24px
                background-image inline("kreuz.svg")

.mobileMenu
    display block
    overflow hideen
    position: fixed
    right: -260px
    top: 0
    bottom: 0
    padding 25px
    width: 260px
    transition transform 0.2s linear
    a
        display block
        ff(normal,1.7)
        color #303030
        text-decoration none
        margin-bottom 15px
        transition all .5s
        &:hover
            color #A3C63E
    @media web
        right -320px
        width 290px
    @media phoen
        width: 260px
        right: -260px
.containerTop
    padding-top 50px
