<div ui-view="header" class="header"></div>
<div class="main">
	<!--Поменял назад на ui.isShowSideMenu -->
	<div ng-if="ui.isShowSideMenu" class="sidebar">
		<div sidebar-left></div>
	</div>
	<div class="content" ng-class="{'contentFullWidth' : !ui.isShowSideMenu}">
		<ui-view></ui-view>
	</div>
</div>
<div class="footer">
	<div ng-if="ui.isShowSideMenu" class="footerSidebar"></div>
	<div class="footerContent"></div>
</div>