<div class="profile">
	<div class="profileBanner">
		<div ngf-drop ngf-select ngf-change="profilePrivate.cropCover($files)" ng-show="cover.url()" accept="image/*" type="file" style="z-index: 0; background-image: url('{{cover.url() || './img/profileBannerBG.jpg'}}')"
		class="profileBannerImage fx-fade-normal"></div>
		<div ngf-drop ngf-select ngf-change="profilePrivate.cropAvatar($files)" ngf-drag-over-class="profileBannerAvatarDropzoneOver"
		type="file" class="profileBannerAvatar">
			<div class="profileBannerAvatarImage fx-fade-normal" ng-show="currentAvatar.url()">
				<img ng-src="{{currentAvatar.url()}}" alt="">
			</div>
		</div>
		<div class="profileBannerInfo">
			<div class="profileBannerInfoName">{{model.profile.firstName}} {{model.profile.middleName}} {{model.profile.lastName}}</div>
			<div class="profileBannerInfoStatus">
				<div class="statusOnline"></div>Online
			</div>
			<div class="profileBannerInfoLocation">
				<svg>
					<use xlink:href="#iconLocation"></use>
				</svg>Москва
			</div>
		</div>
		<div class="profileBannerButton">
			<button ngf-select ngf-change="profilePrivate.cropAvatar($files)" accept="image/*" type="file" class="buttonOrange">Изменить аватар</button>
			<button ngf-select ngf-change="profilePrivate.cropCover($files)" accept="image/*" type="file" class="buttonOrange">Изменить обложку</button>
		</div>
	</div>
	<div class="profileInfoMenu">
		<div class="profileInfoMenuItems">
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.feed({userId : currentUser._id})">Лента</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.info({userId : currentUser._id})">Информация</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.interests({userId : currentUser._id})">Интересы</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.groups({userId : currentUser._id})">Группы</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.subsbar.subscriptions({userId : currentUser._id})">Подписки</a></div>
			<!--<div ng-repeat="avatar in avatars">
					<h1 ng-if="!avatar.isUploaded()">
						{{ avatar.uploadProgress() }}
					</h1>
					<img ng-if="avatar.isUploaded()" ng-src="{{avatar.url()}}" />
				</div>-->
		</div>
	</div>
	<ui-view></ui-view>
</div>