<div class="profile">
	<div class="profileBanner">
		<div style="background-image: url('{{cover.url() || './img/profileBannerBG.jpg'}}')" class="profileBannerImage"></div>
		<div class="profileBannerAvatar">
			<div class="profileBannerAvatarImage">
				<!--<img src="img/avatar.jpg" alt="">-->
				<avatar user-id="{{userId}}"></avatar>
			</div>
		</div>
		<div class="profileBannerInfo">
			<div class="profileBannerInfoName">{{model.profile.firstName}} {{model.profile.middleName}} {{model.profile.lastName}}</div>
			<div class="profileBannerInfoStatus">
				<div class="statusOnline"></div>Online
			</div>
		</div>
		<div ng-if="currentUser && userId != currentUser._id" class="profileBannerButton">
			<button ng-click="profilePublic.startChat(userId)" class="buttonOrange">Написать сообщение</button>
			<subscribe-unsubscribe subscribed-on="userId" subscribe-class="buttonOrange" unsubscribe-class="buttonOrange"></subscribe-unsubscribe>
		</div>
	</div>
	<div class="profileInfoMenu">
		<div class="profileInfoMenuItems">
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.feed({userId : userId})">Лента</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.info({userId : userId})">Информация</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.interests({userId : userId})">Интересы</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.groups({userId : userId})">Группы</a></div>
			<div class="profileInfoMenuItem"><a ui-sref="public.profile.subsbar.subscriptions({userId : userId})">Подписки</a></div>
		</div>
	</div>
	<ui-view></ui-view>
</div>