.labelFloat
    display inline-block
    position absolute
    right calc(100% + 20px)
    top 7px
    white-space nowrap
    background-color #c2d2dd
    border 1px solid #aec0cc
    border-radius 2px
    color #4b6372
    font-family Helvetica
    font-size 12px
    font-weight 400
    padding 7px 15px
    &:after, &:before
        left 100%
        top 8px
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
    &:after
        border-color rgba(136, 183, 213, 0)
        border-left-color #c2d2dd
        border-width 5px
        margin-top 2px
    &:before
        border-color rgba(194, 225, 245, 0)
        border-left-color #aec0cc
        border-width 7px
	    margin-top -7px
.labelBigFloat
    display inline-block
    position absolute
    right calc(100% + 20px)
    top 13px
    white-space nowrap
    background-color #c2d2dd
    border 1px solid #aec0cc
    border-radius 2px
    color #4b6372
    font-family Helvetica
    font-size 12px
    font-weight 400
    padding 7px 15px
    &:after, &:before
        left 100%
        top 8px
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
    &:after
        border-color rgba(136, 183, 213, 0)
        border-left-color #c2d2dd
        border-width 5px
        margin-top 2px
    &:before
        border-color rgba(194, 225, 245, 0)
        border-left-color #aec0cc
        border-width 7px
	    margin-top -7px
.labelFloatError
    background-color #e36800
    border 1px solid #a04c00
    color #fff
    &:after
        border-left-color #e36800
    &:before
        border-left-color #a04c00

.labelCheckbox
    display inline-block
    vertical-align baseline
    color #626566
    font-family Helvetica
    font-size 13px
    line-height 25px
    font-weight 400
