doctype
html(lang="ru")
  head
    title HP
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1")
    link(href='./css/blocks.css', type="text/css", rel="stylesheet")
    link(href='//cloud.webtype.com/css/6755f9d1-1228-45e2-b201-b1701206d099.css', type="text/css", rel="stylesheet")

    //- link(href='./css/blocks.uri.css', type="text/css", rel="stylesheet")
    include _favicon.jade
    <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    include _font.jade
    include _svg.jade
    //- include _mixin.jade


  body
    .newsOverlay
    block content
    include menu


    //-script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="./js/vendor.js")
    script(src="./js/index.js")
