extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideAgenturLvl-1
                .bannerItemSlideText
                    | Agentur
                    .bannerItemSlideBody
                        p Herrwerth + Partner Agentur für Marketing und Kommunikation

                        p Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft.

                        p So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie.

                        p Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben
        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
