extends _layout

block content
    .banner
        .bannerItems

            .bannerItemSlide.slideAutoLvl-2-2-1
                .bannerItemSlideText
                    | Händlerberatung
                    .bannerItemSlideBody
                        p MISSING MISSING

            .bannerItemSlide.slideAutoLvl-2-2-2
                .bannerItemSlideText
                    | Markt- und Mediaanalyse
                    .bannerItemSlideBody
                        p Optimal, lokal. Regionale Markt- und Medienanalyse. Effizienzsteigerung des eingesetzten Marketingbudgets durch Erfolgskontrolle und Optimierung der realisierten Maßnahmen. Unser Vorteil: Umfassende Marktpotentialanalyse des Instituts für automobiles Marketing und lokales Marktverständnis aus über 100 Marktforschungen in Deutschland.
            .bannerItemSlide.slideAutoLvl-2-2-3
                .bannerItemSlideText
                    | Kampagnen (Image/Sales)
                    .bannerItemSlideBody
                        p 360°-Abwicklung von Layout bis Produktion und crossmediale Umsetzungen sorgen für eine optimale Platzierung der Kampagnenmittel.

        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
