extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideAutoLvl-2-1
                .bannerItemSlideText
                    | Hersteller
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Mehr Performance für Hersteller und Handel
                            a(href="auto-1")
                                .icon
                                    +svgIcon("arrow")
            .bannerItemSlide.slideAutoLvl-2-2
                .bannerItemSlideText
                    | Handel
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Lorem ipsum dolor sit amet, consectetuer
                            a(href="auto-2")
                                .icon
                                    +svgIcon("arrow")

        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
