extends _layout

block content
    .banner
        .bannerItems

            .bannerItemSlide.slideAutoLvl-2-1-1
                .bannerItemSlideText
                    | Handelsmarketing
                    .bannerItemSlideBody
                        p 100% Händlerindividualisierung. 100% Markenidentität. Bündeln der nationalen Kraft der Marke für das lokale Marketing, um signifikante Umsatzsteigerungen und Auszeichnungen für die Audi Partner zu erzielen. Mit der Adaption nationaler Kampagnen, Entwicklung von Launchmitteln und der Erstellung von ca. 800 individuellen Anzeigen pro Jahr – alles für lokale Verkaufserfolge.

            .bannerItemSlide.slideAutoLvl-2-1-2
                .bannerItemSlideText
                    | Händlersupport
                    .bannerItemSlideBody
                        p Effiziente Zusammenarbeit, die mehr verkauft – bei gleichem Budget. Echter 24/7-Support und ein Ansprechpartner von Beratung bis Produktion. Ein Team von Retail-Spezialisten für den Automobilhandel sorgt für effiziente Umsetzung und erfolgreiche Durchführung von marketingmaßnahmen und Aktionen vor Ort.
            .bannerItemSlide.slideAutoLvl-2-1-3
                .bannerItemSlideText
                    | Literatur (Produkt/Verkauf)
                    .bannerItemSlideBody
                        p Internationale Produktinformationen und verkaufsstarke Endkunden-Broschüren. Von Audi Importeuren als Top-Medium ausgezeichnet: internationale Produktinformationen. Im modularen Baukasten zentral erstellt, weltweit umgesetzt. Integraler Bestandteil der Kommunikationskette der Marke: Verkaufs- und Handelsmedien. Markenstringente Darstellung der Inhalte und Botschaften, für die Bedürfnisse des Handels umgesetzt. Immer nach dem Motto: Marke denken, Handel sprechen.
        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
