extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideBrandLvl-2-1
                .bannerItemSlideText
                    | Unternehmen
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Lorem ipsum dolor sit amet, consectetuer
                            a(href="brand-1")
                                .icon
                                    +svgIcon("arrow")

        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
