extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideBrandLvl-2-1-1
                .bannerItemSlideText
                    | Analyse des Unternehmensselbstverständnisses
                    .bannerItemSlideBody
                        | Gemeinsam ihr Unternehmen und ihre Ziele kennenlernen. Status-Quo-Workshops zur Festlegung von Zielen, Zielgruppen und Einsatzgebieten vertiefen das Selbstverständnis und die Kultur ihres Unternehmens. Wir definieren, wie Produkt-, Image und Arbeitgeberkommunikation in Einklang kommen.
            .bannerItemSlide.slideBrandLvl-2-1-2
                .bannerItemSlideText
                    | Definition der Kernwerte
                    .bannerItemSlideBody
                        | Der Fingerprint für ihr Unternehmen Verdichtung der zentralen Arbeitgeber-Attraktivität für alle Bereiche und Zielgruppen. Mit dem individuellen Fingerprint legen wir den USP Ihrer Arbeitgebermarke fest und erkennen, welche Werte Ihr Unternehmen besonders attraktiv machen.
            .bannerItemSlide.slideBrandLvl-2-1-3
                .bannerItemSlideText
                    | Entwicklung interner und externer Kampagnen
                    .bannerItemSlideBody
                        | Wissen, wie Ihre Employer-Branding-Kampagne aussehen kann. Entwicklung, Umsetzung und Erfolgs-Controlling Ihrer Kampagne zur Mitarbeitergewinnung. Wir entwickeln Bilderwelten und formulieren Kernaussagen, damit sie wissen, wie ihre Kampagne aussehen kann und sehen, wie ihre Arbeitgebermarke neue Mitarbeiter gewinnt.

        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
