extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideAutoLvl-1
                .bannerItemSlideFilter
                .bannerItemSlideText
                    | Automotive Retail Marketing
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Mehr Performance für Hersteller und Handel
                            a(href="auto")
                                .icon
                                    +svgIcon("arrow")
            .bannerItemSlide.slideShopLvl-1.videoSlide
                .bannerItemSlideFilter
                .bannerItemSlideText
                    | Shopping Center Marketing
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Mehr Footfall bei gleichem Budget
                            a(href="shop")
                                .icon
                                    +svgIcon("arrow")
            .bannerItemSlide.slideBrandLvl-1
                .bannerItemSlideFilter
                .bannerItemSlideText
                    | Employer Branding
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Sinn und Seele Ihres Unternehmens
                            a(href="brand")
                                .icon
                                    +svgIcon("arrow")
        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
        .newsButtonUp.js-up-news
        include news
