extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideAgenturLvl-1
                .bannerItemSlideText
                    | Marken
                    .bannerItemSlideBody
                        a(href="marken-1#slide1") + IKEA
                        a(href="marken-1#slide2") + Diebels
                        a(href="marken-1#slide3") + Bayerische Hypo- und Wechselbank
                        a(href="marken-1#slide4") + Suzuki
        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
