extends _layout

block content
    .banner
        .bannerMarkenItems
            .bannerItemSlide.slideMarkenLvl-1-1
                .bannerItemSlideText
                    | IKEA

            .bannerItemSlide.slideMarkenLvl-1-2
                .bannerItemSlideText
                    | Diebels

            .bannerItemSlide.slideMarkenLvl-1-3
                .bannerItemSlideText
                    | Bayerische Hypo- und Wechselbank
                    .bannerItemSlideBody

            .bannerItemSlide.slideMarkenLvl-1-4
                .bannerItemSlideText
                    | Suzuki

        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
