.newsButton.js-show-news
    | News
.news
    .newsWrap
        .newsItems
            .newsItemGutter
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | #hundp #agentur
                .newsItemIconFB
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | #hundp #agentur
                .newsItemIconFB
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | #hundp #agentur
                .newsItemIconFB
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.
                .newsItemIconInstagramm
