extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideShopLvl-2-2-1
                .bannerItemSlideText
                    | Marketingberatung
                    .bannerItemSlideBody
                        p Effiziente Beratung optimiert Ihr Werbemittelbudget
            .bannerItemSlide.slideShopLvl-2-2-2
                .bannerItemSlideText
                    | Mieterkommunikation
                    .bannerItemSlideBody
                        p Effiziente Zusammenarbeit mit Werbegemeinschaft und Centermanagement
            .bannerItemSlide.slideShopLvl-2-2-3
                .bannerItemSlideText
                    | Neue Vermarktungsstrategien
                    .bannerItemSlideBody
                        p Neue Formate bringen Besucher und Fans Unsere Omnichannel-Marketing-Konzepte bringen ihr Center mit State oft the art- Marketinglösungen an den Puls der Zeit. Neue Medien schaffen eine neue Art Kunde – wir bringen ihn in Ihr Center.


        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
