extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideShopLvl-2-1-1
                .bannerItemSlideText
                    | Marke
                    .bannerItemSlideBody
                        p Mehr Footfall, gleiches Budget. Shopping Center sind mehr als ihre Mieter. Sie sind eigene Marken, die Shopping zum Erlebnis machen. Entscheidend dabei: die Harmonisierung von Positionierung, Kommunikation und Image
            .bannerItemSlide.slideShopLvl-2-1-2
                .bannerItemSlideText
                    | Markt- und Mediaanalyse
                    .bannerItemSlideBody
                        p Unser Tool: Standort-Dominanz-Analyse. Professionelle Center-Optimierung mithilfe der Treppe zum Kunden® und Daten der Standort-Dominanz-Analyse steigert Image, Bekanntheit und Footfall. Shopping Center werden klar und differenzierend positioniert.
            .bannerItemSlide.slideShopLvl-2-1-3
                .bannerItemSlideText
                    | Center-Kampagnen online/offline
                    .bannerItemSlideBody
                        p 360°-Abwicklung von Layout bis Produktion und crossmediale Umsetzungen sorgen für eine optimale Platzierung der Kampagnenmittel.

            .bannerItemSlide.slideShopLvl-2-1-4
                .bannerItemSlideText
                    | Kundenmagazin
                    .bannerItemSlideBody
                        p Entwicklung von Konzept- und Kreativ-Ideen für Ihre Kampagne. Aktionsbeschreibungen, Headlines, Bildwelten – crossmedial umgesetzt. Optimale Platzierung der Kampagnenmittel und Ergebniscontrolling sorgt dafür, dass alles wie gewünscht funktioniert.
        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
