extends _layout

block content
    .banner
        .bannerItems
            .bannerItemSlide.slideShopLvl-2-1
                .bannerItemSlideText
                    | Center
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Lorem ipsum dolor sit amet, consectetuer
                            a(href="shop-1")
                                .icon
                                    +svgIcon("arrow")
            .bannerItemSlide.slideShopLvl-2-2
                .bannerItemSlideText
                    | Werbegemeinschaft
                    .bannerItemSlideTextSub
                        .bannerItemSlideTextSubWrap
                            | Lorem ipsum dolor sit amet, consectetuer
                            a(href="shop-2")
                                .icon
                                    +svgIcon("arrow")

        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
    .mobileMenu
        a(href="index.html") Startseite
        a(href="kontakt.html") Kontakt
