.iconEvent
    display block
    position relative
    size 44px
    background-color transparent
    border 2px solid #e6eaef
    border-radius 4px
    svg
        size 28px
        fill #626262
        top center
        left center
