.iconMan
    display inline-block
    vertical-align middle
    background-repeat no-repeat
    background-position center center
    size 10px 12px
    background-image inline("iconMan.png")
    margin-right 5px

.iconWoman
    display inline-block
    vertical-align middle
    background-repeat no-repeat
    background-position center center
    size 8px 12px
    background-image inline("iconWoman.png")
    margin-right 5px
