@keyframes loader {
  0% {
    background-color #a3bac5
  }
  10% {
    background-color #a3bac5
  }
  40% {
    background-color #a3bac5
  }
}

.loader
    &:not(:required)
        animation loader 1500ms 300ms infinite ease-out
        background #dde2e7
        display inline-block
        position relative
        text-indent -9999px
        width 0.9em
        height 1.5em
        margin 0 1.6em

.loader:not(:required):before, .loader:not(:required):after
    background #dde2e7
    content '\x200B'
    display inline-block
    width 0.9em
    height 1.5em
    position absolute
    top 0

.loader
    &:not(:required):before
        animation loader 1500ms 150ms infinite ease-out
        left -1.6em
    &:not(:required):after
        animation loader 1500ms 450ms infinite ease-out
        right -1.6em
