.tooltipWrap
    display block
    position relative
    width 300px
    height 200px
    overflow visible
.popover
    display block
    position absolute
    white-space nowrap
    background-color #fff
    //border 1px solid #aec0cc
    border-radius 4px
    color #3e6372
    font-family Helvetica
    font-size 16px
    font-weight 400
    padding 12px 40px
    box-shadow 0 1px 5px rgba(30, 14, 0, 0.35)
    z-index 5000
    &.top
        margin-top -11px
        &:after
            display block
            position absolute
            top calc(100% - 5px)
            left calc(50% - 5px)
            content ''
            background-color #fff
            size 10px
            box-shadow 1px 1px 1px rgba(30, 14, 0, 0.35)
            transform rotate(45deg)
            z-index 5001
        &:before
            display block
            position absolute
            top calc(100% - 6px)
            left calc(50% - 6px)
            content ''
            background-color #fff
            size 10px
            transform rotate(45deg)
            z-index 5002
    &.bottom
        margin-top 10px
        &:after
            display block
            position absolute
            bottom calc(100% - 5px)
            left calc(50% - 5px)
            content ''
            content ''
            background-color #fff
            size 10px
            box-shadow 1px 1px 1px rgba(30, 14, 0, 0.35)
            transform rotate(315deg)
            z-index 5001
        &:before
            display block
            position absolute
            bottom calc(100% - 7px)
            left calc(50% - 3px)
            content ''
            background-color #fff
            size 10px
            transform rotate(135deg)
            z-index 5002
    &.left
        margin-left -15px
        &:after
            display block
            position absolute
            left calc(100% - 5px)
            bottom calc(50% - 5px)
            content ''
            background-color #fff
            size 10px
            transform rotate(45deg)
            box-shadow 1px 1px 1px rgba(30, 14, 0, 0.35)
            z-index 5001
        &:before
            display block
            position absolute
            left calc(100% - 8px)
            bottom calc(50% - 7px)
            content ''
            background-color #fff
            size 10px
            transform rotate(45deg)
            z-index 5002
    &.right
        transform translateX(15px)
        &:after
            display block
            position absolute
            right calc(100% - 5px)
            bottom calc(50% - 5px)
            content ''
            background-color #fff
            size 10px
            box-shadow 1px 1px 1px rgba(30, 14, 0, 0.35)
            transform rotate(45deg)
            z-index 5001
        &:before
            display block
            position absolute
            right calc(100% - 8px)
            bottom calc(50% - 7px)
            content ''
            background-color #fff
            size 10px
            transform rotate(45deg)
            z-index 5002


// .tooltip
    // display inline-block
    // position absolute
    // white-space nowrap
    // background-color #c2d2dd
    // border 1px solid #aec0cc
    // border-radius 2px
    // color #4b6372
    // font-family Helvetica
    // font-size 12px
    // margin-top 10px
    // font-weight 400
    // padding 7px 15px

    // &.down
    //     &:after
    //         display block
    //         position absolute
    //         bottom calc(100% - 5px)
    //         left calc(50% - 5px)
    //         content ''
    //         background-color #c2d2dd
    //         border 1px solid #aec0cc
    //         size 6px
    //         transform rotate(45deg)
    //         z-index -1
    //     &:before
    //         display block
    //         position absolute
    //         bottom calc(100% - 5px)
    //         left calc(50% - 4px)
    //         content ''
    //         background-color #c2d2dd
    //         size 6px
    //         transform rotate(45deg)
    //         z-index 1
.tooltipBig
    display inline-block
    position absolute
    border-radius 2px
    color #4b6372
    font-family Helvetica
    font-size 12px
    margin-top 10px
    font-weight 400
    width 545px
    &:before
        display block
        content ''
        position absolute
        width 100%
        height 100%
        box-shadow 0 1px 10px rgba(38, 33, 22, 0.35)
    &Header
        background-color #c2d2dd
        padding 20px 35px
        color #505b61
        font-family Helvetica
        font-size 17px
        font-weight 300
    &Content
        padding 20px 35px
        color #32373a
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 20px
    &:after
        display block
        position absolute
        bottom calc(100% - 5px)
        left 20%
        content ''
        background-color #c2d2dd
        size 10px
        transform rotate(45deg)
