.tooltipWrap
    display block
    position relative
    width 300px
    height 200px
    overflow visible
.tooltip
    display block
    position absolute
    white-space nowrap
    background-color #c2d2dd
    border 1px solid #aec0cc
    border-radius 2px
    color #4b6372
    font-family Helvetica
    font-size 12px
    font-weight 400
    padding 7px 15px
    &.top
        margin-top -5px
        &:after
            display block
            position absolute
            top calc(100% - 5px)
            left calc(50% - 5px)
            content ''
            background-color #c2d2dd
            border 1px solid #aec0cc
            size 6px
            transform rotate(45deg)
            z-index -1
        &:before
            display block
            position absolute
            top calc(100% - 5px)
            left calc(50% - 4px)
            content ''
            background-color #c2d2dd
            size 6px
            transform rotate(45deg)
            z-index 1
    &.bottom
        margin-top 5px
        &:after
            display block
            position absolute
            bottom calc(100% - 5px)
            left calc(50% - 5px)
            content ''
            background-color #c2d2dd
            border 1px solid #aec0cc
            size 6px
            transform rotate(45deg)
            z-index -1
        &:before
            display block
            position absolute
            bottom calc(100% - 5px)
            left calc(50% - 4px)
            content ''
            background-color #c2d2dd
            size 6px
            transform rotate(45deg)
            z-index 1
    &.left
        margin-left -15px
        &:after
            display block
            position absolute
            left calc(100% - 5px)
            bottom calc(50% - 5px)
            content ''
            background-color #c2d2dd
            border 1px solid #aec0cc
            size 6px
            transform rotate(45deg)
            z-index -1
        &:before
            display block
            position absolute
            left calc(100% - 5px)
            bottom calc(50% - 4px)
            content ''
            background-color #c2d2dd
            size 6px
            transform rotate(45deg)
            z-index 1
    &.right
        transform translateX(15px)
        &:after
            display block
            position absolute
            right calc(100% - 5px)
            bottom calc(50% - 5px)
            content ''
            background-color #c2d2dd
            border 1px solid #aec0cc
            size 6px
            transform rotate(45deg)
            z-index -1
        &:before
            display block
            position absolute
            right calc(100% - 5px)
            bottom calc(50% - 4px)
            content ''
            background-color #c2d2dd
            size 6px
            transform rotate(45deg)
            z-index 1
.tooltip-error
    background-color #e36800
    border 1px solid #a04c00
    color #fff
    &:after
        background-color #e36800 !important
        border 1px solid #a04c00 !important
    &:before
        background-color #e36800 !important

// .tooltip
    // display inline-block
    // position absolute
    // white-space nowrap
    // background-color #c2d2dd
    // border 1px solid #aec0cc
    // border-radius 2px
    // color #4b6372
    // font-family Helvetica
    // font-size 12px
    // margin-top 10px
    // font-weight 400
    // padding 7px 15px

    // &.down
    //     &:after
    //         display block
    //         position absolute
    //         bottom calc(100% - 5px)
    //         left calc(50% - 5px)
    //         content ''
    //         background-color #c2d2dd
    //         border 1px solid #aec0cc
    //         size 6px
    //         transform rotate(45deg)
    //         z-index -1
    //     &:before
    //         display block
    //         position absolute
    //         bottom calc(100% - 5px)
    //         left calc(50% - 4px)
    //         content ''
    //         background-color #c2d2dd
    //         size 6px
    //         transform rotate(45deg)
    //         z-index 1
.tooltipBig
    display inline-block
    position absolute
    border-radius 2px
    color #4b6372
    font-family Helvetica
    font-size 12px
    margin-top 10px
    font-weight 400
    width 545px
    &:before
        display block
        content ''
        position absolute
        width 100%
        height 100%
        box-shadow 0 1px 10px rgba(38, 33, 22, 0.35)
    &Header
        background-color #c2d2dd
        padding 20px 35px
        color #505b61
        font-family Helvetica
        font-size 17px
        font-weight 300
    &Content
        padding 20px 35px
        color #32373a
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 20px
    &:after
        display block
        position absolute
        bottom calc(100% - 5px)
        left 20%
        content ''
        background-color #c2d2dd
        size 10px
        transform rotate(45deg)
