.chats
    display block
    position absolute
    bottom 20px
    right 20px
    z-index 5000
.chat
    display block
    float left
    margin-right 20px
    margin-bottom 20px
    border-radius 5px
    box-shadow 0 1px 8px rgba(30, 14, 0, 0.11)
    size 375px 279px
    z-index 6000

.chatHeader
    display block
    position relative
    background-color #b2d4dc
    border-radius 5px 5px 0 0
    padding 14px 17px 10px
    box-shadow 0 1px 5px rgba(30, 14, 0, 0.11)
    z-index 6001
    clear fix
    &:after
        display block
        position absolute
        content ''
        width 100%
        height 1px
        bottom 0
        left 0
        box-shadow 0 1px 5px rgba(30, 14, 0, 0.11)

.chatHeaderTitle
    display inline-block
    vertical-align middle
    color #5b6a78
    font-family Helvetica
    font-size 13px
    font-weight 400
    line-height 20px
.chatHeaderButton
    display block
    position absolute
    right 15px
    top calc(50% - 10px)
    button
        margin-left 15px

.chatContent
    display block
    height 190px
    //background-color #F3FCFF
    background-color #FFF

.chatContentScroll
    padding 10px 10px
    .messangerChatItemTime
        display none
    .messangerMessageBlue, .messangerMessageWhite
        box-shadow 0 1px 5px rgba(30, 14, 0, 0.11)

.chatInput
    display block
    position relative
    height 45px
    border-top 1px solid #b2d4dc
    background-color #F3FCFF
    input
        display inline-block
        border 0
        outline 0
        width 100%
        font-family Helvetica
        font-size 13px
        height 45px
        line-height 13px
        font-weight 400
        padding 9px 50px 9px 10px
        color #606878
        background-color transparent
.chatInputButton
    display block
    position absolute
    right 15px
    top calc(50% - 10px)
    button
        margin-left 10px
