.messangerChat
    display block
    width calc(100% - 400px)
    float left
    height calc(100vh - 234px)
.messangerChatBar
    display block
    background-color #f9fafb
    height 61px
    padding 18px
    clear fix
.messangerChatBarName
    display inline-block
    vertical-align middle
    color #5b6a78
    font-family Helvetica
    font-size 13px
    font-weight 400
    line-height 13px
    padding-top 8px
.messangerChatBarButton
    display inline-block
    vertical-align middle
    float right
    &Item
        display inline-block
        cursor pointer
        svg
            margin-left 10px
            size 25px 22px
            fill #5c6b7b

.messangerChatFooter
    display block
    background-color #f9fafb
    height 200px
    padding 20px 30px
    clear fix
.messangerChatForm
    display block
    position relative
    width 545px
    //height 125px
    border 1px solid #b3d4db
    border-radius 4px
    textarea
        min-height 75px
        border 0
        padding-bottom 50px
        &:focus, &:hover
            border 0
    &Bar
        display block
        width 100%
        background-color #b2d4dc
        border-radius 0 0 4px 0
        clear fix
        button
            float right
            border-radius 0 0 4px 0
.messangerChatMessages
    display block
    height calc(100% - 261px)
    padding 0
.messangerChatMessagesScroll
    padding 20px 30px
.messangerChatItem
    display block
    margin-bottom 15px
    width 100%
    clear fix
    &Time
        float right
        width 50px
        padding-top 13px
        color #96a3af
        font-family Helvetica
        font-size 11px
        font-weight 400
    &Date
        display inline-block
        float right
        margin-right 22px
        margin-bottom 15px
        text-align right
        padding-top 13px
        color #96a3af
        font-family Helvetica
        font-size 11px
        font-weight 600
    &Line
        display block
        margin-top 18px
        margin-right 20px
        float right
        width 70%
        height 1px
        opacity .3
        background-color #96a3af
.messangerMessageWhite
    display inline-block
    max-width calc(100% - 74px)
    float right
    position relative
    margin-right 20px
    color #96a3af
    font-family Helvetica
    font-size 13px
    font-weight 400
    line-height 16px
    padding 10px 20px 7px
    background #fff
    border-radius 4px
    border 1px solid #eee9e9
    &:after, &:before
    	left 100%
    	top 16px
    	border solid transparent
    	content " "
    	height 0
    	width 0
    	position absolute
    	pointer-events none
    &:after
    	border-color rgba(255, 255, 255, 0)
    	border-left-color #ffffff
    	border-width 8px
    	margin-top -8px

    &:before
    	border-color rgba(238, 233, 233, 0)
    	border-left-color #eee9e9
    	border-width 9px
    	margin-top -9px

.messangerMessageBlue
    display inline-block
    max-width calc(100% - 124px)
    float left
    position relative
    margin-left 20px
    color #96a3af
    font-family Helvetica
    font-size 13px
    font-weight 400
    line-height 16px
    padding 10px 20px 7px
    background-color #f3fcff
    border-radius 4px
    border 1px solid #f3fcff
    &:after, &:before
    	right 100%
    	top 16px
    	border solid transparent
    	content " "
    	height 0
    	width 0
    	position absolute
    	pointer-events none
    &:after
    	border-color rgba(255, 255, 255, 0)
    	border-right-color #f3fcff
    	border-width 8px
    	margin-top -8px

    &:before
    	border-color rgba(238, 233, 233, 0)
    	border-right-color #f3fcff
    	border-width 9px
    	margin-top -9px

.messangerMessageAvatar
    display block
    position relative
    size 34px
    border-radius 50%
    float left
    img
        size 34px
        border-radius 50%
