.messangerBar
    display block
    padding 45px 20px
    border-bottom 1px solid rgba(210, 220, 228, .6)
    clear fix

.messangerBarSearch
    display inline-block
    vertical-align middle
    margin-right 40px
    &Button
        display inline-block
        position relative
        width 290px
        input
            width 100%
        button
            display block
            top 1px
            right 2px
            position absolute
            padding 9px 8px 7px

.messangerBarDropdown
    display inline-block
    vertical-align middle
    margin-right 40px
    padding-top 5px

.messangerBarRange
    display inline-block
    vertical-align middle
.messangerBarRangeSlider
    display inline-block
    vertical-align middle
    margin-left 10px
    width 200px
    margin-top -3px

.messangerBarRangeUnit
    display inline-block
    vertical-align middle
    color #3e6372
    font-family Helvetica
    font-size 13px
    font-weight 400
    line-height 24px
