.messangerUsers
    display block
    float left
    width 400px
    height calc(100vh - 234px)
    //height 100%
    //.DS_Storemin-height 100%
    overflow-y auto
    clear fix
.messangerUserScroll
    display block
    position relative
    height 100%
    width 100%
    padding-right 12px
.messangerUser
    display block
    position relative
    overflow hidden
    border-bottom 1px solid rgba(210, 220, 228, .6)

    padding 23px 28px
    clear fix
    &:hover
        background-color #f3fcff
        .messangerUserMenu
            transform translateX(0%)
.messangerUserActive
    background-color #f3fcff
    &:hover
        .messangerUserMenu
            transform translateX(100%)
.messangerUserAvatar
    display table-cell
    vertical-align top
    padding-right 20px
.messangerUserImage
    display block
    position relative
    size 34px
    border-radius 50%
    img
        size 34px
        border-radius 50%
    .messangerUserStatus
        display block
        position absolute
        size 14px
        border-radius 50%
        background-color #FFF
        border 2px solid white
        bottom -4px
        right -4px
.messangerUserText
    display table-cell
    vertical-align top


.messangerUserName
    color #5b6a78
    font-size 13px
    font-family Helvetica
    font-weight 400
    margin-bottom 7px
    span
        display inline-block
        vertical-align middle
        margin-left 10px
        color #ff6900
        font-family Helvetica
        font-size 13px
        line-height 13px
        font-weight 700
        padding 2px 8px 1px
        border-radius 10px
        border 2px solid #ff6900
.messangerUserStart
    color #92a0ad
    font-size 12px
    font-family Helvetica
    font-weight 400
    margin-bottom 5px
.messangerUserLocation
    color #7b838c
    font-family Helvetica
    font-size 12px
    font-weight 300
    svg
        size 8px 9px
        opacity 0.3
        fill #4e606e
        margin-right 2px

.messangerUserMenu
    display inline-block
    position absolute
    height 100%
    top 0
    right 0
    transition all .4s
    transform translateX(100%)
    background-color #3e6372
    padding 0 20px
    &Item
        display block
        position relative
        cursor pointer
        float left
        top calc(50% - 9px)
        margin-right 20px
        &:last-child
            margin-right 0px
    svg
        vertical-align middle
        size 21px 18px
        fill #b2d4dc
