	.posts > .postAdd > .postAddForm .tab-content > .tab-pane {
		display: none;
	}
	
	.posts > .postAdd > .postAddForm .tab-content > .tab-pane.active {
		display: block;
	}
	
	.posts > .postAdd > .postAddForm ul.nav.nav-tabs {
		display: none;
	}