.buttonSocial
    display block
    position relative
    width 100%
    border-radius 3px
    color white
    font-family Helvetica
    font-size 14px
    font-weight 400
    height 45px
    border 0
    outline 0
    background-size 30px 25px
    background-repeat no-repeat
    background-position left 10px center
    &:hover
        box-shadow 0 1px 2px rgba(69, 32, 1, 0.4)
    &:after
        display block
        position absolute
        content ''
        width 1px
        top center
        left 50px
        height 35px

.buttonSocialVk
    @extend .buttonSocial
    background-color #4e759d
    background-image inline("soc_vk.svg")
    &:hover
        background-color darken(#4e759d, 20%)
    &:after
        background-color lighten(#4e759d, 20%)
        border-right 1px solid darken(#4e759d, 30%)

.buttonSocialOk
    @extend .buttonSocial
    background-color #fa8e12
    background-image inline("soc_ok.svg")
    &:hover
        background-color darken(#fa8e12, 20%)
    &:after
        background-color lighten(#fa8e12, 20%)
        border-right 1px solid darken(#fa8e12, 20%)
.buttonSocialFb
    @extend .buttonSocial
    background-color #4065b4
    background-image inline("soc_fb.svg")
    &:hover
        background-color darken(#4065b4, 20%)
    &:after
        background-color lighten(#4065b4, 20%)
        border-right 1px solid darken(#4065b4, 30%)
.buttonSocialMail
    @extend .buttonSocial
    background-color #3767b1
    background-image inline("soc_mail.svg")
    &:hover
        background-color darken(#3767b1, 20%)
    &:after
        background-color lighten(#3767b1, 20%)
        border-right 1px solid darken(#3767b1, 30%)
