<head>
	<title>Happy Family</title>
	<base href="/" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<!--<link href="./css/blocks.css" type="text/css" rel="stylesheet">-->
	<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
	<link rel="shortcut icon" href="favicon.ico">
    <!--todo перенести в рабочий код-->
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css"/>
	<link rel="apple-touch-icon-precomposed" href="favicon-152.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="favicon-144.png">
	<meta name="msapplication-square70x70logo" content="favicon-70.png">
	<meta name="msapplication-square150x150logo" content="favicon-150.png">
	<meta name="msapplication-square310x310logo" content="favicon-310.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
	<link rel="apple-touch-icon-precomposed" href="favicon-57.png">
	<!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
	<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
	<script>
		function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}
	</script>
	<script>
		loadFont('FontPack', 'css/woff.css');
	</script>
	<script>
		;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
	</script>
</head>

<body ng-app="hf-client">
	<ui-view></ui-view>
	<!--<div ng-include="'client/html/index.ng.html'"></div>-->
	<!--<script src="./js/vendor.js"></script>
	<script src="./js/index.js"></script>-->
</body>