.wrap-dd-select
    display inline-block
    position relative
    width auto
    padding 0px 20px 10px 0px
    user-select none
    cursor pointer
    outline none
    color #4b6372
    font-family Helvetica
    font-size 13px
    font-weight 400
    line-height 20px
    height 20px
    span
        //width calc(100% - 20px)
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
    &.disabled
        cursor default
        color #5B6A7D
        &:after
            border none
    &:after
        content ""
        size 12px 6px
        top 7px
        right 0
        position absolute
        background-repeat no-repeat
        background-image inline("iconArrowDown.png")
        background-position center center
    .dropdown
        position absolute
        top 0
        left 0
        right 0
        z-index 10
        background-color #f9fafb
        padding 5px 0px
        background-color #FFF
        box-shadow 1px 1px 5px rgba(32, 22, 0, 0.35)
        color #343f4b
        font-family Helvetica
        font-size 13px
        line-height 20px
        font-weight 400
        list-style none
        visibility hidden
        border-radius 20px
        min-width 200px
        z-index 1000
        text-align left
        clear fix
        li
            display block
            padding 0 5px
            white-space nowrap
            clear fix
            &.divider
                padding 2px 20px
                background #e6e8ea
            &.divider-label
                cursor default
                color #919191
                font-family Helvetica
                font-size 14px
                padding 10px 25px 5px
                &:first-child
                    border-radius 20px 20px 0 0
                    margin-top -5px
            a
                display inline-block
                padding 7px 20px 6px
                text-decoration none
                color #343f4b
                line-height 20px
                cursor pointer
                border 1px solid transparent
                width 100%
                height 100%
                div
                    vertical-align middle
            i
                float right
                color inherit
            &:hover
                a
                    background-color #e0e4e7
                    border 1px solid #d2dde4
                    border-radius 15px

    &.active
        .dropdown
            visibility visible

.wrap-dd-menu
    position relative
    width 200px
    margin 0 auto
    padding 10px
    &.disabled
        cursor default
        color #5B6A7D
    .dropdown
        position absolute
        z-index 1
        top 70%
        left 0
        right 0
        background white
        padding 0
        border-radius 7px
        border 1px solid rgba(0,0,0,0.17)
        box-shadow 0 0 5px rgba(0,0,0,0.1)
        font-weight normal
        list-style none
        visibility hidden
        li
            &.divider
                padding 2px 0
                background #e6e8ea
            &.divider-label
                background #e6e8ea
                cursor default
                color #000
                padding 10px 0
            a
                display block
                padding 10px
                text-decoration none
                color #8aa8bd
                border-bottom 1px solid #e6e8ea
                box-shadow inset 0 1px 0 rgba(255,255,255,1)
                cursor pointer
            i
                float right
                color inherit
            &:first-of-type
                a
                    border-radius 7px 7px 0 0
            &:last-of-type
                a
                    border-radius 0 0 7px 7px
                    border none
            &:hover
                a
                    background #f3f8f8
        &:after
            content ""
            width 0
            height 0
            position absolute
            bottom 100%
            right 102px
            border-width 0 6px 6px 6px
            border-style solid
            border-color #fff transparent
        &:before
            content ""
            width 0
            height 0
            position absolute
            bottom 100%
            right 100px
            border-width 0 8px 8px 8px
            border-style solid
            border-color rgba(0,0,0,0.1) transparent
        &.active
            visibility visible
