
.select2-container
    .select2-choice
        .select2-arrow
            display inline-block
            width select2ArrowWidth
            height select2ArrowHeight
            position absolute
            right 0
            top 0
            //border-left select2BorderSize select2BorderType select2BorderColor
            border-radius 0 select2BorderRadius select2BorderRadius 0
            background-position left center
            background select2ArrowBackgroundStartColor
            // background-image filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0)
            // background-image linear-gradient(to top, select2ArrowBackgroundStartColor 0%, select2ArrowBackgroundFinishColor 60%)
            html[dir="rtl"]
                left 0
                right auto
                border-left none
                border-right select2BorderSize select2BorderType select2BorderColor
                border-radius select2BorderRadius 0 0 select2BorderRadius
            b
                display block
                width 100%
                height 100%
                background select2ArrowBackgroundImages no-repeat center center
                html[dir="rtl"]
                    background-position center center
