.select2-container-multi
    .select2-search-choice
            padding select2LabelPadding
            margin select2LabelMargin
            position relative
            line-height select2LabelHeight
            color select2LabelColor
            cursor default
            // border select2LabelBorderSize select2LabelBorderType select2LabelBorderColor
            // border-radius select2LabelBorderRadius
            // box-shadow select2LabelShadow
            // background-clip padding-box
            touch-callout none
            user-select none
            // background-color #e4e4e4
            //background-image select2LabelBackgroundGradient
            html[dir="rtl"]
                margin-left: 0;
                margin-right: 5px;
            .select2-chosen
                cursor default
        .select2-search-choice-focus
            background #d4d4d4

.select2-search-choice-close
    display block
    width 12px
    height 20px
    height select2LabelHeight
    position absolute
    right 0px
    top 2px
    font-size 0px
    outline none
    background-position center center
    background-image inline('iconSelectDelete.png')
    background-repeat no-repeat
    //background-color grey
    html[dir="rtl"]
        right auto
        left 3px
// - hover state
// .select2-container-multi
//     .select2-choices
//         .select2-search-choice
//             .select2-search-choice-close
//                 &:hover
//                     background inline('iconSelectDelete.png') right top no-repeat
//         .select2-search-choice-focus
//             background inline('iconSelectDelete.png') right top no-repeat
