.select2-results
    max-height 200px
    padding 0
    margin  0
    position relative
    overflow-x hidden
    overflow-y auto
    color #606878
    tap-highlight-color rgba(0, 0, 0, 0)
    font-family  select2ResultFont
    font-size select2ResultFontSize
    html[dir="rtl"]
        padding 0 4px 0 0
        margin 4px 0 4px 4px

    ul
        &.select2-result-sub
            margin 0
            padding-left 0
    li
        list-style none
        display list-item
        background-image none
        &.select2-result-with-children
            & > .select2-result-label
                font-weight bold
    .select2-result-label
        padding 9px 12px
        margin 0
        cursor pointer
        min-height 1em
        touch-callout none
        user-select none

    .select2-highlighted
        background select2ResultHighlightedBackgroundColor
        color select2ResultHighlightedColor
        em
            background transparent
        ul
            background select2ResultHighlightedBackgroundColor
            color #606878
            li
                em
                    background #feffde
                    font-style normal
    .select2-no-results,
    .select2-searching,
    .select2-selection-limit
        background #f4f4f4
        display list-item
        padding-left 12px


.select2-results-dept-1
    .select2-result-label
        padding-left 20px

.select2-results-dept-2
    .select2-result-label
        padding-left 40px

.select2-results-dept-3
    .select2-result-label
        padding-left 60px

.select2-results-dept-4
    .select2-result-label
        padding-left 80px

.select2-results-dept-5
    .select2-result-label
        padding-left 100px

.select2-results-dept-6
    .select2-result-label
        padding-left 110px

.select2-results-dept-7
    .select2-result-label
        padding-left 120px
