<div class='content'>
	<div class="uiItem">
		<h2>Modals</h2>
		<button ng-click="openCompleteSignUp(user)" class="buttonOrange">openCompleteSignUp</button>
		<button ng-click="openLogin()" class="buttonOrange">openLogin</button>
		<button ng-click="openNewPassword()" class="buttonOrange">openNewPassword</button>
		<button ng-click="openReset()" class="buttonOrange">openReset</button>
		<button ng-click="openRestore()" class="buttonOrange">openRestore</button>
	</div>
	<div class="uiItem">
		<h2>button Orange</h2>
		<button class="buttonOrange">Super button</button>
	</div>
	<div class="uiItem">
		<h2>button Orange Disabled</h2>
		<button disabled class="buttonOrange">Super button</button>
	</div>
	<div class="uiItem">
		<h2>link Orange</h2><a href="#" class="buttonOrange">Super button</a>
	</div>
	<div class="uiItem">
		<h2>button Orange small</h2>
		<button class="buttonOrangeSmall">Super button</button>
	</div>
	<div class="uiItem">
		<h2>button Orange Disabled</h2>
		<button disabled class="buttonOrangeSmall">Super button</button>
	</div>
	<div class="uiItem">
		<h2>link SmallOrange</h2><a href="#" class="buttonOrangeSmall">Super button</a>
	</div>
	<div class="uiItem">
		<h2>button Grey</h2>
		<button class="buttonGrey">Super button</button>
	</div>
	<div class="uiItem">
		<h2>button Grey</h2>
		<button disabled class="buttonGrey">Super button</button>
	</div>
	<div class="uiItem">
		<h2>button Blue Bayoux</h2>
		<button class="buttonBlueBayoux">Super button</button>
	</div>
	<div class="uiItem">
		<h2>Group button</h2>
		<div class="buttonGroup">
			<button class="buttonGrey">Super button</button>
			<button class="buttonGrey">Super button</button>
			<button class="buttonGrey">Super button</button>
		</div>
	</div>
	<div class="uiItem">
		<h2>Group button with disabled</h2>
		<div class="buttonGroup">
			<button class="buttonGrey">Super button</button>
			<button class="buttonGrey">Super button</button>
			<button disabled class="buttonGrey">Super button</button>
		</div>
	</div>
	<div class="uiItem">
		<h2>Group small button with disabled</h2>
		<div class="buttonGroup">
			<button class="buttonOrangeSmall">Super button</button>
			<button class="buttonOrangeSmall">Super button</button>
			<button class="buttonOrangeSmall">Super button</button>
		</div>
	</div>
	<div class="uiItem">
		<h2>Group small button with disabled</h2>
		<div class="buttonGroup">
			<button class="buttonOrangeSmall">Super button</button>
			<button class="buttonOrangeSmall">Super button</button>
			<button disabled class="buttonOrangeSmall">Super button</button>
		</div>
		<div class="uiItem">
			<h2>Simple input</h2>
			<input class="input">
		</div>
		<div class="uiItem">
			<h2>Simple input with placeholder</h2>
			<input placeholder="Simple input" class="input">
		</div>
		<div class="uiItem">
			<h2>Simple input with placeholder and disable</h2>
			<input placeholder="Simple input" disabled class="input">
		</div>
		<div class="uiItem">
			<h2>Simple input error</h2>
			<input placeholder="Simple input" class="input inputError">
		</div>
		<div class="uiItem">
			<h2>Simple input and float label</h2>
			<div class="inputGroupFloat">
				<label class="labelFloat">Как Вас зовут?</label>
				<input placeholder="Simple input" class="input inputError">
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple input error and float error label</h2>
			<div class="inputGroupFloat">
				<label class="labelFloat labelFloatError">Введите Вашу фамилию</label>
				<input placeholder="Simple input" class="input inputError">
			</div>
		</div>
		<div class="uiItem">
			<h2>Big input</h2>
			<input class="inputBig">
		</div>
		<div class="uiItem">
			<h2>Big input with placeholder</h2>
			<input placeholder="Simple input" class="inputBig">
		</div>
		<div class="uiItem">
			<h2>Big input with placeholder and disable</h2>
			<input placeholder="Simple input" disabled class="inputBig">
		</div>
		<div class="uiItem">
			<h2>Big input error</h2>
			<input placeholder="Simple input" class="inputBig inputError">
		</div>
		<div class="uiItem">
			<h2>Simple input and float label</h2>
			<div class="inputGroupFloat">
				<label class="labelBigFloat">Как Вас зовут?</label>
				<input placeholder="Simple input" class="inputBig inputError">
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple input error and float error label</h2>
			<div class="inputGroupFloat">
				<label class="labelBigFloat labelFloatError">Введите Вашу фамилию</label>
				<input placeholder="Simple input" class="inputBig inputError">
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple select</h2>
			<select class="chosen-select">
				<option>Option One</option>
				<option>Option Two</option>
				<option>Option Three</option>
			</select>
		</div>
		<div class="uiItem">
			<h2>Multi select</h2>
			<select multiple class="chosen-select-search">
				<option>Option One</option>
				<option>Option Two</option>
				<option>Option Three</option>
			</select>
		</div>
		<div class="uiItem">
			<h2>Multi select with button</h2>
			<div class="selectButton">
				<select multiple class="chosen-select-search">
					<option>Option One</option>
					<option>Option Two</option>
					<option>Option Three</option>
				</select>
				<button class="buttonSelect"></button>
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple small select</h2>
			<select class="chosen-select chosen-select-small">
				<option>Option One</option>
				<option>Option Two</option>
				<option>Option Three</option>
			</select>
		</div>
		<div class="uiItem">
			<h2>Multi select</h2>
			<select multiple class="chosen-select-search chosen-select-small">
				<option>Option One</option>
				<option>Option Two</option>
				<option>Option Three</option>
			</select>
		</div>
		<div class="uiItem">
			<h2>Multi select with button</h2>
			<div class="selectButton">
				<select multiple class="chosen-select-search chosen-select-small">
					<option>Option One</option>
					<option>Option Two</option>
					<option>Option Three</option>
				</select>
				<button class="buttonSelect"></button>
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple round checkbox</h2>
			<input i-check ng-model="model.checks.value1" round="round" type="checkbox" ng-true-value="'expression'" ng-false-value="'yes'">
		</div>
		<div class="uiItem">
			<h2>Simple box checkbox</h2>
			<input i-check ng-model="model.checks.value2" type="checkbox" ng-true-value="'1+3'" ng-false-value="1-3">
		</div>
		<div class="uiItem">
			<h2>Simple round checkbox</h2>
			<input i-check ng-model="model.iRadio" round="round" value="false" type="radio" name="radio">
			<input i-check ng-model="model.iRadio" round="round" value="true" type="radio" name="radio">
		</div>
		<div class="uiItem">
			<h2>Simple box checkbox</h2>
			<input i-check ng-model="model.iRadio" value="false" type="radio" name="radio">
			<input i-check ng-model="model.iRadio" value="true" type="radio" name="radio">
		</div>
		<div class="uiItem">
			<h2>Simple datepicker</h2>
			<input id="datetimepicker" class="input">
		</div>
		<div class="uiItem">
			<h2>Simple range</h2>
			<div class="slider">
				<div id="slider-tooltip"></div>
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple Vertical range</h2>
			<div class="slider sliderVertical">
				<div id="slider-tooltip-vertical"></div>
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple tooltip Up</h2>
			<div class="tooltipWrap">
				<div class="tooltipUp">Tooltip Simple Up</div>
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple tooltip Down</h2>
			<div class="tooltipWrap">
				<div class="tooltipDown">Tooltip Simple Down</div>
			</div>
		</div>
		<div class="uiItem">
			<h2>Simple Big Tooltip</h2>
			<div class="tooltipWrap">
				<div class="tooltipBig">
					<div class="tooltipBigHeader">Tooltip Header</div>
					<div class="tooltipBigContent">Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo
						quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
				</div>
			</div>
		</div>
		<div class="uiItem">
			<h2>Loader</h2>
			<div class="loader"></div>
		</div>
		<div>
			<input type="text" ng-model="someUserId" />
			<div m-obj m-obj-id="{{someUserId}}" ng-model="someUser" m-collection="coll" m-subscription="{{subName}}">
				{{ someUser | json }}
			</div>
			<textarea>

			</textarea>
		</div>
	</div>
</div>