<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="arrow" viewBox="0 0 30 26">
          <title>arrow icon</title>
          <g fill-rule="evenodd"><path d="M6.65.82H0l12.256 12.164L0 25.18h6.62l12.34-12.196-2.243-2.217L6.65.82z"/><path d="M17.65.82H11l12.256 12.164L11 25.18h6.62l12.34-12.196-2.243-2.217L17.65.82z"/></g>
        </symbol>
        <symbol id="hamburger" viewBox="0 0 48 36">
          <title>hamburger icon</title>
          <g fill-rule="evenodd" opacity=".8"><path d="M0 0h48v7H0zM0 14h48v7H0zM0 29h48v7H0z"/></g>
        </symbol>
        <symbol id="iconAddress" viewBox="0 0 12 15">
          <title>iconAddress icon</title>
          <path d="M6.227 8.217c.69 0 1.278-.243 1.766-.73.487-.49.73-1.077.73-1.767s-.243-1.277-.73-1.765c-.488-.488-1.077-.732-1.766-.732-.69 0-1.278.244-1.765.732-.488.488-.732 1.076-.732 1.765 0 .69.244 1.278.732 1.766.487.488 1.076.73 1.765.73zm-.445-7.31c.728.007 1.43.153 2.107.44.675.285 1.254.67 1.735 1.15.48.48.868 1.06 1.16 1.736.287.664.43 1.346.43 2.05.007.7-.1 1.416-.322 2.144-.22.73-.5 1.4-.84 2.01-.714 1.294-1.51 2.377-2.388 3.248-.878.865-1.49 1.297-1.834 1.297-.344 0-.867-.33-1.57-.995-1.228-1.157-2.188-2.435-2.877-3.833C.693 8.756.35 7.488.35 6.35c0-.74.142-1.447.428-2.117.293-.676.68-1.255 1.16-1.736.482-.48 1.06-.865 1.737-1.15.677-.287 1.38-.433 2.107-.44z" fill-rule="evenodd"/>
        </symbol>
        <symbol id="logo" viewBox="0 0 35.31 46">
          <title>logo icon</title>
          <defs><path id="a" d="M20.17 28.86V20.4c0-6.66-2.55-10.8-8.69-10.8-2.52 0-4.43.94-5.44 2.07V.92L0 4.02V46h6.05V20.8c0-4.09 1.45-5.35 4.06-5.35 2.61 0 4.01 1.26 4.01 5.49v12.78l6.05-4.86z"/></defs><use xlink:href="#a" overflow="visible"/><clipPath><use xlink:href="#a" overflow="visible"/></clipPath><path d="M35.31 8V5h-4.04V0h-4.03v5H23.2v3h4.04v4h4.03V8h4.04z"/>
        </symbol></svg>
</body>