extends _layout

block content
    
    .main
        include block/sidebar
        .content
            .posts
                .postAdd(ng-controller="postAddCtrl")
                    .postAddCreate
                        | Создать  событие  в  профессианальной  теме
                    .postAddForm
                        .postAddFormTextarea
                            textarea
                        .postAddFormFooter
                            .postAddFormFooterItems
                                button.buttonFormFooter
                                    +svgIcon('iconAttach')
                                button.buttonFormFooter.buttonFormFooterActive
                                    +svgIcon('iconCalendar')
                                button.buttonFormFooter
                                    +svgIcon('iconMap')
                                button.buttonFormFooter
                                    +svgIcon('iconPeople')
                                button.buttonFormFooter
                                    +svgIcon('iconConnect')
                                .postAddFooterSelect(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')
                            .postAddFormFooterButton
                                button.buttonBlueBayoux Опубликовать
                        .postAddFormDate
                            .postAddFormDateInputs
                                .postAddFormDateInput
                                    .inputWithIcon
                                        input.input#addPostStartDate(placeholder="Дата начала")
                                        span
                                            +svgIcon('iconCalendar')
                                .postAddFormDateInput
                                    | –
                                .postAddFormDateInput
                                    .inputWithIcon
                                        input.input#addPostStartEnd(placeholder="Дата окончания")
                                        span
                                            +svgIcon('iconCalendar')
                                    
                                .postAddFormDateButton
                                    button.buttonRoundSmall
                                        +svgIcon('iconCheck')
                include block/post/post.jade
                
