extends _layout

block content
    
    .main
        include block/sidebar
        .content
            .posts
                .postAdd(ng-controller="postAddCtrl")
                    .postAddCreate
                        | Создать  событие  в  профессианальной  теме
                    .postAddForm
                        .postAddFormTextarea
                            textarea
                        .postAddFormFooter
                            .postAddFormFooterItems
                                button.buttonFormFooter
                                    +svgIcon('iconAttach')
                                button.buttonFormFooter
                                    +svgIcon('iconCalendar')
                                button.buttonFormFooter
                                    +svgIcon('iconMap')
                                button.buttonFormFooter.buttonFormFooterActive
                                    +svgIcon('iconPeople')
                                button.buttonFormFooter
                                    +svgIcon('iconConnect')
                                .postAddFooterSelect(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')
                            .postAddFormFooterButton
                                button.buttonBlueBayoux Опубликовать
                        .postAddFormPeople
                            .postAddFormPeopleInput
                                .selectWithIcon
                                    ui-select(multiple='', ng-model='multipleDemo.colors', theme='select2', ng-disabled='disabled', close-on-select='false', style='width: 100%', title='Choose a color')
                                        ui-select-match(placeholder='Select colors...') {{$item}}
                                        ui-select-choices(repeat='color in availableColors | filter:$select.search') {{color}}
                                
                                    .icon
                                        +svgIcon('iconPeoples')
                                    
                include block/post/post.jade
                
