extends _layout

block content
    
    .main
        include block/sidebar
        .content
            .posts
                .postAdd(ng-controller="postAddCtrl")
                    .postAddCreate
                        | Создать  событие  в  профессианальной  теме
                    .postAddForm
                        .postAddFormTextarea
                            textarea
                        .postAddFormFooter
                            .postAddFormFooterItems
                                button.buttonFormFooter
                                    +svgIcon('iconAttach')
                                button.buttonFormFooter
                                    +svgIcon('iconCalendar')
                                button.buttonFormFooter
                                    +svgIcon('iconMap')
                                button.buttonFormFooter
                                    +svgIcon('iconPeople')
                                button.buttonFormFooter.buttonFormFooterActive
                                    +svgIcon('iconConnect')
                                .postAddFooterSelect(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')
                            .postAddFormFooterButton
                                button.buttonBlueBayoux Опубликовать
                        .postAddFormEvent
                            .postAddFormDropzone
                                .postAddFormDropzoneWrap
                                    .postAddFormDropzoneText
                                        | Нажмите
                                        span
                                            button.buttonRound
                                                +svgIcon('iconLink')
                                        | и создайте связь событий
                            .postAddFormEventInputs
                                .postAddFormEventInputColumn
                                    .inputWithIcon
                                        input.input(placeholder="Событие")
                                        span
                                            +svgIcon('iconSearch')
                                    .inputWithIcon
                                        input.input(placeholder="Дата события")#addPostStartDate
                                        span
                                            +svgIcon('iconCalendar')
                                .postAddFormEventInputColumn
                                    .selectWithIcon
                                        ui-select(multiple='', ng-model='userChoise.name', theme='select2', ng-disabled='disabled', close-on-select='false', style='width: 295px;', title='Choose a color')
                                            ui-select-match(placeholder='Select colors...') {{$item}}
                                            ui-select-choices(repeat='name in availableNames | filter:$select.search') {{name}}
                                    
                                        .icon
                                            +svgIcon('iconPeoples')
                                    .inputWithIcon
                                        input.input(placeholder="Место события")
                                        span
                                            +svgIcon('iconMap')
                include block/post/post.jade
                
