extends _layout

block content
    
    .main
        include block/sidebar
        .content
            .posts
                .postAdd(ng-controller="postAddCtrl")
                    .postAddCreate
                        | Создать  
                        a(href="#" popover="On the Top!" popover-placement="bottom") событие
                        |  в  
                        a(href="#" popover="On the Top!" popover-placement="bottom") профессианальной
                        |  теме
                    .postAddForm
                        .postAddFormHeader
                            input(placeholder="Название события")
                            span
                                +svgIcon('iconDelete')
                        .postAddFormTextarea
                            textarea
                            .postAddFormTextareaPlaceholder
                                | Опишите событие
                        .postAddFormFooter
                            .postAddFormFooterItems
                                button.buttonFormFooter
                                    +svgIcon('iconAttach')
                                button.buttonFormFooter
                                    +svgIcon('iconCalendar')
                                button.buttonFormFooter
                                    +svgIcon('iconMap')
                                button.buttonFormFooter
                                    +svgIcon('iconPeople')
                                button.buttonFormFooter
                                    +svgIcon('iconConnect')
                                .postAddFooterSelect(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')
                            .postAddFormFooterButton
                                button.buttonBlueBayoux Опубликовать
                .lentaFilter(ng-controller="postAddCtrl")        
                    .lentaFilterRow
                        .inputWithIcon
                            input.input(placeholder="Событие")
                            span
                                +svgIcon('iconSearch')
                        .selectWithIcon
                            ui-select(multiple='', ng-model='userChoise.name', theme='select2', ng-disabled='disabled', close-on-select='false', style='width: 295px;', title='Choose a color')
                                ui-select-match(placeholder='Select colors...') {{$item}}
                                ui-select-choices(repeat='name in availableNames | filter:$select.search') {{name}}
                        
                            .icon
                                +svgIcon('iconPeoples')
                        .dropdown(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')
                    .lentaFilterRow
                        
                        .inputWithIcon
                            input.input(placeholder="Дата события")#addPostStartDate
                            span
                                +svgIcon('iconCalendar')
                        .inputWithIcon
                            input.input(placeholder="Место события")
                            span
                                +svgIcon('iconMap')
                        .dropdown(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')        
                include block/post/post.jade
                
