extends _layout

block content
    
    .main
        include block/sidebar
        .content
            .posts
                .postAdd(ng-controller="postAddCtrl")
                    .postAddCreate
                        | Создать  событие  в  профессианальной  теме
                    .postAddForm
                        .postAddFormTextarea
                            textarea
                        .postAddFormFooter
                            .postAddFormFooterItems
                                button.buttonFormFooter.buttonFormFooterActive
                                    +svgIcon('iconAttach')
                                button.buttonFormFooter
                                    +svgIcon('iconCalendar')
                                button.buttonFormFooter
                                    +svgIcon('iconMap')
                                button.buttonFormFooter
                                    +svgIcon('iconPeople')
                                button.buttonFormFooter
                                    +svgIcon('iconConnect')
                                .postAddFooterSelect(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')
                            .postAddFormFooterButton
                                button.buttonBlueBayoux Опубликовать
                        .postAddFormFile
                            .postAddFormDropzone
                                .postAddFormDropzoneWrap
                                    .postAddFormDropzoneText
                                        | Перетащите файл сюда
                            .postAddFormFileInput
                                input(placeholder="Или выберите файл").input
                                button.buttonOrangeSmall Загрузить
                include block/post/post.jade
                
