extends _layout

block content
    
    .main
        include block/sidebar
        .content
            .posts
                .postAdd(ng-controller="postAddCtrl")
                    .postAddCreate
                        | Создать  событие  в  профессианальной  теме
                    .postAddForm
                        .postAddFormTextarea
                            textarea
                        .postAddFormFooter
                            .postAddFormFooterItems
                                button.buttonFormFooter
                                    +svgIcon('iconAttach')
                                button.buttonFormFooter
                                    +svgIcon('iconCalendar')
                                button.buttonFormFooter.buttonFormFooterActive
                                    +svgIcon('iconMap')
                                button.buttonFormFooter
                                    +svgIcon('iconPeople')
                                button.buttonFormFooter
                                    +svgIcon('iconConnect')
                                .postAddFooterSelect(dropdown-select='visibleSelectOptions', dropdown-model='visibleSelectOption', dropdown-item-label='text', style='max-width: 165px;')
                            .postAddFormFooterButton
                                button.buttonBlueBayoux Опубликовать
                        .postAddFormMap
                            .postAddFormMapInput
                                .inputWithIcon
                                    input.input(placeholder="Поиск мест")
                                    span
                                        +svgIcon('iconMap')
                            .postAddFormMapObjects
                                .mapObjectScroll
                                    .postAddFormMapObject
                                        
                                        | Картинг клуб Arena GP, Бумажный п-д 91, стр. 1,Москва
                                        span
                                            input(type='checkbox').icheckBox
                                    .postAddFormMapObject
                                        | Картинг клуб Arena GP, Бумажный п-д 91, стр. 1,Москва
                                        span
                                            .mapObjectRemarkable
                                                .mapObjectRemarkableClose
                                    .postAddFormMapObject
                                        | Картинг клуб Arena GP, Бумажный п-д 91, стр. 1,Москва
                                    .postAddFormMapObject
                                        | Картинг клуб Arena GP, Бумажный п-д 91, стр. 1,Москва
                                    .postAddFormMapObject
                                        | Картинг клуб Arena GP, Бумажный п-д 91, стр. 1,Москва
                                    
                include block/post/post.jade
                
