extends _layout

block content
    .main
        include block/sidebar
        .content
            .messanger
                include block/messager/messagerBar.jade
                .messangerContent
                    .messangerUsers
                        .messangerUserScroll
                            - for (var i = 0; i < 10; ++i) {
                                .messangerUser
                                    .messangerUserAvatar
                                        .messangerUserImage
                                            img(src="img/avatar.jpg", alt="")
                                            .messangerUserStatus
                                                .statusOnlineSmall
                                    .messangerUserText
                                        .messangerUserName Иван Чужой
                                        .messangerUserStart Был рад пообщаться снова с...
                                        .messangerUserLocation 
                                            +svgIcon('iconLocation')
                                            |Амстардам
                                    .messangerUserMenu
                                        .messangerUserMenuItem
                                            +svgIcon('iconChat')
                                        .messangerUserMenuItem
                                            +svgIcon('iconChatDelete')
                                        .messangerUserMenuItem
                                            +svgIcon('iconBlock')
                                .messangerUser
                                    .messangerUserAvatar
                                        .messangerUserImage
                                            img(src="img/avatar.jpg", alt="")
                                            .messangerUserStatus
                                                .statusBusySmall
                                    .messangerUserText
                                        .messangerUserName Иван Чужой
                                        .messangerUserStart 
                                            b Был рад пообщаться снова с...
                                            
                                    .messangerUserMenu
                                        .messangerUserMenuItem
                                            +svgIcon('iconEdit')
                                        .messangerUserMenuItem
                                            +svgIcon('iconChatDelete')
                                .messangerUser.messangerUserActive
                                    .messangerUserAvatar
                                        .messangerUserImage
                                            img(src="img/avatar.jpg", alt="")
                                            .messangerUserStatus
                                                .statusHelpSmall
                                    .messangerUserText
                                        .messangerUserName 
                                            b Иван Чужой
                                            span 2
                                        .messangerUserStart 
                                            b Был рад пообщаться снова с...
                                .messangerUser
                                    .messangerUserAvatar
                                        .messangerUserImage
                                            img(src="img/avatar.jpg", alt="")
                                            .messangerUserStatus
                                                .statusVirtualSmall
                                    .messangerUserText
                                        .messangerUserName 
                                            b Иван Чужой
                                            span 2
                                        .messangerUserStart 
                                            b Был рад пообщаться снова с...
                            - }
                    .messangerChat
                        .messangerChatBar
                            .messangerChatBarName
                                | Беседа с Фридрих
                            .messangerChatBarButton
                                .messangerChatBarButtonItem
                                    +svgIcon('iconChatAdd')
                                .messangerChatBarButtonItem
                                    +svgIcon('iconChatSearch')
                                .messangerChatBarButtonItem
                                    +svgIcon('iconChatExit')
                                .messangerChatBarButtonItem
                                    +svgIcon('iconChatRemove')
                        .messangerChatMessages
                            .messangerChatMessagesScroll
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageWhite
                                        | What do you mean man?
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 22:45
                                    .messangerMessageAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .messangerMessageBlue
                                        | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageWhite
                                        | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .messangerMessageBlue
                                        | One of them days
                                .messangerChatItem
                                    .messangerChatItemDate
                                        | Четверг, 21.06
                                    .messangerChatItemLine
                                        
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageWhite
                                        b What do you mean man?
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .messangerMessageBlue
                                        b One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageWhite
                                        | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .messangerMessageBlue
                                        | One of them daysv
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageWhite
                                        b What do you mean man?
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .messangerMessageBlue
                                        b One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageWhite
                                        | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                                .messangerChatItem
                                    .messangerChatItemTime
                                        | 13:25
                                    .messangerMessageAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .messangerMessageBlue
                                        | One of them daysv
                                
                        .messangerChatFooter
                            .messangerChatForm
                                textarea.textarea
                                .messangerChatFormBar
                                    button.buttonBlueBayoux Отправить
