extends _layout_modal

block content
    .modal
        .modal-small
            .modalClose
                button.buttonClose
            .modalHeader
                h1 Восстановление пароля
            .modalContent
                .modalForm
                    .modalFormHeader
                        h2 Вам выслано письмо со ссылкой восстановление пароля
                    .modalFormItem
                        button.buttonOrange Спасибо!
                        button.buttonGrey Перейти к gmail.com
    .main
        .sidebar
        .content
