extends _layout_modal

block content
    .modal
        .modalMedium
            .modalClose
                button.buttonClose
            .modalHeader
                h1 Восстановление пароля
            .modalContent
                .modalForm
                    .modalFormItem.modalFormItemFixInput
                        input.inputBig(type="text" placeholder="Ваш e-mail")
                        button.buttonOrange Восстановить пароль
    .main
        .sidebar
        .content
