extends _layout_modal

block content
    .modal
        .modal-small
            .modalClose
                button.buttonClose
            .modalHeader
                h1 Поздравляем!
            .modalContent
                .modalForm
                    .modalFormHeader
                        h2 Вы успешно зарегистрировались на  Happy-family.com
                    .modalFormItem
                        button.buttonOrange Заполнить профиль
                        button.buttonGrey Перейти к ленте
    .main
        .sidebar
        .content
