extends _layout_modal

block content
    .modal
        .modal-small
            .modalClose
                button.buttonClose
            .modalHeader
                h1 Создание нового пароля
            .modalContent
                .modalForm
                    .modalFormHeader
                        h2 Вы успешно зарегистрировались на  Happy-family.com
                    .modalFormItem
                        input.inputBig(type="password" placeholder="Пароль")
                    .modalFormItem
                        input.inputBig(type="password" placeholder="Подтвердите пароль")
                    .modalFormItem.modalFormItemRight
                        button.buttonOrange Сохранить
    .main
        .sidebar
        .content
