extends _layout_modal

block content
    .modal
        .modalWide
            .modalClose
                button.buttonClose
            .modalHeader
                h1 Войти
                p У вас еще нет аккаунта? 
                    a(href="#") Зарегистрируйтесь.
            .modalContent
                .modalColumn
                    .modalForm
                        .modalFormItem
                            input.inputBig(placeholder="E-mail")
                        .modalFormItem
                            input.inputBig(type="password" placeholder="Password")
                        .modalFormItem
                            .modalFormItemColumn
                                input(type="checkbox").icheckBox
                                label.labelCheckbox Чужой компьютер
                            .modalFormItemColumn.modalFormItemColumnRight
                                button.buttonOrange Войти
                        .modalFormItemLine
                        .modalFormItem
                            a(href="#").link Забыли пароль?
                .modalColumnOr
                    span или
                .modalColumn
                    .modalForm
                        .modalFormHeader
                            h2 Войти через социальную сеть
                        .modalFormItem
                            button.buttonSocialVk Войти через ВКонтакте
                        .modalFormItem
                            button.buttonSocialOk Войти через Одноклассники
                        .modalFormItem
                            button.buttonSocialFb Войти через Facebook
                        .modalFormItem
                            button.buttonSocialMail Войти через mail.ru
    .main
        .sidebar
        .content
