extends _layout

block content
    .main
        .sidebar
        .content
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                        .profileBannerInfoStatus
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation
                            +svgIcon('iconLocation')
                            | Москва
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileFollow
                    .profileFollowBar
                        .profileFollowBarItem
                            | Подписчики
                            span 7
                        .profileFollowBarItem
                            | Подписчики
                            span 123
                    .profileFollowItems
                        - for (var i = 0; i < 10; ++i) {
                            .profileFollowItem
                                .profileFollowItemAvatar
                                    img(src="img/avatar.jpg", alt="")
                                .profileFollowItemName
                                    | Константин Архангельский
                        - }
