extends _layout

block content
    .main
        .sidebar
        .content(ng-controller="DemoCtrl")
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar.profileBannerAvatarDropzoneOver
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                        .profileBannerInfoStatus.profileBannerInfoStatusEdit
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation.profileBannerInfoLocationEdit
                            +svgIcon('iconLocation')
                            | Указать местонахождение 
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileInfo
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Общая информация
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Фамилия в девичестве:
                            .profileInfoSectionItemRight
                                input.input(value="Спартанская")
                                .dropdown(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text')
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | День рождения:
                            .profileInfoSectionItemRight
                                ui-select(ng-model='date', theme='select2', ng-disabled='disabled', reset-search-input='false', style='width: 60px;', search-enabled='false')
                                    ui-select-match(placeholder='Select colors...') {{$select.selected}}
                                    ui-select-choices(repeat="date in dates | filter: $select.search") {{date}}
                                ui-select(ng-model='month', theme='select2', ng-disabled='disabled', reset-search-input='false', style='width: 105px;', search-enabled='false')
                                    ui-select-match(placeholder='Select colors...') {{$select.selected}}
                                    ui-select-choices(repeat="month in months | filter: $select.search") {{month}}
                                ui-select(ng-model='year', theme='select2', ng-disabled='disabled', reset-search-input='false', style='width: 78px;', search-enabled='false')
                                    ui-select-match(placeholder='Select colors...') {{$select.selected}}
                                    ui-select-choices(repeat="year in years | filter: $select.search") {{year}}
                                .dropdown(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text')
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место рождения
                            .profileInfoSectionItemRight
                                .profileInfoSectionSubItem
                                    ui-select(ng-model='country.selected', theme='select2', ng-disabled='disabled', reset-search-input='false', style='width: 250px;', title='Choose an address' search-enabled='false')
                                        ui-select-match(placeholder='Select colors...') {{$select.selected.name}}
                                        ui-select-choices(repeat="country in countries | filter: $select.search") {{country.name}}
                                    .dropdown(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text')
                                .profileInfoSectionSubItem
                                    ui-select(ng-model='country.selected', theme='select2', ng-disabled='disabled', reset-search-input='false', style='width: 250px;', title='Choose an address' search-enabled='false')
                                        ui-select-match(placeholder='Select colors...') {{$select.selected.name}}
                                        ui-select-choices(repeat="country in countries | filter: $select.search") {{country.name}}
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | О себе:
                            .profileInfoSectionItemRight
                                textarea.textarea
                        .profileInfoSectionItem.profileInfoSectionItemSubmit
                            .profileInfoSectionItemLeft
                            .profileInfoSectionItemRight
                                .profileInfoSectionSubItem
                                    button.buttonOrange Сохранить
                                    button.buttonGrey Отменить
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Семья
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Семейное положение:
                            .profileInfoSectionItemRight
                                ui-select(ng-model='country.selected', theme='select2', ng-disabled='disabled', reset-search-input='false', style='width: 250px;', title='Choose an address' search-enabled='false')
                                    ui-select-match(placeholder='Select colors...') {{$select.selected.name}}
                                    ui-select-choices(repeat="country in countries | filter: $select.search") {{country.name}}
                                button.buttonOrangeSmall +Добавить
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Дети:
                            .profileInfoSectionItemRight
                                button.buttonOrangeSmall +Добавить
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Родители:
                            .profileInfoSectionItemRight
                                button.buttonOrangeSmall +Добавить
                        .profileInfoSectionItem.profileInfoSectionItemSubmit
                            .profileInfoSectionItemLeft
                            .profileInfoSectionItemRight
                                .profileInfoSectionSubItem
                                    button.buttonOrange Сохранить
                                    button.buttonGrey Отменить
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Карьера
                            .profileInfoSectionBarEdit
                                button.buttonBlueBayoux
                                    +svgIcon('iconEdit')
                                    | Редактировать
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место работы, должность:
                            .profileInfoSectionItemRight
                                a(href="#").link МТСБМВ
                                | , Дизайнер Всея Руси  
                                span 2010 — по настоящее время
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место работы, должность:
                            .profileInfoSectionItemRight
                                | Место работы, должность:         ООО Винзавод, Главный по белочкам  
                                span 2008 — 2010
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Образование
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | ВУЗ:
                            .profileInfoSectionItemRight
                                a(href="#").link РГГУ
                                |, бакалавриат, экономика, 
                                span выпуск 2010 — 2015
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | ВУЗ:
                            .profileInfoSectionItemRight
                                a(href="#").link ВШЭ
                                span выпуск 2010 — 2015
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Школа:
                            .profileInfoSectionItemRight
                                a(href="#").link Среднаяя школа №17 г.Москвы
                                span выпуск 2000 — 2010
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Контакты
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Моб. телефон:
                            .profileInfoSectionItemRight
                                a(href="#").link +7 903 800 01 23
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | e-mail:
                            .profileInfoSectionItemRight
                                a(href="#").link email@gmail.com
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | facebook:
                            .profileInfoSectionItemRight
                                a(href="#").link facebook1221323
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Сайт:
                            .profileInfoSectionItemRight
                                a(href="#").link www.super.me
                                
