extends _layout

block content
    
    .main
        .sidebar
        .content
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                            span Второй заголовок
                        .profileBannerInfoStatus
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation
                            +svgIcon('iconLocation')
                            | Москва
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileInfo
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Общая информация
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Фамилия в девичестве:
                            .profileInfoSectionItemRight
                                | Спартанская
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | День рождения:
                            .profileInfoSectionItemRight
                                | 23 апреля
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место рождения
                            .profileInfoSectionItemRight
                                a(href="#").link Россия, Пермская обл., г. Красновишерск
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | О себе:
                            .profileInfoSectionItemRight
                                span Смотрит она сурово. Молчит неслышно. Блестит едва. Рыба, шепни два слова. Хотя бы, что ли, "жива, жива". Молчит неслышно. Блестит едва. Рыба, шепни два слова. Хотя бы, что ли, "жива, жива". Мелких, себе в убыток, набрал причастий.
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Семья
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Семейное положение:
                            .profileInfoSectionItemRight
                                |  замужем за 
                                a(href="#").link Игорем Троянским
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Дети:
                            .profileInfoSectionItemRight
                                a(href="#").link Птоломей Троянский 
                                | , 
                                a(href="#").link Медея Хромченко
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Родители:
                            .profileInfoSectionItemRight
                                a(href="#").link Птоломей Троянский 
                                | , 
                                a(href="#").link Медея Хромченко
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                a(href="#").link Генеологическое дерево
                            .profileInfoSectionItemRight
                                
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Карьера
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место работы, должность:
                            .profileInfoSectionItemRight
                                a(href="#").link МТСБМВ
                                | , Дизайнер Всея Руси  
                                span 2010 — по настоящее время
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место работы, должность:
                            .profileInfoSectionItemRight
                                | Место работы, должность:         ООО Винзавод, Главный по белочкам  
                                span 2008 — 2010
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Образование
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | ВУЗ:
                            .profileInfoSectionItemRight
                                a(href="#").link РГГУ
                                |, бакалавриат, экономика, 
                                span выпуск 2010 — 2015
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | ВУЗ:
                            .profileInfoSectionItemRight
                                a(href="#").link ВШЭ
                                span выпуск 2010 — 2015
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Школа:
                            .profileInfoSectionItemRight
                                a(href="#").link Среднаяя школа №17 г.Москвы
                                span выпуск 2000 — 2010
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Контакты
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Моб. телефон:
                            .profileInfoSectionItemRight
                                a(href="#").link +7 903 800 01 23
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | e-mail:
                            .profileInfoSectionItemRight
                                a(href="#").link email@gmail.com
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | facebook:
                            .profileInfoSectionItemRight
                                a(href="#").link facebook1221323
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Сайт:
                            .profileInfoSectionItemRight
                                a(href="#").link www.super.me
                                
