extends _layout

block content
    .main
        .sidebar
        .content
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                        .profileBannerInfoStatus
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation
                            +svgIcon('iconLocation')
                            | Москва
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileGroup
                    .profileGroupBar
                        | Доступные группы 2
                        .profileGroupBarEdit
                            button.buttonBlueBayoux
                                +svgIcon('iconGroup')
                                | Создать группу
                                
                    .profileGroupItems
                        - for (var i = 0; i < 2; ++i) {
                            .profileGroupItem
                                .profileGroupItemImage
                                    img(src="img/group.jpg", alt="")
                                .profileGroupItemText
                                    .profileGroupItemName
                                        | Константин Архангельский
                                    .profileGroupItemPosition
                                        | Креативный директор ООО Тындекс
                                    .profileGroupItemFooter
                                        .profileGroupItemSubscriper
                                            | 1234 подписчиков
                                        .profileGroupItemButton
                                            button.buttonOrangeSmall Выйти из группы
                        - }
                    .profileGroupBar
                        | Доступные группы 2
                    .profileGroupItems
                        - for (var i = 0; i < 10; ++i) {
                            .profileGroupItem
                                .profileGroupItemImage
                                    img(src="img/group.jpg", alt="")
                                .profileGroupItemText
                                    .profileGroupItemName
                                        | Константин Архангельский
                                    .profileGroupItemPosition
                                        | Креативный директор ООО Тындекс
                                    .profileGroupItemFooter
                                        .profileGroupItemSubscriper
                                            | 1234 подписчиков
                                        .profileGroupItemButton
                                            button.buttonOrangeSmall Присоединиться
                        - }
