extends _layout_modal

block content
    .modal
        .modalMedium
            .modalClose
                button.buttonClose
            .modalHeader.modalHeaderBreadcrumbs
                .profileInterestBreadcrumbs
                    .profileInterestBreadcrumb
                        | Семья
                    .profileInterestBreadcrumb
                        | Родственники
                    .profileInterestBreadcrumb
                        | Семья
                    .profileInterestBreadcrumb
                        | Родственники
                    .profileInterestBreadcrumb
                        | Семья
                    .profileInterestBreadcrumb
                        | Родственники
                    .profileInterestBreadcrumb
                        | Родственники
                        button.buttonDelete
                
            .modalContentNoPadding
                .profileInterestSearch
                    input.input.inputSearch(placeholder="Поиск")
                    button.buttonOrangeSmall
                        | + Добавить тему
                .profileInterestSearchResults
                    .profileInterestSearchResultItem
                        input(type="checkbox").icheckRound
                        | Кот
                        .profileInterestSearchResultItemNext
                    .profileInterestSearchResultItem
                        input(type="checkbox").icheckRound
                        | Кот
                        .profileInterestSearchResultItemNext
                    .profileInterestSearchResultItem
                        input(type="checkbox").icheckRound
                        | Кот
                        
                    .profileInterestSearchResultItem
                        input(type="checkbox").icheckRound
                        | Кот
                        
                            
                    .profileInterestSearchResultItem
                        input(type="checkbox").icheckRound
                        | Кот
                .profileInterestSearchButton
                    button.buttonGrey Сохранить
                    button.buttonGrey Закрыть
                    
                
    .main
        .sidebar
        .content
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                        .profileBannerInfoStatus
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation
                            +svgIcon('iconLocation')
                            | Москва
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileInterest
                    .profileInterestItem
                        .profileInterestCategory
                            span Категория: 
                            | Семья
                        .profileInterestTheme
                            span Темы: 
                            | семейный отдых, родственники, родословная Ивана Владимировича
                    .profileInterestItem
                        .profileInterestCategory
                            span Категория: 
                            | Бизнес
                        .profileInterestTheme
                            span Темы: 
                            | макрамэ, картография, картография 19 века, макрамэ, картография, картография 19 века        
                    .profileInterestItem
                        .profileInterestCategory
                            span Категория: 
                            | Хобби
                        .profileInterestTheme
                            span Темы: 
                            | макрамэ, картография, картография 19 века, макрамэ, картография, картография 19 века        
