extends _layout

block content
    .main
        .sidebar
        .content
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                        .profileBannerInfoStatus
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation
                            +svgIcon('iconLocation')
                            | Москва
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileInterest
                    .profileInterestItem
                        .profileInterestCategory
                            span Категория: 
                            | Семья
                        .profileInterestTheme
                            span Темы:
                            - for (var i = 0; i < 10; ++i) {
                                .profileInterestThemeItem
                                    | семейный отдых
                                .profileInterestThemeItem
                                    | родственники
                                .profileInterestThemeItem
                                    | родословная Ивана Владимировича
                            - }
                    .profileInterestItem
                        .profileInterestCategory
                            input(type="checkbox").icheckRound
                            span Категория: 
                            | Бизнес
                        .profileInterestTheme.profileInterestThemeEdit
                            span Темы: 
                            .profileInterestThemeItem
                                | макрамэ
                                button.buttonDelete
                            .profileInterestThemeItem
                                | картография
                                button.buttonDelete
                            .profileInterestThemeItem
                                | картография 19 века
                                button.buttonDelete
                        .profileInterestButton
                            button.buttonOrangeSmall
                                | + Добавить тему
                            button.buttonOrangeSmall
                                | Выбрать тему
                    .profileInterestItem
                        .profileInterestCategory
                            input(type="checkbox").icheckRound
                            span Категория: 
                            | Хобби
                        .profileInterestTheme.profileInterestThemeEdit
                            span Темы:
                            - for (var i = 0; i < 10; ++i) {
                                .profileInterestThemeItem
                                    | макрамэ
                                    button.buttonDelete
                                .profileInterestThemeItem
                                    | картография
                                    button.buttonDelete
                                .profileInterestThemeItem
                                    | картография 19 века
                                    button.buttonDelete
                            -}
                                
                        .profileInterestButton
                            button.buttonOrangeSmall
                                | + Добавить тему
                            button.buttonOrangeSmall
                                | Выбрать тему
                    .profileInterestItem
                        .profileInterestCategory
                            span Категория: 
                            | Семья
                        .profileInterestTheme
                            span Темы:
                            .profileInterestThemeItem
                                | семейный отдых
                            .profileInterestThemeItem
                                | родственники
                            .profileInterestThemeItem
                                | родословная Ивана Владимировича
