extends _layout

block content
    .main
        .registration(ng-controller="DemoCtrl")
            .registrationColumn
                .registrationHeader
                    h1 Зарегистрирутесь
                    p
                        | У вас уже есть аккаунт? Воспользуйтсь 
                        a(href="#").link входом.
                .registrationForm
                    .registrationFormItem
                        .inputGroupFloat
                            label.labelFloat Как Вас зовут?
                            input.inputBig(placeholder="Имя")
                    .registrationFormItem
                        .inputGroupFloat
                            input.inputBig(placeholder="Фамилия")
                    .registrationFormItem
                        .registrationFormText
                            | Ваш пол:
                        .buttonGroup
                            button.buttonGrey(ng-model="radioModel" btn-radio="'Men'") 
                                .iconMan
                                | Мужчина
                            button.buttonGrey(ng-model="radioModel" btn-radio="'Woman'") 
                                .iconWoman
                                | Женщина
                    .registrationFormItem
                        .inputGroupFloat
                            input.inputBig(placeholder="E-mail")
                    .registrationFormItem
                        .inputGroupFloat
                            input.inputBig(type="password" placeholder="Пароль")
                    .registrationFormItem
                        .inputGroupFloat
                            input.inputBig(type="password" placeholder="Повторный ввод пароля")
                    .registrationFormItem
                        .registrationFormText
                            | Нажимая кнопку «Cоздать аккаунт», вы соглашаетесь с нашими 
                            a(href="#") Условиями использования
                            |  и подтверждаете, что ознакомились с нашей 
                            a(href="#") Политикой использования данных
                    .registrationFormItem.registrationFormItemCenter
                        button.buttonOrange Создать аккаунт
            .registrationColumnOr
                span или
            .registrationColumn
                .registrationHeaderText
                    p Вы зарегистрированы в одной из cоцсетей? </br> Можно войти через нее:
                .registrationForm
                    .registrationFormItem
                        button.buttonSocialVk Войти через ВКонтакте
                    .registrationFormItem
                        button.buttonSocialOk Войти через Одноклассники
                    .registrationFormItem
                        button.buttonSocialFb Войти через Facebook
                    .registrationFormItem
                        button.buttonSocialMail Войти через mail.ru
