extends _layout

block content
    .main
        .sidebar
        .content(ng-controller="DemoCtrl")
            .uiItem(style="height:900px")
                h2 Multi Select
                ui-select(multiple='', ng-model='multipleDemo.colors', theme='select2', ng-disabled='disabled', close-on-select='false', style='width: 300px;', title='Choose a color')
                    ui-select-match(placeholder='Select colors...') {{$item}}
                    ui-select-choices(repeat='color in availableColors | filter:$select.search') {{color}}
            .uiItem
                h2 Multi Select with Icon
                .selectWithIcon
                    ui-select(multiple='', ng-model='multipleDemo.colors', theme='select2', ng-disabled='disabled', close-on-select='false', style='width: 300px;', title='Choose a color')
                        ui-select-match(placeholder='Select colors...').
                            <div class="selectAvatar"><img src="img/avatar.jpg"></div>
                            {{$item}}
                            
                        ui-select-choices(repeat='color in availableColors | filter:$select.search') <div class="selectAvatar"><img src="img/avatar.jpg"></div> {{color}}
                
                    .icon
                        +svgIcon('iconPeoples')
            .uiItem
                h2 Single Select    
                ui-select(ng-model='country.selected', theme='select2', style='width: 300px;', title='Choose an address' search-enabled='true')
                    ui-select-match(placeholder='Select colors...') {{$select.selected.name}}
                    ui-select-choices(repeat="country in countries | filter: $select.search") {{country.name}}
            .uiItem
                h2 Single Select        
                .dropdown(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text')
                    
            .uiItem
                h2 tooltip Top
                a(href="#" tooltip-placement="top" tooltip="On the Left!") link
            .uiItem
                h2 tooltip Bottom
                a(href="#" tooltip-placement="bottom" tooltip="On the Left!") link

            .uiItem
                h2 tooltip Left
                a(href="#" tooltip-placement="left" tooltip="On the Left!") link
            .uiItem
                h2 tooltip Right
                a(href="#" tooltip-placement="right" tooltip="On the Left!") link
            .uiItem
                h2 tooltip Left Error
                a(href="#" tooltip-placement="left" tooltip="On the Left!" tooltip-class='tooltip-error') link
            .uiItem
                h2 popover Top
                a(href="#" popover="On the Top!" popover-placement="top") link
            .uiItem
                h2 popover Bottom
                a(href="#" popover="On the Top!" popover-placement="bottom") link
            .uiItem
                h2 popover Left
                a(href="#" popover="On the Top!" popover-placement="left") link
            .uiItem
                h2 popover Right
                a(href="#" popover="On the Top!" popover-placement="right") link
