extends _layout

block content
    .chats
        .chat
            .chatHeader
                .chatHeaderTitle
                    | Беседа с Rogie King
                .chatHeaderButton
                    button.buttonIconBismark
                        +svgIcon('iconFull')
                    button.buttonIconBismark
                        +svgIcon('iconClose')
            .chatContent
                .chatContentScroll
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | What do you mean man?
                    .messangerChatItem
                        .messangerChatItemTime
                            | 22:45
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days
            .chatInput
                input
                .chatInputButton
                    button.buttonIconBismark
                        +svgIcon('iconAttach')
                    //- button.buttonIconBismark
                    //-     +svgIcon('iconClose')
        .chat
            .chatHeader
                .chatHeaderTitle
                    | Беседа с Rogie King
                .chatHeaderButton
                    button.buttonIconBismark
                        +svgIcon('iconFull')
                    button.buttonIconBismark
                        +svgIcon('iconClose')
            .chatContent
                .chatContentScroll
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | What do you mean man?
                    .messangerChatItem
                        .messangerChatItemTime
                            | 22:45
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days
            .chatInput
                input
                .chatInputButton
                    button.buttonIconBismark
                        +svgIcon('iconAttach')
                    //- button.buttonIconBismark
                    //-     +svgIcon('iconClose')
                    
                
                
    .main
        include block/sidebar
        .content
            .uiItem
                h2 map icon
                
