extends _layout

block content
    .main
        include block/sidebar
        .content
            .uiItem
                h2 map icon
                .mapIcon
                    
            .uiItem
                h2 map icon big
                .mapIconBig
                    
            .uiItem(style="height:300px")
                h2 map boolon
                .mapBoolon
                    .mapBoolonHeader
                        .mapBoolonAvatar
                            img(src="img/avatar.jpg", alt="")
                        .mapBoolonName
                            | Eric Hoffman
                    .mapBoolonContent
                        span 21 мая 2015, г. Семипалатинск
                        | My home on the moon.
                    .mapBoolonType
                        .mapBoolonTypeItem
                            +svgIcon('iconSound')
                        .mapBoolonTypeItem
                            +svgIcon('iconVideo')
                    .mapBoolonLink
                        a(href="#") Показать полностью...
                        | 4 связанных события
            .uiItem(style="height:500px")
                h2 map tooltip
                .mapTooltip
                    .mapTooltipClose
                        +svgIcon('iconDelete')
                    .mapTooltipScroll
                        .mapTooltipItem.mapTooltipItemLine
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')
                        .mapTooltipItem.mapTooltipItemLineSub
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')
                        .mapTooltipItem.mapTooltipItemSub.mapTooltipItemSubLine
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')
                        .mapTooltipItem.mapTooltipItemSub
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')
