
extends _layout

block content
    .main
        include block/sidebar
        .content
            include block/ui/button
            include block/ui/input
            include block/ui/select
            include block/ui/checkbox
            include block/ui/date
            include block/ui/slider
            include block/ui/tooltip
            include block/ui/loader
            
            
