.profileBanner
    display block
    position relative
    width 100%
    height 287px
.profileBannerImage
    display block
    position absolute
    top 0
    left 0
    size 100%
    background-size cover
    background-repeat no-repeat
    border-radius 4px

.profileBannerAvatar
    display block
    position absolute
    bottom -35px
    left 30px
    size 147px
    border 5px solid white
    border-radius 50%
    &Image
        display block
        size 137px
        border-radius 50%
        overflow hidden
        img
            size 137px
            border-radius 50%
.profileBannerAvatarDropzoneOver
    border-style dotted
    border-color #FF6900
.profileBannerInfo
    display block
    position absolute
    left 232px
    bottom 33px
.profileBannerInfoName
    display block
    margin-bottom 24px
    color white
    font-family Helvetica
    font-size 26px
    font-weight 300
    line-height 28px
    span
        display block
        font-size 14px
        line-height 18px
.profileBannerInfoStatus
    display inline-block
    vertical-align middle
    color white
    font-family Helvetica
    font-size 14px
    font-weight 400
    line-height 28px
    margin-right 36px
    &Edit
        text-decoration underline
        cursor pointer
.profileBannerInfoLocation
    display inline-block
    vertical-align middle
    color white
    font-family Helvetica
    font-size 14px
    font-weight 400
    line-height 28px
    svg
        fill #fff
        size 11px 13px
        margin-right 5px
    &Edit
        text-decoration underline
        cursor pointer
.profileBannerButton
    display block
    position absolute
    bottom 19px
    right 35px
    button
        margin-left 20px
