
.profileInfoMenu
    display block
    margin-bottom 20px
    height 64px
    border-bottom 1px solid #e1e0e5
    text-align center
    clear fix
.profileInfoMenuItems
    display inline-block
    padding 30px 0 24px
.profileInfoMenuItem
    display inline-block
    margin-right 50px
    a
        color #3e6372
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 14px
        text-decoration none
        &:hover
            text-decoration underline
    &:last-child
        margin-right 0px

.profileInfo
    display block
    float left
    width 630px
    clear fix

.profileInfoSection
    display block
    margin-bottom 26px
    clear fix
.profileInfoSectionBar
    display block
    position relative
    background-color #f3fcff
    padding 18px 15px 18px
    color #626566
    font-family Helvetica
    font-size 14px
    line-height 14px
    font-weight 400
    border-radius 3px
    margin-bottom 20px
    &Edit
        display block
        position absolute
        right 0
        top 0
        height 100%
        .buttonBlueBayoux
            height 100%
            border-radius 0 4px 4px 0
.profileInfoSectionItem
    display block
    margin-bottom 20px
    padding 0px 15px
    font-family Helvetica
    font-size 14px
    font-weight 400
    line-height 18px
    clear fix
    span
        display block
        font-size 13px
        line-height 17px
    &Left
        display table-cell
        vertical-align top
        min-width 210px
        width 210px
        color #92a0ad
    &Right
        display table-cell
        width 100%
        color #626566
        .input
            display inline-block
            min-width 250px
            margin-right 20px
        .dropdown
            top 10px
            float right
            width 120px
        .select2
            margin-right 0px
    &Submit
        padding-top 20px
.profileInfoSectionSubItem
    display block
    margin-bottom 15px
    button
        margin-right 20px
