.profileGroup
    display block
    clear fix
.profileGroupBar
    display block
    position relative
    background-color #f3fcff
    padding 18px 15px 18px
    color #626566
    font-family Helvetica
    font-size 14px
    line-height 14px
    font-weight 400
    border-radius 3px
    margin-bottom 20px
    &Edit
        display block
        position absolute
        right 0
        top 0
        height 100%
        .buttonBlueBayoux
            height 100%
            border-radius 0 4px 4px 0

.profileGroupItems
    display block
    clear fix
.profileGroupItem
    display inline-block
    width 480px
    border-radius 3px
    border 1px solid #e1e0e5
    margin-right 40px
    margin-bottom 40px
    transition all .3s
    &Image
        display table-cell
        vertical-align middle
        position relative
        padding 20px
        border-radius 4px
        size 104px
        img
            size 104px
            border-radius 4px
    &Text
        display table-cell
        vertical-align top
        padding 20px 20px 20px 0
        width 100%
    &Name
        display block
        color #3e6372
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 18px
        margin-bottom 13px
    &Position
        display block
        color #626566
        font-family Helvetica
        font-size 13px
        font-weight 400
        line-height 18px
        margin-bottom 19px
    &Footer
        display block
        width 100%
        clear fix
    &Subscriper
        col(2/5)
        padding-top 7px
        color #626566
        font-family Helvetica
        font-size 13px
        font-weight 400
        line-height 18px
    &Button
        col(3/5)
        display inline-block
        vertical-align middle
        text-align right
        button
            opacity 0
            visibility hidden
    &:hover
        border 1px solid #f3fcff
        background-color #f3fcff
        .profileGroupItemButton
            button
                opacity 1
                visibility visible
