.profileFollow
    display block
    clear fix
.profileFollowBar
    display block
    position relative
    background-color #f3fcff
    padding 18px 15px 18px
    color #626566
    font-family Helvetica
    font-size 14px
    line-height 14px
    font-weight 400
    border-radius 3px
    margin-bottom 20px
    span
        margin-left 5px
        color #a6a8a9
    &Item
        display inline-block
        margin-right 40px
.profileFollowItems
    display block
    clear fix
.profileFollowItem
    display inline-block
    text-align center
    width 150px
    margin-right 40px
    margin-bottom 40px
    &Avatar
        display block
        margin-left auto
        margin-right auto
        margin-bottom 19px
        size 104px
        border-radius 50%
        img
            size 104px
            border-radius 50%
    &Name
        color #3e6372
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 18px


.profileFollowerItems
    display block
    clear fix
.profileFollowerItem
    display inline-block
    width 480px
    border-radius 3px
    border 1px solid #e1e0e5
    margin-right 40px
    margin-bottom 40px
    transition all .3s
    &Avatar
        display table-cell
        vertical-align middle
        position relative
        padding 20px
        size 104px
        border-radius 50%
        img
            size 104px
            border-radius 50%
        &Status
            display block
            position absolute
            right 27px
            bottom 27px
            size 22px
            border-radius 50%
            border 3px solid #fff
            background-color #FFF
            div
                margin-top 0px
    &Text
        display table-cell
        vertical-align top
        padding 35px 20px 20px 0
        width 100%
    &Name
        display block
        color #3e6372
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 18px
        margin-bottom 13px
    &Position
        display block
        color #626566
        font-family Helvetica
        font-size 13px
        font-weight 400
        line-height 18px
        margin-bottom 19px
    &Footer
        display block
        width 100%
        clear fix
    &Subscriper
        col(1/2)
        padding-top 7px
        color #626566
        font-family Helvetica
        font-size 13px
        font-weight 400
        line-height 18px
    &Button
        col(1/2)
        display inline-block
        vertical-align middle
        text-align right
        button
            opacity 0
            visibility hidden
    &:hover
        border 1px solid #f3fcff
        background-color #f3fcff
        .profileFollowerItemButton
            button
                opacity 1
                visibility visible
