.profileInterest
    display block
    clear fix

.profileInterestItem
    display block
    margin-bottom 60px
    clear fix
.profileInterestCategory
    display block
    margin-bottom 18px
    font-size 17px
    font-weight 300
    line-height 21px
    font-family Helvetica
    color #3e6372
    span
        color #9ab0bb
    .iCheckRound
        margin-right 10px
.profileInterestTheme
    color #5b6a78
    font-size 14px
    font-weight 400
    line-height 21px
    font-family Helvetica
    span
        font-size 13px
        color #9ab0bb
    &Item
        display inline-block
        margin-right 5px
        button
            margin-left -3px
        &:after
            content ','
        &:last-child
            &:after
                content ''

    &Edit
        .profileInterestThemeItem
            &:after
                content ''
.profileInterestButton
    display block
    padding-top 20px
    clear fix
    button
        display inline-block
        padding 9px 10px 7px
        margin-right 20px
.profileInterestBreadcrumbs
    display block
.profileInterestBreadcrumb
    display inline-block
    vertical-align middle
    margin-bottom 10px
    color #3e6372
    font-family Helvetica
    font-size 14px
    font-weight 400
    line-height 18px
    padding 0 15px 0 0
    margin-right 8px
    background-repeat no-repeat
    background-image inline("iconArrowRight.png")
    background-position  right 4px
    &:last-child
        background-image none
.profileInterestSearch
    display block
    padding 15px 25px
    background-color #fff
    clear fix
    input
        width 325px
        margin-right 20px
    button
        display inline-block
        padding 11px 10px 9px
.profileInterestSearchResults
    display block
    clear fix
.profileInterestSearchResultItem
    display block
    position relative
    width px
    vertical-align middle
    padding 20px 25px
    color #636466
    font-family Helvetica
    font-size 13px
    line-height 18px
    font-weight 400
    clear fix
    &:nth-child(odd)
        background-color #f9fafb
    .iCheckRound
        margin-right 10px
    .profileInterestSearchResultItemNext
        display block
        position absolute
        top 23px
        right 25px
        cursor pointer
        size 11px 19px
        background-repeat no-repeat
        background-image inline("iconArrowRightBig.png")
        background-position  center center
.profileInterestSearchButton
    display block
    padding 15px 0
    text-align center
    button
        width 125px
        &:last-child
            margin-left 20px
