.mapIcon
    display block
    size 17px 25px
    background-image inline("iconLocation.svg")
    background-position center center
    background-repeat no-repeat
    background-size cover

.mapIconBig
    display block
    size 27px 40px
    background-image inline("iconLocation.svg")
    background-position center center
    background-repeat no-repeat
    background-size cover


.mapBoolon
    display block
    position absolute
    background-color #fc6921
    width 230px
    padding 14px 18px
    border-radius 4px
    clear fix
    &:after
        display block
        position absolute
        top calc(100% - 8px)
        left 30px
        content ''
        background-color #fc6921
        size 15px
        transform rotate(45deg)
        z-index -1
.mapBoolonHeader
    display block
    margin-bottom 10px
    clear fix
.mapBoolonAvatar
    display table-cell
    vertical-align middle
    size 26px
    img
        size 26px
        border-radius 50%
.mapBoolonName
    display table-cell
    vertical-align middle
    font-family Helvetica
    font-size 13px
    line-height 18px
    font-weight 400
    padding-left 10px
    color #fff

.mapBoolonContent
    display block
    margin-bottom 15px
    font-family Helvetica
    font-size 13px
    font-weight 400
    color #fff
    line-height 16px
    clear fix
    span
        display block
        font-size 13px
        opacity 0.71
        color #fafafc
        margin-bottom 5px
        clear fix


.mapBoolonType
    display block
    margin-bottom 15px
    clear fix

.mapBoolonTypeItem
    display inline-block
    margin-right 10px
    svg
        size 23px
        fill #fff

.mapBoolonLink
    display block
    color #6c2604
    font-family Helvetica
    font-size 13px
    font-weight 400
    clear fix
    a
        display block
        color #6c2604
        font-family Helvetica
        font-size 13px
        font-weight 600
        text-decoration none
        margin-bottom 5px
