.mapTooltip
    display block
    position relative
    size 330px 440px
    background-color rgba(#3f6371,0.8)
    border-radius 4px
    clear fix
    overflow auto
    padding 30px 2px 20px 0
.mapTooltipClose
    display block
    position absolute
    cursor poiner
    top 10px
    right 10px
    svg
        size 10px
        fill #fff
.mapTooltipItem
    display block
    position relative
    padding 20px

    &:hover
        background-color #2F586B
        .mapTooltipItemArrow
            display block
.mapTooltipItemLine
    &:after
        display block
        position absolute
        top 46px
        left 2.73rem
        size 1px 88px
        z-index 1000
        border-left 2px dashed #fafaff
        content ''
.mapTooltipItemLineSub
    &:after
        display block
        position absolute
        top 46px
        left 2.73rem
        size 25px 100px
        z-index 1000
        border-radius 0 0 0 6px
        border-left 2px dashed #fafaff
        border-bottom 2px dashed #fafaff
        content ''
.mapTooltipItemSub
    padding-left 60px
.mapTooltipItemSubLine
    &:after
        display block
        position absolute
        top 46px
        left 6.73rem
        size 1px 88px
        z-index 1000
        border-left 2px dashed #fafaff
        content ''
.mapTooltipItemIcon
    display table-cell
    vertical-align top

.mapTooltipItemContent
    display table-cell
    vertical-align top
    padding-left 20px



.mapTooltipItemContentHeader
    display block
    margin-bottom 10px
    clear fix
.mapTooltipItemContentAvatar
    display table-cell
    vertical-align middle
    size 26px
    img
        size 26px
        border-radius 50%
.mapTooltipItemContentName
    display table-cell
    vertical-align middle
    font-family Helvetica
    font-size 13px
    line-height 18px
    font-weight 400
    padding-left 10px
    color #fff

.mapTooltipItemContentText
    display block
    margin-bottom 0px
    font-family Helvetica
    font-size 13px
    font-weight 400
    color #fff
    line-height 16px
    clear fix
    span
        display block
        font-size 13px
        opacity 0.71
        color #fafafc
        margin-bottom 5px
        clear fix

.mapTooltipItemArrow
    display none
    position absolute
    cursor pointer
    right 20px
    top calc(50% - 10px)
    svg
        size 20px
        fill #fff
