.bootstrap-datetimepicker-widget
    list-style none
    color #3e6372
    &.dropdown-menu
        margin 2px 0
        padding 4px
        width 19em
        // &.bottom
        //     &:before
        //         border-left 7px solid transparent
        //         border-right 7px solid transparent
        //         border-bottom 7px solid #cccccc
        //         bordercolor rgba(0, 0, 0, 0.2)
        //         top -7px
        //         left 7px
        //     &:after
        //         border-left 6px solid transparent
        //         border-right 6px solid transparent
        //         border-bottom 6px solid white
        //         top -6px
        //         left 8px
        // &.top
        //     &:before
        //         border-left 7px solid transparent
        //         border-right 7px solid transparent
        //         border-top 7px solid #cccccc
        //         bordercolor rgba(0, 0, 0, 0.2)
        //         bottom -7px
        //         left 6px
        //     &:after
        //         border-left 6px solid transparent
        //         border-right 6px solid transparent
        //         border-top 6px solid white
        //         bottom -6px
        //         left 7px
        &.pull-right
            &:before
                left auto
                right 6px
            &:after
                left auto
                right 7px
    .list-unstyled
        margin 0
    a[data-action]
        padding 6px 0
    a[data-action]:active
        box-shadow none
    button[data-action]
        padding 6px
    .btn[data-action="incrementHours"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Increment Hours"
    .btn[data-action="incrementMinutes"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Increment Minutes"
    .btn[data-action="decrementHours"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Decrement Hours"
    .btn[data-action="decrementMinutes"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Decrement Minutes"
    .btn[data-action="showHours"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Show Hours"
    .btn[data-action="showMinutes"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Show Minutes"
    .btn[data-action="togglePeriod"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Toggle AM/PM"
    .btn[data-action="clear"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Clear the picker"
    .btn[data-action="today"]::after
        position absolute
        width 1px
        height 1px
        margin -1px
        padding 0
        overflow hidden
        clip rect(0, 0, 0, 0)
        border 0
        content "Set the date to today"
    .picker-switch
        text-align center
        &::after
            position absolute
            width 1px
            height 1px
            margin -1px
            padding 0
            overflow hidden
            clip rect(0, 0, 0, 0)
            border 0
            content "Toggle Date and Time Screens"
        td
            padding 0
            margin 0
            height auto
            width auto
            line-height inherit
            span
                line-height 2.5
                height 2.5em
                width 100%
    table
        width 100%
        margin 0
        th
            height 30px
            line-height 30px
            width 30px
            &.picker-switch
                width 145px
            &.prev
                &::after
                    position absolute
                    width 1px
                    height 1px
                    margin -1px
                    padding 0
                    overflow hidden
                    clip rect(0, 0, 0, 0)
                    border 0
                    content "Previous Month"
            &.next
                &::after
                    position absolute
                    width 1px
                    height 1px
                    margin -1px
                    padding 0
                    overflow hidden
                    clip rect(0, 0, 0, 0)
                    border 0
                    content "Next Month"
        thead
            tr
                &:first-child
                    th
                        cursor pointer
                        &:hover
                            background #eeeeee
        td
            height 54px
            line-height 54px
            width 54px
            &.cw
                font-size .8em
                height 20px
                line-height 20px
                color #777777
            &.day
                height 30px
                line-height 30px
                width 30px
            &.today
                position relative
                &:before
                    //content ''
                    display inline-block
                    border solid transparent
                    border-width 0 0 7px 7px
                    border-color #337ab7
                    border-color rgba(0, 0, 0, 0.2)
                    position absolute
                    bottom 4px
                    right 4px
            &.active
                &.today
                    &:before
                        display none
            span
                display inline-block
                width 54px
                height 54px
                line-height 54px
                margin 2px 1.5px
                cursor pointer
                border-radius 4px
                &:hover
                    background #eeeeee
                &.active
                    background-color #e06819
                    color #ffffff
                    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
                &.old
                    color #777777
    &.usetwentyfour
        td
            &.hour
                height 27px
                line-height 27px
    &.wider
        width 21em
    .datepicker-decades
        .decade
            line-height 1.8em !important

.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after
    content ''
    display inline-block
    position absolute

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second
    width 54px
    font-weight bold
    font-size 1.2em
    margin 0

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th
    text-align center
    border-radius 4px

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover
    background none
    color #777777
    cursor not-allowed

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover
    background #eeeeee
    cursor pointer

.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new
    color #777777

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover
    background-color #e06819
    color #ffffff

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover
    background none
    color #777777
    cursor not-allowed

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover
    background none
    color #777777
    cursor not-allowed

.input-group
    &.date
        .input-group-addon
            cursor pointer

.sr-only
    position absolute
    width 1px
    height 1px
    margin -1px
    padding 0
    overflow hidden
    clip rect(0, 0, 0, 0)
    border 0

.btn
    display inline-block
    padding 6px 12px
    margin-bottom 0
    font-size 14px
    font-weight normal
    line-height 1.42857143
    text-align center
    white-space nowrap
    vertical-align middle
    touch-action manipulation
    cursor pointer
    user-select none
    background-image none
    border 1px solid transparent
    border-radius 4px

.collapse
    display none
    &.in
        display block

.dropdown-menu
    position absolute
    left 0
    z-index 1000
    display none
    float left
    min-width 160px
    width 100%
    padding 5px 0
    margin 2px 0 0
    font-size 13px
    color #3e6372
    text-align left
    list-style none
    background-color #bad3db
    background-clip padding-box
    border-radius 4px
    // box-shadow 0 6px 12px rgba(0, 0, 0, .175)

.list-unstyled
    padding-left 0
    list-style none
