.buttonIcon
    display inline-block
    size 20px
    background-color transparent
    border 0
    outline 0
    svg
        size 20px
.buttonIconBismark
    @extend .buttonIcon
    svg
        fill #52717e
        
