.buttonRound
    display inline-block
    display block
    size 40px
    background-color #fafaff
    border 1px solid #d8d8e6
    border-radius 50%
    padding-top 6px
    outline 0
    svg
        size 21px
        fill #425662
    &:hover
        background-color #a3bac5
        border 1px solid #a3bac5
        svg
            fill #59717f

.buttonRoundSmall
    display inline-block
    display block
    size 30px
    background-color #fafaff
    border 0
    border-radius 50%
    padding-top 6px
    outline 0
    svg
        size 15px
        fill #425662
    &:hover
        background-color #a3bac5
        svg
            fill #59717f
