@import ('../../../stylusMixin/libs.styl')

.buttonZiggurat
    display block
    position relative
    background-color #bed4de
    color #3e6372
    font-family Helvetica
    font-size 14px
    line-height 14px
    font-weight 400
    border 1px solid #3e6372
    text-decoration none
    padding 12px 20px 12px
    border-radius 5px
    transition background-color .3s
    outline 0
    &:hover
        border 1px solid #2e5667
        background-color #2e5667
        color #fff

.buttonOrange
    display inline-block
    vertical-align middle
    position relative
    background-color #e36800
    border 1px solid #bb5900
    color #fff
    font-family Helvetica
    font-size 14px
    line-height 14px
    font-weight 400
    text-decoration none
    padding 12px 25px 12px
    border-radius 5px
    text-shadow 0 1px 1px rgba(38, 33, 22, 0.35)
    outline 0
    transition all .3s
    &:enabled
        &:hover
            background-color #f57101
            box-shadow 0 1px 2px rgba(69, 32, 1, 0.4)
    &:disabled
        background-color #e68b39
        border 1px solid #e37000

.buttonOrangeSmall
    display inline-block
    position relative
    vertical-align middle
    background-color #e36800
    border 1px solid #bb5900
    color #fff
    font-family Helvetica
    font-size 13px
    line-height 13px
    font-weight 400
    text-decoration none
    padding 8px 25px 7px
    margin-top 1px
    border-radius 4px
    outline 0
    transition all .3s
    &:enabled
        &:hover
            background-color #f57101
            box-shadow 0 1px 2px rgba(69, 32, 1, 0.4)
    &:disabled
        background-color #e68b39
        border 1px solid #e37000
    svg
        display block
        float left
        margin-right 5px
        margin-top -2px
        size 14px
        fill #fff
.buttonGrey
    display inline-block
    position relative
    vertical-align middle
    background-color #e2e1e1
    border 1px solid #dad9d9
    color #4d6273
    font-family Helvetica
    font-size 14px
    line-height 14px
    font-weight 400
    text-decoration none
    padding 12px 25px 12px
    border-radius 5px
    transition all .3s
    outline 0
    &:enabled
        &:hover
            background-color #e2e1e1
            border 1px solid #dad9d9
            box-shadow 0 1px 2px rgba(69, 32, 1, 0.4)
    &:disabled
        color #949eac
        background-color #FFF
    &.active
        background-color #bed4de
.buttonBlueBayoux
    display inline-block
    position relativei
    background-color #3c6373
    color #bad3db
    font-family Helvetica
    font-size 14px
    line-height 14px
    font-weight 400
    text-decoration none
    padding 13px 25px 13px
    border-radius 5px
    outline 0
    border 0
    transition all .3s
    &:hover
        color #fff
        background-color #2e5667
    svg
        margin-right 4px
        size 18px 14px
        vertical-align top
        fill #fff
.buttonGroup
    display block
    clear fix
    button
        float left
        border-radius 0
        &:first-child
            border-radius 5px 0 0 5px
        &:last-child
            border-radius 0 5px 5px 0
        &:not(:first-child)
            margin-left -1px
        &:disabled
            margin-left 0px

.buttonClose
    display block
    size 14px
    border 0
    outline 0
    background inline("iconClose.png") center center no-repeat
    transition all .3s cubic-bezier(0.86, 0, 0.07, 1)
    &:hover
        transform rotate(180deg)
.buttonDelete
    display inline-block
    vertical-align middle
    size 14px
    line-height 18px
    border 0
    outline 0
    background-color transparent
    background-image inline("iconDelete.png")
    background-position  50% 2px
    background-repeat no-repeat
