<div class="headerLogo">
	<a href="#" ng-if="currentUser" ui-sref="public.profile.info({userId : currentUser._id})">счастливая семья</a>
	<a href="#" ng-if="!currentUser" ui-sref="public.anonimus.registration">счастливая семья</a>
</div>
<div class="headerContent">
	<div class="headerMenu"><a ui-sref="public.uikit">Читаем</a><a ui-sref="public.uikit">Поговорим?</a><a ui-sref="public.uikit">Эксперты</a><a ui-sref="public.we">Это мы!</a></div>
	<div class="headerSearch">
		<input placeholder="Поиск" class="input inputSearch">
	</div>
	<div ng-show="!currentUser && !loggingIn" class="headerLogin">
		<a ui-sref="public.anonimus.registration" class="headerLoginLink">Регистрация</a>
		<a href="" ng-click="header.login()" class="buttonZiggurat">Вход</a>
	</div>
	<!--<div class="loader" ng-show="loggingIn"></div>-->
	<div ng-show="currentUser" class="headerLogin">
		<a href="" ng-click="header.logout()" class="buttonZiggurat">Выход</a>
	</div>
</div>