.slideShopLvl-1
    background-image url("../img/shop.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop@2x.jpg")

.slideShopLvl-2-1
    background-image url("../img/shop-1.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-1@2x.jpg")

.slideShopLvl-2-2
    background-image url("../img/shop-2.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-2@2x.jpg")

.slideShopLvl-2-1-1
    background-image url("../img/shop-1-1.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-1-1@2x.jpg")

.slideShopLvl-2-1-2
    background-image url("../img/shop-1-2.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-1-2@2x.jpg")

.slideShopLvl-2-1-3
    background-image url("../img/shop-1-3.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-1-3@2x.jpg")

.slideShopLvl-2-1-4
    background-image url("../img/shop-1-4.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-1-4@2x.jpg")

.slideShopLvl-2-2-1
    background-image url("../img/shop-2-1.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-2-1@2x.jpg")
        
.slideShopLvl-2-2-2
    background-image url("../img/shop-2-2.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-2-2@2x.jpg")

.slideShopLvl-2-2-3
    background-image url("../img/shop-2-3.jpg")
    bg(right)
    @media retina
        background-image url("../img/shop-2-3@2x.jpg")
