ff(fontfamaly = defaultFont,fsz=1.6,lhsz=normal)
    if fontfamaly == 'normal'
        font-family 'Interstate', sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal
        font-weight 400
        font-style normal


    if fontfamaly == 'bold'
        font-family 'Interstate', sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal
        font-weight 700
        font-style normal
