.header
    .headerLogo
        a(href="#")
            | счастливая семья
    .headerContent
        .headerMenu
            a(href="#") Читаем
            a(href="#") Поговорим?
            a(href="#") Эксперты
            a(href="#") Это мы!
        .headerSearch
            input.input.inputSearch(placeholder="Поиск")
        .headerLogin
            a(href="#").headerLoginLink Регистрация
            a(href="#").buttonZiggurat Вход
