.sidebar(ng-controller="sidebarCtrl")
    .sidebarTop
        .sidebarAvatar
            .sidebarAvatarImage
                img(src="img/avatar.jpg", alt="")
            .sidebarAvatarStatus
                .statusDropdown(dropdown-select='selectStatus', dropdown-model='selectStatusSelected', dropdown-item-label='label')
        .sidebarText
            .sidebarName
                | Константин Архангельский
            .sidebarLocation
                +svgIcon('iconLocation')
                | Амстердам
    .sidebarMenu
        .sidebarChoiseContent
            .statusDropdownContent(dropdown-select='VisibleSelectOptions', dropdown-model='selectContentSelected', dropdown-item-label='label')
        .sidebarMenuItems
            .sidebarMenuItem
                +svgIcon('iconEvent')
                | события
                .sidebarMenuItemCount 33
            .sidebarMenuItem
                +svgIcon('iconMessage')
                | сообщения
                .sidebarMenuItemCount 333
            .sidebarMenuItem
                +svgIcon('iconContact')
                | контакты
                .sidebarMenuItemCount +1
            .sidebarMenuItem
                +svgIcon('iconTheme')
                | мои темы
                .sidebarMenuItemCount 3
            .sidebarMenuItem
                +svgIcon('iconGroup')
                | мои группы
            .sidebarMenuItem
                +svgIcon('iconGenealogy')
                | родословная
            .sidebarMenuItem
                +svgIcon('iconRating')
                | рейтинг
            .sidebarMenuItem
                +svgIcon('iconSetting')
                | настройки
            .sidebarMenuItem
                +svgIcon('iconExit')
                | выход
