.newsButton
    display block
    position absolute
    position sticky
    bottom 0
    //abs_bottom()
    color #000
    ff(normal,1.8)
    background-color #fff
    margin 0 auto
    left 0
    right 0
    width 100px
    height 44px
    text-align center
    border-radius 5px 5px 0 0
    padding-top 12px
    transition all 0.6s ease-in-out
    z-index 2000
    cursor default
    sf()
    @media web
        position absolute
        width 144px
        height 54px
        ff(normal,2)
        padding-top 16px
    @media phone
        width 100px
        padding-top 12px
        height 44px
        ff(normal,1.8)
.newsOverlay
    display block
    position absolute
    width 100%
    height 100vh
    opacity 0
    visible hidden
    background-color rgba(255,255,255,.8)
    transition all .5s
    sf()
.newsOverlayShow
    opacity 1
    visible visible
    z-index 1000
.news
    display block
    position absolute
    position sticky
    left 0
    right 0
    margin 0 auto
    height 100%
    //bottom -100%
    padding-top 30px
    transition transform 0.6s ease-in-out
    will-change transform
    overflow auto
    z-index 2000
.newsWrap
    @media web
        max-width 1000px
        margin 0 auto
.newsItems
    display block
    width 100%
    width 100vw

    margin 0 auto
    sf()
    @media web
        width 1000px
.newsItem
    display block
    width 150px
    float left
    background-color #FFF
    margin-bottom 16px
    ff(normal,1.2,1.4)
    box-shadow 0 0 15px rgba(1, 1, 1, .3)
    sf()
    @media web
        width 220px
        ff(normal,1.4,1.8)
        margin-bottom 26px
.newsItemGutter
    width 10px
    @media web
        width 25px
.newsItemImage
    display block
    width 150px
    height 150px
    margin-bottom 10px
    pointer-events none
    sf()
    img
        width 150px
        height 150px
    @media web
        width 220px
        height 220px
        img
            width 220px
            height 220px
.newsItemText
    display block
    padding 15px
    pointer-events none
    sf()

.newsItemIconFB
    display block
    width 26px
    height 26px
    margin-left 15px
    margin-bottom 15px
    bg()
    background-image inline("iconFB.svg")
    sf()

.newsItemIconInstagramm
    display block
    width 26px
    height 26px
    margin-left 15px
    margin-bottom 15px
    bg()
    background-image inline("iconInstagramm.svg")
    sf()

.newsItemZoom
    width 310px
    ff(normal,1.4,2.0)
    .newsItemImage
        width 310px
        height 300px
        img
            width 310px
            height 310px
    @media web
        width 440px
        ff(normal,1.8,2.4)
        .newsItemImage
            width 440px
            height 440px
            img
                width 440px
                height 440px
.has-open-news
    body
        .mobileMenu,
        .news
            transform translateY(-100%)
        .newsButton
            transform translateY(-100vh)
            position fixed
            background-color #A3C63E
            color #fff
            @media web
                transform translateY(-100vh)

.newsButtonUp
    display block
    position fixed
    position sticky
    bottom 30px
    right 30px
    cursor default
    background-image inline("up.svg")
    width 38px
    height 38px
    opacity 0
    visibility hidden
.newsButtonUpShow
    display none
    @media web
        display block
        position fixed
        opacity 1
        visibility visible
        z-index 10000
