.selectButton
    display inline-block
    position relative
    .chosen-container
        >ul
            padding-right 67px
.buttonSelect
    display block
    position absolute
    right 2px
    top 2px
    background-color #e36800
    border 1px solid #bb5a00
    border-radius 4px
    height calc(100% - 4px)
    width 55px
    background-position center center
    background-repeat no-repeat
    background-image inline("iconUser.png")

.selectAvatar
    display inline-block
    vertical-align middle
    border-radius 50%
    size 20px
    img
        size 20px
        border-radius 50%
