.ui-select-highlight
    font-weight bold
    font-weight bold

.ui-select-offscreen
    clip rect(0 0 0 0) !important
    width 1px !important
    height 1px !important
    border 0 !important
    margin 0 !important
    padding 0 !important
    overflow hidden !important
    position absolute !important
    outline 0 !important
    left 0px !important
    top 0px !important
    clip rect(0 0 0 0) !important
    width 1px !important
    height 1px !important
    border 0 !important
    margin 0 !important
    padding 0 !important
    overflow hidden !important
    position absolute !important
    outline 0 !important
    left 0px !important
    top 0px !important

.ui-select-choices-row
    &:hover
        background-color #f5f5f5
        background-color #f5f5f5

.ng-dirty
    &.ng-invalid
        & > a
            &.select2-choice
                border-color #D44950
                border-color #D44950
        & > div
            &.selectize-input
                border-color #D44950
                border-color #D44950

.select2-result-single
    padding-left 0
    padding-left 0

.select2-locked
    & > .select2-search-choice-close
        display none
        display none

.select-locked
    & > .ui-select-match-close
        display none
        display none

body
    & > .select2-container
        &.open
            z-index 9999
            z-index 9999
    & > .ui-select-bootstrap
        &.open
            z-index 1000
            z-index 1000

.ui-select-container[theme="select2"].direction-up
    .ui-select-dropdown
        border-radius 4px 4px 0 0
        margin-top -2px
        border-top 1px solid #b3d4db
        border-bottom 0
        .select2-search
            margin-top 7px
    &.select2-dropdown-open
        .ui-select-match
            border-radius 0 0 4px 4px !important
        .select2-choices
            border-radius 0 0 4px 4px !important
            border-top 0

.ui-select-container[theme="select2"].direction-up.select2-container-multi
    .ui-select-dropdown
        margin-top 0px
.selectize-input
    &.selectize-focus
        border-color #007FBB !important
        border-color #007FBB !important

.selectize-control
    & > .selectize-input
        & > input
            width 100%
            width 100%
    & > .selectize-dropdown
        width 100%

.ui-select-container[theme="selectize"].direction-up
    .ui-select-dropdown
        box-shadow 0 -4px 8px rgba(0, 0, 0, 0.25)
        margin-top -4px !important

.btn-default-focus
    color #333
    background-color #EBEBEB
    border-color #ADADAD
    text-decoration none
    outline 5px auto focus-ring-color
    outline-offset -2px
    box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
    color #333
    background-color #EBEBEB
    border-color #ADADAD
    text-decoration none
    outline 5px auto focus-ring-color
    outline-offset -2px
    box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)

.ui-select-bootstrap
    .ui-select-toggle
        position relative
        position relative
        & > .caret
            position absolute
            height 10px
            top 50%
            right 10px
            margin-top -2px
            position absolute
            height 10px
            top 50%
            right 10px
            margin-top -2px
    & > .ui-select-match
        & > .btn
            text-align left !important
            text-align left !important
        & > .caret
            position absolute
            top 45%
            right 15px
            position absolute
            top 45%
            right 15px
    & > .ui-select-choices
        width 100%
        height auto
        max-height 200px
        overflow-x hidden
        margin-top -1px
        width 100%
        height auto
        max-height 200px
        overflow-x hidden
        margin-top -1px
    .ui-select-choices-row
        & > a
            display block
            padding 3px 20px
            clear both
            font-weight 400
            line-height 1.42857143
            color #333
            white-space nowrap
            display block
            padding 3px 20px
            clear both
            font-weight 400
            line-height 1.42857143
            color #333
            white-space nowrap
        &.active
            & > a
                color #fff
                text-decoration none
                outline 0
                background-color #428bca
                color #fff
                text-decoration none
                outline 0
                background-color #428bca
    &.ng-dirty
        &.ng-invalid
            & > button
                &.btn
                    &.ui-select-match
                        border-color #D44950
                        border-color #D44950

.input-group
    & > .ui-select-bootstrap
        &.dropdown
            position static
            position static
        & > input
            &.ui-select-search
                &.form-control
                    border-radius 4px
                    borderright-radius 0
                    border-radius 4px
                    borderright-radius 0
                    &.direction-up
                        border-radius 4px !important
                        borderright-radius 0 !important
                        border-radius 4px !important
                        borderright-radius 0 !important

.ui-select-multiple
    &.ui-select-bootstrap
        height auto
        padding 3px 3px 0 3px
        height auto
        padding 3px 3px 0 3px
        input
            &.ui-select-search
                background-color transparent !important
                border none
                outline none
                height 1.666666em
                margin-bottom 3px
                background-color transparent !important
                border none
                outline none
                height 1.666666em
                margin-bottom 3px
        .ui-select-match
            .close
                font-size 1.6em
                line-height 0.75
                font-size 1.6em
                line-height 0.75
        .ui-select-match-item
            outline 0
            margin 0 3px 3px 0
            outline 0
            margin 0 3px 3px 0
    .ui-select-match-item
        position relative
        position relative
        &.dropping-before
            &:before
                content ""
                position absolute
                top 0
                right 100%
                height 100%
                margin-right 2px
                border-left 1px solid #428bca
                content ""
                position absolute
                top 0
                right 100%
                height 100%
                margin-right 2px
                border-left 1px solid #428bca
        &.dropping-after
            &:after
                content ""
                position absolute
                top 0
                left 100%
                height 100%
                margin-left 2px
                border-right 1px solid #428bca
                content ""
                position absolute
                top 0
                left 100%
                height 100%
                margin-left 2px
                border-right 1px solid #428bca

.ui-select-bootstrap .ui-select-choices-row>a:hover, .ui-select-bootstrap .ui-select-choices-row>a:focus
    text-decoration none
    color #262626
    background-color #f5f5f5
    text-decoration none
    color #262626
    background-color #f5f5f5

.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a
    color #777
    cursor not-allowed
    background-color #fff
    color #777
    cursor not-allowed
    background-color #fff

.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add
    display none !important
    display none !important

.ui-select-container[theme="bootstrap"].direction-up
    .ui-select-dropdown
        box-shadow 0 -4px 8px rgba(0, 0, 0, 0.25)
        box-shadow 0 -4px 8px rgba(0, 0, 0, 0.25)
