<div class="modal">
	<div class="modal-small">
		<div class="modalClose">
			<button ng-click="$close()" class="buttonClose"></button>
		</div>
		<div class="modalHeader">
			<h1>Поздравляем!</h1>
		</div>
		<div class="modalContent">
			<div class="modalForm">
				<div class="modalFormHeader">
					<h2>Вы успешно зарегистрировались на  Happy-family.com</h2>
				</div>
				<div class="modalFormItem">
					<button ng-click="$close();$state.go('public.profile.info',{userId:currentUser._id})" class="buttonOrange">Заполнить профиль</button>
					<button ng-click="$close();$state.go('public.profile.feed',{userId:currentUser._id})" class="buttonGrey">Перейти к ленте</button>
				</div>
			</div>
		</div>
	</div>
	<!--<pre>
		{{currentUser | json }}
	</pre>-->
</div>