<style>
	.uploaded-image {
		max-height: 100px;
		max-width: 200px;
	}
	
	.ng-crop-container {
		height: 350px;
	}
</style>
<div class="modal">
	<div class="modalWide">
		<div class="modalClose">
			<button class="buttonClose" ng-click="$close()"></button>
		</div>
		<div class="modalHeader">

		</div>
		<div class="modalContent">
			<div ng-show="model.myImage" class="ng-crop-container">
				<img-crop image="model.myImage" result-image="model.myCroppedImage" area-type="z" area-min-size="137" result-image-size="137"></img-crop>
			</div>
			<button class="buttonOrange" ng-click="crop(model.myCroppedImage)">Сохранить</button>
			<button class="buttonGrey" ng-click="$close()">Отменить</button>
		</div>
	</div>
</div>