<div class="modal ">
	<div class="modalWide">
		<div class="modalClose">
			<button class="buttonClose" ng-click="$close()"></button>
		</div>
		<div class="modalHeader">
			<h1>Войти</h1>
			<p>У вас еще нет аккаунта? <a ng-click="$close()" ui-sref="public.anonimus.registration">Зарегистрируйтесь.</a></p>
		</div>
		<div class="modalContent">
			<div class="modalColumn">

				<form class="modalForm" name="loginForm" ng-submit="login(loginForm)">
					<div class="modalFormItem">
						<input placeholder="E-mail" class="inputBig" ng-model="model.email" required="">
					</div>
					<div class="modalFormItem">
						<input type="password" placeholder="Password" class="inputBig" ng-model="model.password" required="">
					</div>
					<div class="modalFormItem">
						<div class="modalFormItemColumn">
							<input i-check ng-model="model.check" type="checkbox" ng-true-value="true" ng-false-value="false">
							<label class="labelCheckbox">Чужой компьютер</label>
						</div>
						<div class="modalFormItemColumn modalFormItemColumnRight">
							<button class="buttonOrange" type="submit">Войти</button>
						</div>
					</div>
					<div class="modalFormItem"><a href="" ng-click="openRestore()" class="link">Забыли пароль?</a></div>
				</form>
			</div>
			<div class="modalColumnOr"><span>или</span></div>
			<div class="modalColumn">
				<div class="modalForm">
					<div class="modalFormHeader">
						<h2>Войти через социальную сеть</h2>
					</div>
					<div class="modalFormItem">
						<button class="buttonSocialVk">Войти через ВКонтакте</button>
					</div>
					<div class="modalFormItem">
						<button class="buttonSocialOk">Войти через Одноклассники</button>
					</div>
					<div class="modalFormItem">
						<button class="buttonSocialFb">Войти через Facebook</button>
					</div>
					<div class="modalFormItem">
						<button class="buttonSocialMail">Войти через mail.ru</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<form name="loginForm" ng-submit="login(loginForm)">
	<input ng-model="model.email" type="email" placeholder="Email" class="input" required="" />
	<input ng-model="model.password" type="password" placeholder="Пароль" class="input" required="" />
	<input id="loginDontSavePassword" type="checkbox" />
	<label for="loginDontSavePassword">
		Чужой компьютер
	</label>
	<button class="buttonOrange" type="submit">Войти</button>
</form>
<a href="" ng-click="openRestore()">Забыли пароль?</a>
<p>Войти через социальную сеть</p>
<button>Войти через ВКонтакте</button>
<button>Войти через Одноклассники</button>
<button>Войти через Facebook</button>
<button>Войти через mail.ru</button>
</div>
<div class="modal-footer"></div>


<div class="modal modalWide">


</div>-->