<div class="modal">
	<div class="modal-small">
		<div class="modalClose">
			<button class="buttonClose" ng-click="$close()"></button>
		</div>
		<div class="modalHeader">
			<h1>Создание нового пароля</h1>
		</div>
		<div class="modalContent">
			<form class="modalForm" name="newPasswordForm" ng-submit="changePassword(newPasswordForm)">
				<div class="modalFormHeader">
					<h2>Вы успешно зарегистрировались на  Happy-family.com</h2>
				</div>
				<div class="modalFormItem">
					<input ng-model="model.password" type="password" placeholder="Пароль" class="inputBig">
				</div>
				<div class="modalFormItem">
					<input ng-model="model.confirmPassword" type="password" placeholder="Подтвердите пароль" class="inputBig">
				</div>
				<div class="modalFormItem modalFormItemRight">
					<button type="submit" class="buttonOrange">Сохранить</button>
				</div>
			</form>
		</div>
	</div>
</div>