<div class="modal">
	<div class="modal-small">
		<div class="modalClose">
			<button class="buttonClose" ng-click="$close()"></button>
		</div>
		<div class="modalHeader">
			<h1>Восстановление пароля</h1>
		</div>
		<div class="modalContent">
			<div class="modalForm">
				<div class="modalFormHeader">
					<h2>Вам выслано письмо со ссылкой восстановление пароля</h2>
				</div>
				<div class="modalFormItem">
					<button class="buttonOrange" ng-click="$close()">Спасибо!</button>
					<a class="buttonGrey" ng-if="model.domain" ng-href="http://{{model.domain}}" target="_blank">Перейти к {{model.domain}}</a>
				</div>
			</div>
		</div>
	</div>
</div>