<div class="modal ">
	<div class="modalMedium">
		<div class="modalClose">
			<button class="buttonClose" ng-click="$close()"></button>
		</div>
		<div class="modalHeader">
			<h1>Восстановление пароля</h1>
		</div>
		<div class="modalContent">
			<form class="modalForm" name="restorePasswordForm" ng-submit="restore(restorePasswordForm)">
				<div class="modalFormItem modalFormItemFixInput">
					<input ng-model="model.email" type="text" placeholder="Ваш e-mail" class="inputBig">
					<button type="submit" class="buttonOrange">Восстановить пароль</button>
				</div>
			</form>
		</div>
	</div>
</div>