<div class="modal">
      <div class="modalMedium">
        <div class="modalClose">
          <button type="button" ng-click="$close()" class="buttonClose"></button>
        </div>
        <div class="modalHeader modalHeaderBreadcrumbs">
          <div class="profileInterestBreadcrumbs">
            <!--<div class="profileInterestBreadcrumb">{{rootTheme.name}}</div>-->
            <div style="cursor: pointer;" ng-click="setParent(breadCrumb._id)" ng-repeat="breadCrumb in breadCrumbs" class="profileInterestBreadcrumb">{{breadCrumb.name}}
              <!--<button ng-show="!$last && $last" class="buttonDelete"></button>-->
            </div>
            <!--<div class="profileInterestBreadcrumb">Семья</div>
            <div class="profileInterestBreadcrumb">Родственники</div>
            <div class="profileInterestBreadcrumb">Семья</div>
            <div class="profileInterestBreadcrumb">Родственники</div>
            <div class="profileInterestBreadcrumb">Семья</div>
            <div class="profileInterestBreadcrumb">Родственники</div>
            <div class="profileInterestBreadcrumb">Родственники
              <button class="buttonDelete"></button>
            </div>-->
          </div>
        </div>
        <div class="modalContentNoPadding">
          <div class="profileInterestSearch">
            <input ng-model="term" placeholder="Поиск" class="input inputSearch">
            <button ng-click="createTheme()" ng-show="showAddButton" type="button" class="buttonOrangeSmall">+ Добавить тему</button>
          </div>
          <div class="profileInterestSearchResults">
            <div ng-repeat="theme in themes" class="profileInterestSearchResultItem">
              <input ng-change="checkTheme(theme)" i-check ng-model="theme.selected" round="round" value="true" type="checkbox">{{theme.name}} {{theme.childCount > 0 ? '(' + theme.childCount + ')' : ''}}
              <div ng-click="setParent(theme.__originalId)" class="profileInterestSearchResultItemNext"></div>
            </div>            
            <!--<div class="profileInterestSearchResultItem">
              <input type="checkbox" class="icheckRound">Кот
              <div class="profileInterestSearchResultItemNext"></div>
            </div>
            <div class="profileInterestSearchResultItem">
              <input type="checkbox" class="icheckRound">Кот
              <div class="profileInterestSearchResultItemNext"></div>
            </div>
            <div class="profileInterestSearchResultItem">
              <input type="checkbox" class="icheckRound">Кот
            </div>
            <div class="profileInterestSearchResultItem">
              <input type="checkbox" class="icheckRound">Кот
            </div>
            <div class="profileInterestSearchResultItem">
              <input type="checkbox" class="icheckRound">Кот
            </div>-->
          </div>
          <div class="profileInterestSearchButton">
            <!--<button type="button" class="buttonGrey">Сохранить</button>-->
            <button type="button" ng-click="$close()" class="buttonGrey">Закрыть</button>
          </div>
        </div>
      </div>
    </div>