.slick-slider
    position relative
    display block
    box-sizing border-box
    user-select none
    touch-callout none
    touch-action pan-y
    tap-highlight-color transparent
    overflow hidden

.slick-list
    position relative
    display block
    overflow hidden
    margin 0
    padding 0
    &:focus
        outline none
    &.dragging
        cursor pointer
        cursor hand

.slick-slider .slick-track,
.slick-slider .slick-list
    transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

.slick-track
    position relative
    top 0
    left 0
    display block
    &:after
        clear both

.slick-track:before,
.slick-track:after
    display table
    content ''

.slick-loading
    .slick-track
        visibility hidden
    .slick-slide
        visibility hidden

.slick-slide
    display none
    float left
    height 100%
    min-height 1px
    img
        display block
    &.slick-loading
        img
            display none
    &.dragging
        img
            pointer-events none

[dir='rtl']
    .slick-slide
        float right

.slick-initialized
    .slick-slide
        display block

.slick-vertical
    .slick-slide
        display block
        height auto
        border 1px solid transparent


.slick-prev,
.slick-next
    font-size 0
    line-height 0
    position absolute
    top 50%
    margin-top -23px
    display block
    width 54px
    height 54px
    background-color transparent
    padding 0
    cursor pointer
    color transparent
    border none
    outline none
    z-index 2000
    opacity 0
    visibility hidden
    transition all .5s ease

.slick-arrowShow
    opacity 1
    visibility visible
.slick-prev
    left 30px
    bg()
    background-image inline("arrowLeft.svg")
    background-size 54px 54px
    transition all .5s
    &:hover
        background-image inline("arrowLeft.svg")
.slick-next
    right 30px
    bg()
    background-image inline("arrowRight.svg")
    background-size 54px 54px
    transition all .5s
    &:hover
        background-image inline("arrowRight.svg")
.slick-prev:hover,
.slick-next:hover,
    outline none
    opacity 1
    display block !important



.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
    opacity .25

.slick-prev:before,
.slick-next:before
    font-family 'slick'
    font-size 20px
    line-height 1
    opacity .4
    color white
    background-color #000
    font-smoothing antialiased
    osx-font-smoothing grayscale



[dir='rtl']
    .slick-prev
        right -25px
        left auto
        &:before
            content '→'
    .slick-next
        right auto
        left -25px
        &:before
            content '←'




.slick-dots
    position absolute
    bottom 5px
    left 5%
    display block
    width 100%
    padding 0
    list-style none
    text-align left
    li
        position relative
        display inline-block
        width 10px
        height 10px
        margin 0 5px
        padding 0
        cursor pointer
        button
            font-size 0
            color #fff
            display block
            width 10px
            height 10px
            padding 3px 0
            text-align center
            border-radius 50%
            cursor pointer
            border 0
            outline none
            background-color rgba(1,1,1,.1)
        &.slick-active
            button
                background-color rgba(255,255,255,1)
    @media web
        left 120px
    @media phone
        left 5%
.slick-dots li button:hover,
.slick-dots li button:focus
    outline none

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
    opacity 1
