.messangerBar(ng-controller="messangerCtrl")
    .messangerBarSearch
        .messangerBarSearchButton
            input.input(placeholder="Фамилия, имя или e-mail")
            button.buttonOrangeSmall
                +svgIcon('iconSearch')
                | Искать
    .messangerBarDropdown
        .dropdown(dropdown-select='selectContent', dropdown-model='selectContentSelected', dropdown-item-label='label')
        
    .messangerBarDropdown
        .dropdown(dropdown-select='selectTheme', dropdown-model='selectThemeSelected', dropdown-item-label='label')
    .messangerBarRange
        .labelCheckbox
            input(type="checkbox").icheckBox
            | Найти в радиусе
        .messangerBarRangeSlider
            .slider
                #slider-tooltip
        .messangerBarRangeUnit
            | км
