.sidebarTop
    display block
    width 100%
    padding 37px 25px
    clear fix
.sidebarAvatar
    display block
    position relative
    margin-right 15px
    float left
    size 55px
    &Image
        size 55px
        border-radius 50%
        img
            size 55px
            border-radius 50%
    &Status
        display block
        position absolute
        bottom -7px
        right -7px
        size 22px
        background-color #FFF
        border 3px solid #f9fafb
        border-radius 11px
        .statusDropdown
            display block
            size 22px
            &:after
                display none
.sidebarText
    display block
    width 105px
    float left
.sidebarName
    color #343f4b
    font-family Helvetica
    font-size 15px
    font-weight 400
    line-height 18px
    margin-bottom 9px
.sidebarLocation
    color #4d606f
    font-family Helvetica
    font-size 12px
    font-weight 400
    svg
        size 8px 9px
        opacity 0.3
        fill #4e606e
        margin-right 2px
