.sidebarMenu
    display block
    clear fix

.sidebarMenuItems
    display block
    clear fix
.sidebarMenuItem
    display block
    position relative
    color #78838e
    font-family Helvetica
    font-size 15px
    padding 10px 25px
    line-height 20px
    font-weight 400
    cursor pointer
    clear fix
    &:hover
        background-color #e5e7e9
    svg
        display inline-block
        vertical-align middle
        margin-right 15px
        size 20px
        fill #adbdc7
    &Count
        display block
        position absolute
        right 25px
        top 10px
        color #ff6900
        font-family Helvetica
        font-size 13px
        line-height 13px
        font-weight 700
        padding 2px 8px
        border-radius 10px
        border 2px solid #ff6900
.sidebarChoiseContent
    display block
    background-color #e5e7e9
    height 50px
    text-align center
    padding 15px 0 0 0
    margin-bottom 10px
.statusDropdownContent
    display block
    text-align center
    .selected
        color #78838e !important
        font-size 14px !important
    .dropdown
        font-size 14px !important
        li
            a
                padding-bottom 7px !important
