
<div class="posts">
	<div class="postAddCreate">Создать  <a href="#" popover-trigger="mouseenter" popover="On the Top!" popover-placement="bottom">событие</a> в  
	<a ng-click="feed.openModal()" href="#" popover-trigger="mouseenter" popover="On the Top!" popover-placement="bottom">профессианальной</a> теме</div>
	<div class="postAdd">
		<!-- TODO сделать выбор тем и типа вопроса <div class="postAddCreate">Создать событие в профессианальной теме</div>-->
		<post-add theme-id="{{themeId}}"></post-add>
	</div>
</div>