<div m-obj m-obj-id="{{chatId}}" ng-model="chatModel" m-collection="chatsCollection" m-subscription="{{chatSubsName}}" class="messangerChat">
	<div class="messangerChatBar">
		<div m-obj m-obj-id="{{im.getInterlocutorId(chatModel)}}" ng-show="interlocutor && interlocutor.profile" ng-model="interlocutor" m-collection="usersCollection" m-subscription="{{userSubsName}}" class="messangerChatBarName">
			Беседа с {{interlocutor.profile.firstName}} {{interlocutor.profile.lastName}}
		</div>
		<div class="messangerChatBarButton">
			<div class="messangerChatBarButtonItem">
				<svg>
					<use xlink:href="#iconChatAdd"></use>
				</svg>
			</div>
			<div class="messangerChatBarButtonItem">
				<svg>
					<use xlink:href="#iconChatSearch"></use>
				</svg>
			</div>
			<div class="messangerChatBarButtonItem">
				<svg>
					<use xlink:href="#iconChatExit"></use>
				</svg>
			</div>
			<div class="messangerChatBarButtonItem">
				<svg>
					<use xlink:href="#iconChatRemove"></use>
				</svg>
			</div>
		</div>
	</div>
	<div id="messagesScroll" class="messangerChatMessages">
		<div slimscroll="messangerChatMessagesScrollOptions()" class="messangerChatMessagesScroll">
			<div class="messangerChatItem fx-fade-normal" ng-repeat="message in messages | messagesGroup : firstMessages">
				<div class="messangerChatItemTime">{{message.createdAt | amDateFormat:'hh.mm'}}</div>
				<div ng-if="message.userId != currentUser._id" class="messangerMessageAvatar">
					<!--<img src="img/avatar.jpg" alt="">-->
					<avatar user-id="{{message.userId}}"></avatar>
					</div>
				<div ng-class="{'messangerMessageBlue' : message.userId != currentUser._id, 'messangerMessageWhite' : message.userId == currentUser._id}" ng-bind="message.content.text"></div>
			</div>
		</div>
		<!--<div slimscroll="messangerChatMessagesScrollOptions()" class="messangerChatMessagesScroll">
			<div class="messangerChatItem" ng-repeat="message in messages | messagesGroup : firstMessages">
				<div ng-if="firstMessages[message._id]" class="messangerChatItemDate">{{firstMessages[message._id].date | amDateFormat:'dddd.MM.YY'}}</div>
				<div ng-if="firstMessages[message._id]" class="messangerChatItemLine"></div>
				<div ng-if="!firstMessages[message._id]" class="messangerChatItemTime" title="{{message.createdAt | amDateFormat:'DD.MM.YYYY HH.mm.ss'}}">{{message.createdAt | amDateFormat:'hh.mm.ss'}}</div>
				<div ng-if="!firstMessages[message._id] && message.userId != currentUser._id" class="messangerMessageAvatar"><img src="img/avatar.jpg" alt=""></div>
				<div ng-if="!firstMessages[message._id]" ng-class="{'messangerMessageBlue' : message.userId != currentUser._id, 'messangerMessageWhite' : message.userId == currentUser._id}" ng-bind="message.content.text"></div>
			</div>
		</div>-->
	</div>
	<div class="messangerChatFooter">
		<div class="messangerChatForm">
			<textarea ng-model="newMessageText" class="textarea"></textarea>
			<div class="messangerChatFormBar">
				<button ng-click="chat.sendMessage(newMessageText)" class="buttonBlueBayoux">Отправить</button>
			</div>
		</div>
	</div>
</div>