<div class="messanger">
	<div class="messangerBar">
		<div class="messangerBarSearch">
			<div class="messangerBarSearchButton">
				<input placeholder="Фамилия, имя или e-mail" class="input">
				<button class="buttonOrangeSmall">
					<svg>
						<use xlink:href="#iconSearch"></use>
					</svg>Искать
				</button>
			</div>
		</div>
		<div class="messangerBarDropdown">
			<div dropdown-select="selectContent" dropdown-model="selectContentSelected" dropdown-item-label="label" class="dropdown"></div>
		</div>
		<div class="messangerBarDropdown">
			<div dropdown-select="selectTheme" dropdown-model="selectThemeSelected" dropdown-item-label="label" class="dropdown"></div>
		</div>
		<div class="messangerBarRange">
			<div class="labelCheckbox">
				<input i-check type="checkbox" ng-model="search_in_radius">Найти в радиусе
			</div>
			<div class="messangerBarRangeSlider">
				<div class="slider">
					<div id="slider-tooltip"></div>
				</div>
			</div>
			<div class="messangerBarRangeUnit">км</div>
		</div>
	</div>
	<div class="messangerContent">
		<div class="messangerUsers">
			<div slimscroll="messangerUserScrollOptions()" class="messangerUserScroll">				
				<div ng-click="$state.go('private.im.chat', {id : chat._id })" class="messangerUser fx-fade-normal" ng-class="{'messangerUserActive' : $state.is('private.im.chat', {id : chat._id })}"
				title="{{chat | json}}" ng-repeat="chat in chats"
				m-obj m-obj-id="{{im.getInterlocutorId(chat)}}" ng-model="interlocutor" m-collection="usersCollection" m-subscription="{{userSubsName}}">
					<div class="messangerUserAvatar">
						<div class="messangerUserImage">
							<avatar user-id="{{im.getInterlocutorId(chat)}}"></avatar>
							<!--<img ng-src="{{chat.pictureUrl || 'img/avatar.jpg'}}" alt="">-->
							<div class="messangerUserStatus">
								<div class="statusOnlineSmall"></div>
							</div>
						</div>
					</div>
					<div class="messangerUserText">
						<div class="messangerUserName">{{interlocutor.profile.firstName}} {{interlocutor.profile.lastName}}</div>
						<div class="messangerUserStart" ng-bind="chat.lastMessage.content.text"></div>
						<div ng-show="interlocutor.profile.currentLocationName" class="messangerUserLocation">
							<svg>
								<use xlink:href="#iconLocation"></use>
							</svg>{{interlocutor.profile.currentLocationName}}
						</div>
					</div>
					<div ng-click="im.menuClick($event)" class="messangerUserMenu">
						<div class="messangerUserMenuItem">
							<svg>
								<use xlink:href="#iconChat"></use>
							</svg>
						</div>
						<div class="messangerUserMenuItem">
							<svg>
								<use xlink:href="#iconChatDelete"></use>
							</svg>
						</div>
						<div class="messangerUserMenuItem">
							<svg>
								<use xlink:href="#iconBlock"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ui-view class="fx-zoom-normal"></ui-view>
	</div>
</div>