<div class="profileFollowItems">
	<div class="profileFollowItem fx-zoom-normal" ng-repeat="user in users">
		<div ng-click="$state.go('public.profile.feed', {userId : user._id})">
			<div class="profileFollowItemAvatar">
				<avatar user-id="{{user._id}}"></avatar>
			</div>
			<div class="profileFollowItemName">{{user.profile.firstName}}<br/>{{user.profile.lastName }}</div>
		</div>
	</div>
</div>