<div class="profileFollowerItems">
	<div class="profileFollowerItem fx-fade-normal" in-view="currentUser && currentUser._id == f.folowToUserId && $inview && fc.setViewed(f)"
	in-view-options="{debounce : 2500 }" ng-repeat="f in follows" m-obj m-obj-id="{{f.userId}}" ng-model="follower" m-collection="usersCollection"
	m-subscription="{{userSubsName}}">
		<div ng-click="$state.go('public.profile.feed', {userId: f.userId})" class="profileFollowerItemAvatar">
			<avatar user-id="{{f.userId}}"></avatar>
			<div class="profileFollowerItemAvatarStatus">
				<div class="statusOnline">
					<!--class="status{{user.status}}"-->
				</div>
			</div>
		</div>
		<div class="profileFollowerItemText">
			<div ng-click="$state.go('public.profile.feed', {userId: f.userId})" class="profileFollowerItemName">{{follower.profile.firstName + ' ' + follower.profile.lastName }}</div>
			<div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
			<div class="profileFollowerItemFooter">
				<div class="profileFollowerItemSubscriper">1234 подписчиков</div>
				<div class="profileFollowerItemButton">
					<subscribe-unsubscribe subscribed-on="f.userId" subscribe-class="buttonOrangeSmall" unsubscribe-class="buttonOrangeSmall"></subscribe-unsubscribe>
				</div>
			</div>
		</div>
	</div>
</div>