<div class="profileInfo">
	<div class="profileInfoSectionBar">Общая информация
		<div ng-hide="mainEditing" ng-click="mainEditing = true" class="profileInfoSectionBarEdit">
			<button class="buttonBlueBayoux">
				<svg>
					<use xlink:href="#iconEdit"></use>
				</svg>Редактировать
			</button>
		</div>
	</div>
	<div ng-hide="mainEditing">
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Имя:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.firstName"></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Отчество:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.middleName"></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Фамилия:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.lastName"></div>
		</div>
		<div ng-show="model.profile.gender == genders.Female && model.profile.madenName" class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Фамилия в девичестве:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.madenName"></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Вы:</div>
			<div class="profileInfoSectionItemRight">
				{{model.profile.gender == genders.Female ? 'Женщина' : ''}} {{model.profile.gender == genders.Male ? 'Мужчина' : ''}}
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">День рождения:</div>
			<div class="profileInfoSectionItemRight">{{model.profile.bornOn | amDateFormat:'DD.MM.YYYY'}}</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Место рождения</div>
			<div class="profileInfoSectionItemRight">
				<a href="#" class="link" ng-bind="model.profile.address.text"></a>
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">О себе:</div>
			<div class="profileInfoSectionItemRight"><span ng-bind="model.profile.additionalInfo"></span></div>
		</div>
	</div>
	<form ng-show="mainEditing" class="profileInfoSection" name='profileForm' ng-submit="profileSettings.setProfile(profileForm)">
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Имя:</div>
			<div class="profileInfoSectionItemRight">
				<input ng-model="model.profile.firstName" class="input">
				<div dropdown-select="visibilityOptions" dropdown-model="ddSelectSelected" dropdown-item-label="text" class="dropdown"></div>
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Отчество:</div>
			<div class="profileInfoSectionItemRight">
				<input ng-model="model.profile.middleName" class="input">
				<div dropdown-select="visibilityOptions" dropdown-model="ddSelectSelected" dropdown-item-label="text" class="dropdown"></div>
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Фамилия:</div>
			<div class="profileInfoSectionItemRight">
				<input ng-model="model.profile.lastName" class="input">
				<div dropdown-select="ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-item-label="text" class="dropdown"></div>
			</div>
		</div>
		<div ng-show="model.profile.gender == genders.Female" class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Фамилия в девичестве:</div>
			<div class="profileInfoSectionItemRight">
				<input ng-model="model.profile.madenName" class="input">
				<div dropdown-select="ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-item-label="text" class="dropdown"></div>
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Пол:</div>
			<div class="profileInfoSectionItemRight">
				<input i-check ng-model="model.profile.gender" value="{{genders.Male}}" type="radio" name="gender">Мужчина&nbsp;
				<input i-check ng-model="model.profile.gender" value="{{genders.Female}}" type="radio" name="gender">Женщина
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">День рождения:</div>
			<div class="profileInfoSectionItemRight">
				<ui-select ng-model="bornOn.date" ng-model-options="{ getterSetter: true }" theme="select2" ng-disabled="disabled" reset-search-input="false"
				style="width: 56px;" search-enabled="false">
					<ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
					<ui-select-choices repeat="date in dates | filter: $select.search">{{date}}</ui-select-choices>
				</ui-select>
				<ui-select ng-model="bornOn.month" ng-model-options="{ getterSetter: true }" theme="select2" ng-disabled="disabled" reset-search-input="false"
				style="width: 110px;" search-enabled="false">
					<ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="month.value as month in months | filter: $select.search">{{month.name}}</ui-select-choices>
				</ui-select>
				<ui-select ng-model="bornOn.year" ng-model-options="{ getterSetter: true }" theme="select2" ng-disabled="disabled" reset-search-input="false"
				style="width: 80px;" search-enabled="false">
					<ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
					<ui-select-choices repeat="year in years | filter: $select.search">{{year}}</ui-select-choices>
				</ui-select>
				<div dropdown-select="ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-item-label="text" class="dropdown"></div>
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Место рождения</div>
			<div class="profileInfoSectionItemRight">
				<!--todo: добавить фильтрацию по стране, возможно добавить в yandex query string страну-->
				<!--<div class="profileInfoSectionSubItem">
					<ui-select ng-model="country.selected" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 250px;"
					title="Choose an address" search-enabled="true">
						<ui-select-match placeholder="Select colors...">{{$select.selected}}</ui-select-match>
						<ui-select-choices repeat="country in countries | filter: $select.search">{{country}}</ui-select-choices>
					</ui-select>
					<div dropdown-select="ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-item-label="text" class="dropdown"></div>
				</div>-->
				<div class="profileInfoSectionSubItem">
					<ui-select ng-model="model.profile.address.text" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 250px;"
					title="Choose an address" search-enabled="true">
						<ui-select-match placeholder="Название города">{{$select.selected.text || model.profile.address.text}}</ui-select-match>
						<ui-select-choices refresh="findCity($select.search)" refresh-delay="20" repeat="city.text as city in asyncCities track by $index">{{city.text}}</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">О себе:</div>
			<div class="profileInfoSectionItemRight">
				<textarea ng-model='model.profile.additionalInfo' class="textarea"></textarea>
			</div>
		</div>
		<div class="profileInfoSectionItem profileInfoSectionItemSubmit">
			<div class="profileInfoSectionItemLeft"></div>
			<div class="profileInfoSectionItemRight">
				<div class="profileInfoSectionSubItem">
					<button ng-click="mainEditing = false" type="submit" class="buttonOrange">Сохранить</button>
					<button ng-click="mainEditing = false; profileSettings.setDefault();" type="button" class="buttonGrey">Отменить</button>
				</div>
			</div>
		</div>
	</form>
	<div class="profileInfoSection">
		<div class="profileInfoSectionBar">Семья
			<div class="profileInfoSectionBarEdit">
				<button ng-hide="geneologyEditing" ng-click="geneologyEditing = true" class="buttonBlueBayoux">
					<svg>
						<use xlink:href="#iconEdit"></use>
					</svg>Редактировать
				</button>
			</div>
		</div>
		<div ng-hide="geneologyEditing">
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Семейное положение:</div>
				<div class="profileInfoSectionItemRight">
					{{model.profile.geneology.maritalStatus.name}}&nbsp;<a href="#" class="link">(!)Игорем Троянским</a>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Дети:</div>
				<div class="profileInfoSectionItemRight">
					<a ng-repeat="children in model.profile.geneology.childrens" href="#" class="link">{{children.name}}{{!$last ? ',&nbsp;' : ''}}</a>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Родители:</div>
				<div class="profileInfoSectionItemRight">
					<a ng-repeat="parent in model.profile.geneology.parents" href="#" class="link">{{parent.name}}{{!$last ? ',&nbsp;' : ''}}</a>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft"><a href="#" class="link">(!)Генеологическое дерево</a></div>
				<div class="profileInfoSectionItemRight"></div>
			</div>
		</div>
		<form ng-show="geneologyEditing">
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Семейное положение:</div>
				<div class="profileInfoSectionItemRight">
					<ui-select ng-model="model.profile.geneology.maritalStatus" theme="select2" ng-disabled="disabled" style="width: 250px;"
					title="Choose an address" search-enabled="false">
						<ui-select-match>{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="maritalStatus as maritalStatus in maritalStatuses">{{maritalStatus.name}}</ui-select-choices>
					</ui-select>
					<ui-select ng-model="model.profile.geneology.family._id" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 250px;"
						title="" search-enabled="true">
							<ui-select-match placeholder="">{{$select.selected.profile ? [$select.selected.profile.firstName, $select.selected.profile.middleName, $select.selected.profile.lastName].join(' ') : 
								[family.profile.firstName, family.profile.middleName, family.profile.lastName].join(' ')}}</ui-select-match>
							<ui-select-choices refresh="findUsers($select.search)" refresh-delay="20" repeat="user._id as user in asyncUsers">{{[user.profile.firstName, user.profile.middleName, user.profile.lastName].join(' ')}}</ui-select-choices>
						</ui-select>
					<button class="buttonOrangeSmall">+Добавить</button>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Дети:</div>
				<div class="profileInfoSectionItemRight">
					<div ng-repeat="children in model.profile.geneology.childrens track by $index">
						<ui-select ng-model="children.id" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 250px;"
						title="" search-enabled="true">
							<ui-select-match placeholder="">{{$select.selected.profile ? [$select.selected.profile.firstName, $select.selected.profile.middleName, $select.selected.profile.lastName].join(' ') : 
								[children.profile.firstName, children.profile.middleName, children.profile.lastName].join(' ')}}</ui-select-match>
							<ui-select-choices refresh="findUsers($select.search)" refresh-delay="20" repeat="user._id as user in asyncUsers track by $index">{{[user.profile.firstName, user.profile.middleName, user.profile.lastName].join(' ')}}</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<button ng-click="model.profile.geneology.childrens.push({name: ''})" class="buttonOrangeSmall">+Добавить</button>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Родители:</div>
				<div class="profileInfoSectionItemRight">
					<div ng-repeat="parent in model.profile.geneology.parents track by $index">
						<ui-select ng-model="parent.id" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 250px;"
						title="Choose an address" search-enabled="true">
							<ui-select-match placeholder="">{{$select.selected.profile ? [$select.selected.profile.firstName, $select.selected.profile.middleName, $select.selected.profile.lastName].join(' ') : 
								[parent.profile.firstName, parent.profile.middleName, parent.profile.lastName].join(' ')}}</ui-select-match>
							<ui-select-choices refresh="findUsers($select.search)" refresh-delay="20" repeat="user._id as user in asyncUsers">{{[user.profile.firstName, user.profile.middleName, user.profile.lastName].join(' ')}}</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<button ng-click="model.profile.geneology.parents.push({name: ''})" class="buttonOrangeSmall">+Добавить</button>
				</div>
			</div>
			<div class="profileInfoSectionItem profileInfoSectionItemSubmit">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<div class="profileInfoSectionSubItem">
						<button ng-click="geneologyEditing = false" class="buttonOrange">Сохранить</button>
						<button ng-click="geneologyEditing = false; profileSettings.setDefault();" class="buttonGrey">Отменить</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="profileInfoSection">
		<div class="profileInfoSectionBar">Карьера
			<div ng-hide="careerEditing" class="profileInfoSectionBarEdit">
				<button ng-click="careerEditing = true" class="buttonBlueBayoux">
					<svg>
						<use xlink:href="#iconEdit"></use>
					</svg>Редактировать
				</button>
			</div>
		</div>
		<div ng-hide="careerEditing">
			<div ng-repeat="job in model.profile.jobs" class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">{{$first ? 'Место работы, должность:' : ''}}</div>
				<div class="profileInfoSectionItemRight" m-obj m-obj-id="{{job.employerId}}" m-collection="employers_" m-subscription="{{employerSubs}}"
				ng-model="empl">
					<a href="#" class="link">{{empl.name}}</a> , {{job.position}}
					<span>{{job.startedAt}} - {{job.now ? 'по текущее время' : job.finishedAt}}</span>
				</div>
			</div>
		</div>
		<form ng-show="careerEditing" name='jobsForm' ng-submit="profileSettings.setJobs(jobsForm)">
			<div ng-repeat="job in model.profile.jobs" class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">{{$first ? 'Место работы, должность:' : ''}}</div>
				<div class="profileInfoSectionItemRight" m-obj m-obj-id="{{job.employerId}}" m-collection="employers_" m-subscription="{{employerSubs}}"
				ng-model="empl">
					<ui-select on-select="selectEmployer($item, job)" tagging-tokens="ENTER" tagging-label="name" tagging="tagTransform" ng-model="job.employerId"
					theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 250px;" title="Choose an employer" search-enabled="true">
						<ui-select-match placeholder="Место работы">{{$select.selected.name || empl.name}}</ui-select-match>
						<ui-select-choices refresh="findEmployers($select.search)" refresh-delay="20" repeat="employer.__originalId as employer in employers track by $index">{{employer.name}}</ui-select-choices>
					</ui-select>
					<input type="text" ng-model="job.position" placeholder="Должность" class="input" />
					<div>
						<ui-select ng-model="job.startedAt" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 80px;"
						search-enabled="false">
							<ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="year in years | filter: $select.search">{{year}}</ui-select-choices>
						</ui-select>
						<ui-select ng-model="job.finishedAt" theme="select2" ng-disabled="job.now" reset-search-input="false" style="width: 80px;"
						search-enabled="false">
							<ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="year in years | filter: $select.search">{{year}}</ui-select-choices>
						</ui-select>
						<input ng-change="profileSettings.checkByNow(job)" i-check ng-model="job.now" type="checkbox" ng-true-value="true" ng-false-value="false">По текущее время
					</div>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<button type="button" ng-click="model.profile.jobs.push({})" class="buttonOrangeSmall">+Добавить</button>
				</div>
			</div>
			<div class="profileInfoSectionItem profileInfoSectionItemSubmit">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<div class="profileInfoSectionSubItem">
						<button ng-click="careerEditing = false" type="submit" class="buttonOrange">Сохранить</button>
						<button ng-click="careerEditing = false; profileSettings.setDefault();" type="button" class="buttonGrey">Отменить</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="profileInfoSection">
		<div class="profileInfoSectionBar">Образование
			<div ng-hide="educationEditing" class="profileInfoSectionBarEdit">
				<button ng-click="educationEditing = true" class="buttonBlueBayoux">
					<svg>
						<use xlink:href="#iconEdit"></use>
					</svg>Редактировать
				</button>
			</div>
		</div>
		<div ng-hide="educationEditing">
			<div ng-repeat="education in model.profile.educations" class="profileInfoSectionItem" m-obj m-obj-id="{{education.institutionId}}"
			m-collection="institutions_" m-subscription="{{institutionSubs}}" ng-model="inst">
				<div class="profileInfoSectionItemLeft">{{profileSettings.getInstitutionTypeDescription(education.institutionType)}}:</div>
				<div class="profileInfoSectionItemRight">
					<a href="#" class="link">{{inst.name}}</a>, {{education.description ? education.description + ',' : ''}}
					<span>{{education.startedAt}} - {{education.now ? 'по текущее время' : education.finishedAt}}</span>
				</div>
			</div>
		</div>
		<form ng-show="educationEditing" name='educationsForm' ng-submit="profileSettings.setEducations(educationsForm)">
			<div ng-repeat="education in model.profile.educations" class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight" m-obj m-obj-id="{{education.institutionId}}" m-collection="institutions_" m-subscription="{{institutionSubs}}"
				ng-model="inst">
					<ui-select ng-model="education.institutionType" theme="select2" ng-disabled="disabled" style="width: 250px;" title="Choose an address"
					search-enabled="false">
						<ui-select-match>{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="institutionType.value as institutionType in institutionTypes">{{institutionType.name}}</ui-select-choices>
					</ui-select>
					<ui-select on-select="selectInstitution($item, education)" tagging-tokens="ENTER" tagging-label="name" tagging="tagTransform"
					ng-model="job.institutionId" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 250px;"
					title="Choose an institution" search-enabled="true">
						<ui-select-match placeholder="Название учреждения" ng-bind="$select.selected.name || inst.name"></ui-select-match>
						<ui-select-choices refresh="findInstitution($select.search, education.institutionType)" refresh-delay="20" repeat="institution._id as institution in asyncInstitutions track by $index">{{institution.name}} ({{institution.responseMetaData.address}})</ui-select-choices>
					</ui-select>

					<input type="text" ng-model="education.description" placeholder="Описание" class="input" />
					<div>
						<ui-select ng-model="education.startedAt" theme="select2" ng-disabled="disabled" reset-search-input="false" style="width: 80px;"
						search-enabled="false">
							<ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="year in years | filter: $select.search">{{year}}</ui-select-choices>
						</ui-select>
						<ui-select ng-model="education.finishedAt" theme="select2" ng-disabled="education.now" reset-search-input="false" style="width: 80px;"
						search-enabled="false">
							<ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="year in years | filter: $select.search">{{year}}</ui-select-choices>
						</ui-select>
						<input ng-change="profileSettings.checkByNow(education)" i-check ng-model="education.now" type="checkbox" ng-true-value="true"
						ng-false-value="false">По текущее время
					</div>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<button ng-click="model.profile.educations.push({institutionType: institutionTypes[1].value})" type="button" class="buttonOrangeSmall">+Добавить</button>
				</div>
			</div>
			<div class="profileInfoSectionItem profileInfoSectionItemSubmit">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<div class="profileInfoSectionSubItem">
						<button ng-click="educationEditing = false" type="submit" class="buttonOrange">Сохранить</button>
						<button ng-click="educationEditing = false; profileSettings.setDefault();" type="button" class="buttonGrey">Отменить</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="profileInfoSection">
		<div class="profileInfoSectionBar">Контакты
			<div ng-hide="contactsEditing" class="profileInfoSectionBarEdit">
				<button ng-click="contactsEditing = true" class="buttonBlueBayoux">
					<svg>
						<use xlink:href="#iconEdit"></use>
					</svg>Редактировать
				</button>
			</div>
		</div>
		<div ng-hide="contactsEditing">
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Моб. телефон:</div>
				<div class="profileInfoSectionItemRight">
					<a href="#" class="link" ng-bind="model.profile.contacts.phone"></a>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">e-mail:</div>
				<div class="profileInfoSectionItemRight">
					<a ng-repeat="email in model.emails" href="mailto:{{email.address}}" class="link" ng-bind="email.address + ' '"></a>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">facebook:</div>
				<div class="profileInfoSectionItemRight">
					<a href="#" class="link" ng-bind="model.profile.contacts.facebook"></a>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Сайт:</div>
				<div class="profileInfoSectionItemRight">
					<a href="#" class="link" ng-bind="model.profile.contacts.site"></a>
				</div>
			</div>
		</div>
		<form ng-show="contactsEditing">
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Моб. телефон:</div>
				<div class="profileInfoSectionItemRight">
					<input ng-model="model.profile.contacts.phone" class="input">
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">e-mail:</div>
				<div ng-repeat="email in model.emails" class="profileInfoSectionItemRight">
					<input ng-disabled="true" ng-model="email.address" class="input">
					<button ng-if="!auth.profile.isActivated" ng-click="profileSettings.activateProfile()" class="buttonOrange" type="button">Подтв</button>
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">facebook:</div>
				<div class="profileInfoSectionItemRight">
					<input ng-model="model.profile.contacts.facebook" class="input">
				</div>
			</div>
			<div class="profileInfoSectionItem">
				<div class="profileInfoSectionItemLeft">Сайт:</div>
				<div class="profileInfoSectionItemRight">
					<input ng-model="model.profile.contacts.site" class="input">
				</div>
			</div>
			<div class="profileInfoSectionItem profileInfoSectionItemSubmit">
				<div class="profileInfoSectionItemLeft"></div>
				<div class="profileInfoSectionItemRight">
					<div class="profileInfoSectionSubItem">
						<button ng-click="contactsEditing = false" class="buttonOrange">Сохранить</button>
						<button ng-click="contactsEditing = false; profileSettings.setDefault();" class="buttonGrey">Отменить</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>