<div class="profileInterest">
	<div class="profileInterestItem">
		<div class="profileInterestCategory"><span>Категория: </span>Семья</div>
		<div class="profileInterestTheme"><span>Темы: </span>семейный отдых, родственники, родословная Ивана Владимировича</div>
	</div>
	<div class="profileInterestItem">
		<div class="profileInterestCategory"><span>Категория: </span>Бизнес</div>
		<div class="profileInterestTheme"><span>Темы: </span>макрамэ, картография, картография 19 века, макрамэ, картография, картография 19 века </div>
	</div>
	<div class="profileInterestItem">
		<div class="profileInterestCategory"><span>Категория: </span>Хобби</div>
		<div class="profileInterestTheme"><span>Темы: </span>макрамэ, картография, картография 19 века, макрамэ, картография, картография 19 века </div>
	</div>
</div>