<div class="profileInfo">
	<div class="profileInfoSection">
		<div class="profileInfoSectionBar">Общая информация</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Имя:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.firstName"></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Отчество:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.middleName"></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Фамилия:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.lastName"></div>
		</div>
		<div ng-show="model.profile.gender == genders.Female && model.profile.madenName" class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Фамилия в девичестве:</div>
			<div class="profileInfoSectionItemRight" ng-bind="model.profile.madenName"></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Вы:</div>
			<div class="profileInfoSectionItemRight">
				{{model.profile.gender == genders.Female ? 'Женщина' : ''}} {{model.profile.gender == genders.Male ? 'Мужчина' : ''}}
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">День рождения:</div>
			<div class="profileInfoSectionItemRight">{{model.profile.bornOnMoment | amDateFormat:'DD.MM.YYYY'}}</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Место рождения</div>
			<div class="profileInfoSectionItemRight">
				<a href="#" class="link" ng-bind="model.profile.address.text"></a>
			</div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">О себе:</div>
			<div class="profileInfoSectionItemRight"><span ng-bind="model.profile.additionalInfo"></span></div>
		</div>
	</div>
	<div ng-show="model.profile.family" class="profileInfoSection">
		<div class="profileInfoSectionBar">Семья</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Семейное положение:</div>
			<div class="profileInfoSectionItemRight"> замужем за <a href="#" class="link">(!)Игорем Троянским</a></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Дети:</div>
			<div class="profileInfoSectionItemRight"><a href="#" class="link">(!)Птоломей Троянский </a>, <a href="#" class="link">(!)Медея Хромченко</a></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Родители:</div>
			<div class="profileInfoSectionItemRight"><a href="#" class="link">(!)Птоломей Троянский </a>, <a href="#" class="link">(!)Медея Хромченко</a></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft"><a href="#" class="link">(!)Генеологическое дерево</a></div>
			<div class="profileInfoSectionItemRight"></div>
		</div>
	</div>
	<div ng-show="model.profile.jobs && model.profile.jobs.length" class="profileInfoSection">
		<div class="profileInfoSectionBar">Карьера</div>
		<div ng-repeat="job in model.profile.jobs" class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">{{$first ? 'Место работы, должность:' : ''}}</div>
			<div class="profileInfoSectionItemRight" m-obj m-obj-id="{{job.employerId}}" m-collection="employers_" m-subscription="{{employerSubs}}"
			ng-model="empl">
				<a href="#" class="link">{{empl.name}}</a> , {{job.position}}
				<span>{{job.startedAt}} - {{job.now ? 'по текущее время' : job.finishedAt}}</span>
			</div>
		</div>
	</div>
	<div ng-show="model.profile.educations && model.profile.educations.length" class="profileInfoSection">
		<div class="profileInfoSectionBar">Образование</div>
		<div ng-repeat="education in model.profile.educations" class="profileInfoSectionItem" m-obj m-obj-id="{{education.institutionId}}"
		m-collection="institutions_" m-subscription="{{institutionSubs}}" ng-model="inst">
			<div class="profileInfoSectionItemLeft">{{profileInfo.getInstitutionTypeDescription(education.institutionType)}}:</div>
			<div class="profileInfoSectionItemRight">
				<a href="#" class="link">{{inst.name}}</a>, {{education.description ? education.description + ',' : ''}}
				<span>{{education.startedAt}} - {{education.now ? 'по текущее время' : education.finishedAt}}</span>
			</div>
		</div>
	</div>
	<div class="profileInfoSection">
		<div class="profileInfoSectionBar">Контакты</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Моб. телефон:</div>
			<div class="profileInfoSectionItemRight"><a href="#" class="link">(!)+7 903 800 01 23</a></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">e-mail:</div>
			<div class="profileInfoSectionItemRight"><a href="#" class="link">{{model.emails[0].address}}</a></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">facebook:</div>
			<div class="profileInfoSectionItemRight"><a href="#" class="link">(!)facebook1221323</a></div>
		</div>
		<div class="profileInfoSectionItem">
			<div class="profileInfoSectionItemLeft">Сайт:</div>
			<div class="profileInfoSectionItemRight"><a href="#" class="link">(!)www.super.me</a></div>
		</div>
	</div>
</div>