<div class="profilePosts">
	<!--<post-add></post-add>-->
	<div class="post" ng-repeat-start="p in posts">
		<div class="postHeader">
			<div class="postAvatar"><img src="img/avatar.jpg" alt=""></div>
			<div class="postHeaderContent">
				<div class="postHeaderName">
					<p> <span>Eric Hoffman вместе с </span><a href="#">Василием Уткиным</a></p>
					<p>

						на <a href="#">Луне, девятый кратор</a>
					</p>
				</div>
				<div class="postHeaderDate"><span>Запланированно:</span>27 июл 2035, Вт 11:20</div>
			</div>
		</div>
		<div class="postTags">
			<div class="postTag">#сделай_сам_событие</div>
			<div class="postTag">#луна</div>
		</div>
		<div class="postConnectEvent"><a href="#">23</a>Связанные события</div>
		<div class="postContent">
			<div class="postContentImage"><img src="img/postimage.jpg"></div>
			<h2>My home on the moon.</h2>
			<p>

				The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code
				for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United <a href="#">stronaut</a>				wings.
			</p>
			<div class="postContentMore"><a href="#">Показать полностью...</a></div>
		</div>
		<div class="postFooter">
			<div class="postFooterItem"><a href="#">24</a> Комментария</div>
			<div class="postFooterItem"><a href="#">242</a>
				<div class="icon">
					<svg>
						<use xlink:href="#iconLike"></use>
					</svg>
				</div> Нравится
			</div>
			<div class="postFooterItemLink"><a href="#">
                     
                    Поделиться
                        <svg>
                          <use xlink:href="#iconArrowShare"></use>
                        </svg></a></div>
			<div class="postFooterButton">
				<button class="buttonRound">
					<svg>
						<use xlink:href="#iconLink"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
	<div class="postComments" ng-repeat-end>
		<div class="postCommentItem">
			<div class="postCommentAvatar"><img src="img/avatar.jpg" alt=""></div>
			<div class="postCommentContent">
				<div class="postCommentHeader">
					<div class="postCommentHeaderName">
						<p> <span>Eric Hoffman</span></p>
					</div>
					<div class="postCommentHeaderDate">27 июл 2035, Вт 11:20</div>
				</div>
				<div class="postCommentBody">
					<p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like
						best, every pleasure is to be welcomed and every.</p>
				</div>
				<div class="postCommentFooter">
					<div class="postCommentFooterItem">
						<div class="icon">
							<svg>
								<use xlink:href="#iconAnswer"></use>
							</svg> Ответить
						</div>
					</div>
					<div class="postCommentFooterItem"><a href="#">1</a>
						<div class="icon">
							<svg>
								<use xlink:href="#iconLike"></use>
							</svg> Нравится
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="postCommentItem">
			<div class="postCommentAvatar"><img src="img/avatar.jpg" alt=""></div>
			<div class="postCommentContent">
				<div class="postCommentHeader">
					<div class="postCommentHeaderName">
						<p> <span>Eric Hoffman</span></p>
					</div>
					<div class="postCommentHeaderDate">27 июл 2035, Вт 11:20</div>
				</div>
				<div class="postCommentBody">
					<p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like
						best, every pleasure is to be welcomed and every</p>
				</div>
			</div>
		</div>
		<div class="postCommentItem">
			<div class="postCommentAvatar"><img src="img/avatar.jpg" alt=""></div>
			<div class="postCommentContent">
				<div class="postCommentHeader">
					<div class="postCommentHeaderName">
						<p> <span>Eric Hoffman</span></p>
					</div>
					<div class="postCommentHeaderDate">27 июл 2035, Вт 11:20</div>
				</div>
				<div class="postCommentBody">
					<p>
						In a free hour, when our power of choice is untrammelled and when nothing prevents our <a href="#">being able to do what we like best, every pleasure is to be welcomed and every</a>
					</p>
				</div>
			</div>
		</div>
		<div class="postCommentAnswer">
			<div class="postCommentAnswerAvatar"><img src="img/avatar.jpg" alt=""></div>
			<div class="postCommentAnswerInput">
				<input placeholder="Написать комментарий" class="input">
			</div>
		</div>
	</div>
</div>