<div class="profile">
	<div class="messangerBarSearchButton">
		<input placeholder="Фамилия, имя или e-mail" class="input" ng-model="term" ng-model-options="{ debounce: 200 }">
		<button class="buttonOrangeSmall" ng-click="we.search(term)">
			<svg>
				<use xlink:href="#iconSearch"></use>
			</svg>Искать
		</button>
		<span ng-if="founded != undefined">Всего найдено: {{founded}}</span>
	</div>
	<div class="profileFollowerItems" in-view-container>
		<div class="profileFollowerItem fx-light-speed fx-stagger-100" in-view="$inview && nextPage($index)"
		ng-repeat="user in users">
			<div ng-click="$state.go('public.profile.info', {userId: user.__originalId})" class="profileFollowerItemAvatar">
				<avatar user-id="{{user.__originalId }}"></avatar>
				<div class="profileFollowerItemAvatarStatus">
					<div class="statusOnline">
						<!--class="status{{user.status}}"-->
					</div>
				</div>
			</div>
			<div class="profileFollowerItemText">
				<div ng-click="$state.go('public.profile.info', {userId: user.__originalId})" class="profileFollowerItemName">{{user.profile.firstName + ' ' + user.profile.lastName }}</div>
				<div class="profileFollowerItemPosition"></div>
				<div class="profileFollowerItemFooter">
					<subscribe-unsubscribe subscribed-on="user.__originalId" subscribe-class="buttonOrangeSmall" unsubscribe-class="buttonOrangeSmall"></subscribe-unsubscribe>
				</div>
			</div>
		</div>
	</div>
</div>