<div class="registration">
	<div class="registrationColumn">
		<div class="registrationHeader">
			<h1>Зарегистрирутесь</h1>
			<p>У вас уже есть аккаунт? Воспользуйтсь <a ui-sref="public.anonimus.registration.login" class="link">входом.</a></p>
		</div>
		<div style="margin-left: 40%;" ng-if="signup.isSigninUp" class="loader"></div>
		<form ng-hide="signup.isSigninUp" class="registrationForm" name="signUpForm" ng-submit="signup.signUp(signUpForm,model.email,model.password)">
			<div class="registrationFormItem">
				<div class="inputGroupFloat">
					<!--<label class="labelFloat">Как Вас зовут?</label>-->
					<input placeholder="Имя" name="firstName" ng-model="model.firstName" class="inputBig" tooltip-placement="left" tooltip="Как Вас зовут?">
				</div>
			</div>
			<div class="registrationFormItem">
				<div class="inputGroupFloat">
					<input placeholder="Фамилия" name="secondName" ng-model="model.secondName" class="inputBig" tooltip-placement="left" tooltip="Ваша фамилия">
				</div>
			</div>
			<div class="registrationFormItem">
              <div class="registrationFormText">Ваш пол:</div>
              <div class="buttonGroup">
                <button type="button" ng-model="model.gender" btn-radio="genders.Male" class="buttonGrey"> 
                  <div class="iconMan"></div>Мужчина
                </button>
                <button type="button" ng-model="model.gender" btn-radio="genders.Female" class="buttonGrey"> 
                  <div class="iconWoman"></div>Женщина
                </button>
              </div>
            </div>
			<div class="registrationFormItem">
				<div class="inputGroupFloat">
					<input type="email" placeholder="E-mail" name="email" ng-model="model.email" class="inputBig" tooltip-placement="left" tooltip="Ваш адрес электронной почты">
				</div>
			</div>
			<div class="registrationFormItem">
				<div class="inputGroupFloat">
					<input type="password" placeholder="Пароль" name="password" ng-model="model.password" class="inputBig" tooltip-placement="left" tooltip="Ваш пароль">
				</div>
			</div>
			<div class="registrationFormItem">
				<div class="inputGroupFloat">
					<input type="password" placeholder="Повторный ввод пароля" name="passwordConfirm" ng-model="model.passwordConfirm" class="inputBig" tooltip-placement="left" tooltip="Подтвердите пароль">
				</div>
			</div>
			<div class="registrationFormItem">
				<div class="registrationFormText">Нажимая кнопку «Cоздать аккаунт», вы соглашаетесь с нашими <a href="#">Условиями использования</a> и подтверждаете, что
					ознакомились с нашей <a href="#">Политикой использования данных</a></div>
			</div>
			<div class="registrationFormItem registrationFormItemCenter">
				<button class="buttonOrange" type="submit">Создать аккаунт</button>
			</div>
		</form>
	</div>
	<div class="registrationColumnOr"><span>или</span></div>
	<div class="registrationColumn">
		<div class="registrationHeaderText">
			<p>Вы зарегистрированы в одной из cоцсетей?
				<br/> Можно войти через нее:</p>
		</div>
		<div class="registrationForm">
			<div class="registrationFormItem">
				<button class="buttonSocialVk" ng-click="signup.socialSignUp('vk')">Войти через ВКонтакте</button>
			</div>
			<div class="registrationFormItem">
				<button class="buttonSocialOk" ng-click="signup.socialSignUp('odnoklassniki')">Войти через Одноклассники</button>
			</div>
			<div class="registrationFormItem">
				<button class="buttonSocialFb" ng-click="signup.socialSignUp('facebook')">Войти через Facebook</button>
			</div>
			<div class="registrationFormItem">
				<button class="buttonSocialMail" ng-click="signup.socialSignUp('mailru')">Войти через mail.ru</button>
			</div>
		</div>
	</div>
</div>
<!--
<h1>Зарегистрируйтесь</h1>
<p>Уже есть аккаунт? Воспользуйтесь входом.</p>
<div>
	<form name="signUpForm" ng-submit="signup.signUp(signUpForm,model.email,model.password)">
		<input name="firstName" ng-model="model.firstName" type="text" placeholder="Имя" class="input" />
		<input name="secondName" ng-model="model.secondName" type="text" placeholder="Фамилия" class="input" />
		<div>
			Ваш пол:
			<input ng-model="model.sex" type="radio" name="sex" value="Male" />
			<input ng-model="model.sex" type="radio" name="sex" value="Female" />
		</div>
		<input ng-model="model.email" name="email" type="email" placeholder="Email" class="input" />
		<input ng-model="model.password" name="password" type="password" placeholder="Пароль" class="input" />
		<input ng-model="model.passwordConfirm" name="passwordConfirm" type="password" placeholder="Повторный ввод пароля" class="input"
		/>
		<div>
			Нажимая кнопку "Создать аккаунт", вы соглашаетесь с нашими Усовиями использования и подтверждаете, что ознакомились с нашей
			Политикой использования данных
		</div>
		<button type="submit" class="buttonOrange">Создать аккаунт</button>
</form>
</div>-->
<!--<div>
	Вы зарегистрированны в одной из соцсетей? Можно войти через нее:
	<button ng-click="signup.socialSignUp('vk')">Вконтакте</button>
	<button ng-click="signup.socialSignUp('odnoklassniki')">Одноклассники</button>
	<button ng-click="signup.socialSignUp('facebook')">Facebook</button>
	<button ng-click="signup.socialSignUp('mailru')">mail.ru</button>
</div>-->