<div class="profileFollow">
	<div class="profileFollowBar">
		<div ng-click="$state.go('public.profile.subsbar.followers')" class="profileFollowBarItem">Подписчики<span>{{subscribersCount.count}}</span></div>
		<div ng-click="$state.go('public.profile.subsbar.subscriptions')" class="profileFollowBarItem">Подписки<span>{{subscriptionsCount.count}}</span></div>
	</div>
	<ui-view class="fx-zoom-normal"></ui-view>
</div>