<div class="profileInterest">
	<div ng-repeat="rt in rootThemes" class="profileInterestItem">
		<div class="profileInterestCategory">
			<input ng-change="themeController.toggleSubscription(rt, true)" ng-model="check" i-check round="round" type="checkbox"><span>Категория: </span>{{rt.name}}
		</div>
		<div class="profileInterestTheme profileInterestThemeEdit"><span>Темы:</span>
			<div ng-repeat="t in themeController.filterSubscriptionsByRoot(rt)" class="profileInterestThemeItem">
				<span style="cursor: pointer;" ng-click="themeController.openModal(rt, themes[t.themeId])">{{themes[t.themeId].name}}</span>
				<button type="button" ng-click="themeController.unsubscribe(themes[t.themeId]._id)" class="buttonDelete"></button>
			</div>
		</div>
		<div class="profileInterestButton">
			<button type="button" ng-click="themeController.openModal(rt)" class="buttonOrangeSmall">+ Добавить тему</button>
			<button type="button" ng-click="themeController.openModal(rt)" class="buttonOrangeSmall">Выбрать тему</button>
		</div>
	</div>
</div>