.lentaFilter
    display block
    border-top 1px solid #E6E9EC
    background-color #FAFAFC
    padding 20px
    margin-bottom 30px
    margin-left -31px
    width calc(100% + 62px)
    clear fix
.lentaFilterRow
    display block
    margin-bottom 20px
    .inputWithIcon
        width 295px
        margin-right 20px
    .selectWithIcon
        margin-right 20px
