.postComments
    display block
    width 630px
    margin-bottom 45px
    clear fix
.postCommentItem
    display block
    margin-bottom 25px
    clear fix
.postCommentAvatar
    display table-cell
    vertical-align top
    size 60px
    img
        size 60px
        border-radius 50%
.postCommentContent
    display table-cell
    width 100%
    vertical-align top
    padding-left 18px

.postCommentHeader
    display block
    width 100%
    margin-bottom 10px
    padding-top 20px
    clear fix
.postCommentHeaderName
    display inline-block
    float left
    font-family Helvetica
    font-size 14px
    font-weight 400
    color #91a1a8
    a
        text-decoration none
        color #fc6921
        &:hover
            text-decoration underline
    span
        color #1f586f
.postCommentHeaderDate
    display inline-block
    font-family Helvetica
    font-weight 400
    float right
    color #91a1a8
    font-size 13px
    text-align right

.postCommentBody
    color #626566
    font-size 13px
    font-weight 400
    line-height 20px
    a
        text-decoration none
        color #fc6921
        &:hover
            text-decoration underline

.postCommentFooter
    display block
    position relative
    padding 20px 0 18px 0
    clear fix
.postCommentFooterItem
    display inline-block
    font-size 13px
    font-weight 400
    color #3f6371
    font-family Helvetica
    line-height 20px
    margin-right 25px
    a
        display inline-block
        color #fc6921
        &:hover
            text-decoration underline
    .icon
        display inline-block
        vertical-align middle
        margin-right 3px
        margin-left 3px
        svg
            size 12px
            fill #3f6371

.postCommentAnswer
    display block
    position relative
    background-color #fafaff
    padding 8px 22px 5px 22px
    border-bottom 3px solid #d8d8e6
    clear fix
.postCommentAnswerAvatar
    display table-cell
    vertical-align middle
    size 45px
    img
        size 45px
        border-radius 50%
.postCommentAnswerInput
    display table-cell
    vertical-align middle
    padding-left 20px
    width 100%
    input
        width 100%
