.postHeader
    display block
    position relative
    margin-bottom 18px
    clear fix

.postAvatar
    display table-cell
    vertical-align middle
    size 60px
    img
        size 60px
        border-radius 50%
.postHeaderContent
    display table-cell
    vertical-align middle
    width 100%
.postHeaderName
    display inline-block
    float left
    padding-left 17px
    font-family Helvetica
    font-size 14px
    font-weight 400
    color #91a1a8
    a
        text-decoration none
        color #fc6921
        &:hover
            text-decoration underline
    span
        color #1f586f
.postHeaderDate
    display inline-block
    font-family Helvetica
    font-weight 400
    float right
    color #3f6371
    font-size 13px
    text-align right
    span
        display block
        margin-bottom 3px
        color #a9bec8
        font-size 12px
