.postAddFormDropzone
    display block
    min-height 100px
    height 125px
    padding 10px
    clear fix
.postAddFormDropzoneWrap
    display block
    position relative
    height 100%
    border 1px dashed #a9bec8
    border-radius 5px
.postAddFormDropzoneText
    display block
    position absolute
    top center
    left center
    color #a9bec8
    font-family Helvetica
    font-size 16px
    font-weight 300
    line-height 20px
    span
        display inline-block
        vertical-align middle
        margin 0px 10px
        button
            border 1px solid #d8d8e6
            background-color transparent
            svg
                fill #d8d8e6
