.postAddFormMap
    display block
    min-height 100px
    padding 10px
    clear fix

.postAddFormMapInput
    display block
    padding-top 20px
    padding-bottom 10px
    clear fix
    .inputWithIcon
        width 100%

.postAddFormMapObjects
    display block
    height 120px
    overflow auto
.postAddFormMapObject
    display block
    position relative
    font-size 13px
    font-weight 400
    line-height 20px
    padding 5px 10px
    height 30px
    width calc(100% - 20px)
    color #446977
    cursor default
    span
        position absolute
        right 0px
        top -5px
    &:hover
        background-color #B1D4DC

.mapObjectRemarkable
    display inline-block
    vertical-align middle
    margin-top 5px
    size 30px
    background-image inline("iconRemarkable.png")
    background-repeat no-repeat
    background-position center center
    background-size 16px 19px
    margin-right 5px
    border-radius 4px
    transition all .4s
    &Close
        display block
        opacity 0
        visibility hidden
        float right
        size 30px
        background-image inline("iconClose.png")
        background-repeat no-repeat
        background-position center center

        cursor pointer
        transition all .2s
    &:hover
        background-color #E5E7E9
        background-image inline("iconRemarkableActive.png")
        background-position center left 10px
        background-size 16px 19px
        width 60px
        .mapObjectRemarkableClose
            visibility visible
            opacity 1
