.postAddFormDate
    display block
    min-height 100px
    padding 10px
    clear fix

.postAddFormDateInputs
    display block
    padding-top 20px
    padding-bottom 20px
    clear fix
.postAddFormDateInput
    display inline-block
    vertical-align middle
    color #59717f
    font-size 25px
    margin-right 5px
.postAddFormDateButton
    display inline-block
    vertical-align middle
