.postAdd
    display block
    width 630px
    margin-bottom 40px
    clear fix

.postAddCreate
    display block
    margin-bottom 24px
    clear fix
    font-size 17px
    font-weight 300
    line-height 21px
    color #9ab0bb
    font-family Helvetica
    a
        color #3e6373
        text-decoration none
        border-bottom 1px dashed #3e6373
.postAddForm
    display block
    background-color white
    border 1px solid #d6dee3
    border-radius 5px
.postAddFormHeader
    display block
    position relative
    clear fix
    input
        display block
        height 35px
        width 100%
        padding 20px
        border 0
        outline 0
        color #485159
        font-size 14px
        font-weight 400
        line-height 18px
        border-bottom 1px dashed #9bbcc6

    span
        display block
        position absolute
        right 10px
        top center
        svg
            size 15px
            fill #9bbcc6
.postAddFormTextarea
    display block
    position relative
    clear fix
    textarea
        display block
        height 150px
        width 100%
        padding 20px
        border 0
        outline 0
        color #485159
        font-size 14px
        font-weight 400
        line-height 18px
    &Placeholder
        display block
        position absolute
        left center
        top center
        color #a9bec8
        font-family Helvetica
        font-size 16px
        font-weight 300
        line-height 20px
.postAddFormFooter
    display block
    background-color #b2d4dc
    clear fix

.postAddFormFooterItems
    display block
    height 45px
    float left
    .buttonFormFooter
        display block
        float left
        position relative
        width 55px
        height 45px
        outline 0
        background-color transparent
        border-left 1px solid rgba(255, 255, 255, 0)
        border-right 1px solid rgba(255, 255, 255, 0)
        border-bottom 0
        border-top 1px solid rgba(255, 255, 255, 0)
        svg
            size 20px
            vertical-align middle
            fill #3e6372
        &:after
            display none
            position absolute
            content ''
            size 10px
            left calc(50% - 5px)
            bottom -5px
            transform rotate(45deg)
            background-color #9bbcc6
        &Active, &:hover
            background-color #9bbcc6
            border-top 1px solid #c4dee5
            border-left 1px solid #c4dee5
            border-right 1px solid #c4dee5
            &:after
                display block



.postAddFormFooterButton
    float right
    button
        height 45px
        border-radius 0 0 4px 0

.postAddFooterSelect
    display block
    float left
    top 15px
    margin-left 5px
    &:after
        background-image inline("iconArrowDownBlue.png") !important
