.postEvent
    display block
    position relative
    float left
    width 460px
    margin-left 20px

.postEventItem
    display block
    position relative
    padding 10px 10px 10px 40px
    border-radius 5px
    width 100%
    overflow hidden
    clear fix
    &:hover
        background-color #FAFAFC
        .postEventItemMenu
            transform translateX(0%)
.postEventItemType
    display table-cell
    padding-right 10px

.postEventItemContent
    display table-cell
    vertical-align top
    width 100%

.postEventItemName
    display block
    margin-bottom 5px
    clear fix
    &Text
        display inline-block
        vertical-align middle
        color #1f586f
        font-family Helvetica
        font-size 13px
        font-weight 400

.postEventItemAvatar
    display inline-block
    vertical-align middle
    size 26px
    border-radius 50%
    margin-right 10px
    img
        size 26px
        border-radius 50%
.postEventItemDateLocation
    display block
    margin-bottom 5px
    color #82939c
    font-family Helvetica
    font-size 12px
    font-weight 400
    line-height 16px
    clear fix
.postEventItemDescription
    display block
    margin-bottom 10px
    color #3f6371
    font-family Helvetica
    font-size 13px
    line-height 15px
    font-weight 400
    padding-right 20px
    clear fix

.postEventItemMenu
    display inline-block
    position absolute
    height 100%
    top 0
    right 0
    transition all .4s
    transform translateX(100%)
    background-color #3e6372
    padding 0 20px
    &Item
        display block
        position relative
        cursor pointer
        float left
        top calc(50% - 18px)
        margin-right 20px
        &:last-child
            margin-right 0px
    svg
        vertical-align middle
        size 36px
        fill #b2d4dc

.postEventItemCurrent
    background-color #f3fafc
    overflow visible
    &:hover
        background-color #f3fafc
    .postEventItemMenu
        display none
    &:after
        display block
        position absolute
        content ''
        left -13px
        top 20px
        triangle equilateral pointing-left
        height 15px
        background-color #f3fafc

.postEventItemLevelTwo
    width calc(100% - 25px)
    margin-left 25px

.postEventItemLevelThree
    width calc(100% - 50px)
    margin-left 50px
