.postFooter
    display block
    position relative
    background-color #fafaff
    padding 20px 22px 18px 22px
    border-top 1px solid #d8d8e6
    border-bottom 3px solid #d8d8e6
    clear fix
.postFooterItem
    display inline-block
    font-size 13px
    font-weight 400
    color #3f6371
    font-family Helvetica
    line-height 20px
    margin-right 25px
    a
        display inline-block
        color #fc6921
        &:hover
            text-decoration underline
    .icon
        display inline-block
        vertical-align middle
        margin-right 3px
        margin-left 3px
        svg
            size 12px
            fill #3f6371

.postFooterItemLink
    display inline-block
    margin-right 25px
    a
        display inline-block
        vertical-align middle
        color #fc6921
        text-decoration none
        font-size 13px
        font-weight 400
        line-height 20px
        font-family Helvetica
        svg
            margin-left 5px
            size 16px 11px
            fill #fc6921
.postFooterButton
    display block
    position absolute
    right 25px
    top -20px
