.postAddFormPeople
    display block
    min-height 100px
    padding 10px
    clear fix

.postAddFormPeopleInput
    display block
    padding-top 20px
    padding-bottom 10px
    clear fix
    .selectWithIcon
        width 100%
        
