.posts
    padding 36px 31px
    min-width 630px
    min-height calc(100vh - 103px)
    height 100%

.post
    display block
    width 630px
    float none
    margin-bottom 45px
    clear fix

.postConnectEvent
    display block
    olor #1f586f
    font-size 13px
    font-weight 400
    margin-right 8px
    a
        color #fc6921
        margin-right 6px
