.postAddFormEventInputs
    display block
    padding 0 10px
    clear fix
.postAddFormEventInputColumn
    col(1/2)
    .inputWithIcon
        width 100%
        margin-bottom 16px
    .selectWithIcon
        margin-bottom 16px

.postAddEventItem
    display block
    min-height 125px
    margin 10px
    padding 10px
    background-color #f9fafb
    border-radius 5px
    clear fix

.postAddEventItemIcon
    display table-cell
    padding-right 10px

.postAddEventItemDescription
    display table-cell
    vertical-align top
    width 100%

.postAddEventItemName
    display block
    margin-bottom 10px
    clear fix
    &Text
        display inline-block
        vertical-align middle
        color #1f586f
        font-family Helvetica
        font-size 13px
        font-weight 400

.postAddEventItemAvatar
    display inline-block
    vertical-align middle
    size 26px
    border-radius 50%
    margin-right 10px
    img
        size 26px
        border-radius 50%

.postAddEventItemDescriptionText
    display block
    margin-bottom 10px
    padding-left 13px
    color #3f6371
    font-family Helvetica
    font-size 14px
    line-height 18px
    font-weight 400
    padding-right 20px
    clear fix

.postAddEventItemTools
    display block
    padding-left 13px
    clear fix

.postAddEventItemToolItem
    display inline-block
    vertical-align middle
    margin-right 20px
    cursor pointer
    color #3e6372
    font-family Helvetica
    font-size 13px
    font-weight 400
    line-height 48px
    svg
        display inline-block
        margin-right 7px
        size 18px
        fill #3e6372
        vertical-align middle
.postAddEventItemButton
    display table-cell
    vertical-align middle
    padding-right 10px
    button
        background-color #E0E1E1
