.postContent
    display block
    margin-top 17px
    background-color #fafaff
    border-radius 4px 4px 0 0
    padding-top 25px
    clear fix

    h2
        color #3f6371
        font-size 19px
        line-height 24px
        font-weight 400
        font-family Helvetica
        margin-bottom 29px
        padding 0 22px
    p
        font-family Helvetica
        font-size 14px
        font-weight 400
        line-height 20px
        color #626566
        margin-bottom 22px
        padding 0 22px
        a
            text-decoration none
            color #fc6921
            &:hover
                text-decoration underline
.postContentImage
    width 630px
    margin-bottom 25px
    margin-top -25px
    border-radius 4px 4px 0 0
    img
        width 630px
        border-radius 4px 4px 0 0
.postContentMore
    display block
    margin-bottom 28px
    padding 0 22px
    clear fix
    a
        color #1f586f
        font-size 13px
        font-weight 400
        text-decoration none
