.chosen-container
    position relative
    display inline-block
    vertical-align middle
    font-size 13px
    font-family Helvetica
    zoom 1
    user-select none
    .chosen-drop
        position absolute
        top 100%
        left -9999px
        z-index 1010
        width 100%
        border 1px solid #bbd3db
        border-radius 0 0 5px 5px
        border-top 0
        background #fff
    &.chosen-with-drop
        .chosen-drop
            left 0
    a
        cursor pointer
    .chosen-results
        color #5f6a77
        position relative
        overflow-x hidden
        overflow-y auto
        margin 0 0 0 0
        padding 0 0 0 0px
        max-height 240px
        overflow-scrolling touch
        li
            display none
            margin 0
            padding 10px 12px
            list-style none
            line-height 15px
            word-wrap break-word
            touch-callout none
            &.active-result
                display list-item
                cursor pointer
            &.disabled-result
                display list-item
                color #ccc
                cursor default
            &.highlighted
                background-color #f3fcff
            &.no-results
                color #777
                display list-item
                background #f4f4f4
            &.group-result
                display list-item
                font-weight bold
                cursor default
            &.group-option
                padding-left 15px
            em
                font-style normal
                text-decoration underline

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name
    margin-right 4px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    font-weight normal
    color #999999

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after
    content ":"
    padding-left 2px
    vertical-align top

.chosen-container-single
    .chosen-single
        position relative
        display block
        overflow hidden
        padding 10px 0 0 12px
        height 45px
        border 1px solid #bbd3db
        border-radius 4px
        background-color #fff
        background-clip padding-box
        color #606878
        text-decoration none
        white-space nowrap
        line-height 24px
        span
            display block
            overflow hidden
            margin-right 26px
            text-overflow ellipsis
            white-space nowrap
        abbr
            position absolute
            top 6px
            right 26px
            display block
            width 12px
            height 12px
            background inline('iconSelectDown.png') center center no-repeat
            font-size 1px
            &:hover
                background-position -42px -10px
        div
            position absolute
            top 0
            right 0
            display block
            width 45px
            height 100%
            b
                display block
                width 100%
                height 100%
                background inline('iconSelectDown.png') center center no-repeat
    .chosen-default
        color #999
    .chosen-single-with-deselect
        span
            margin-right 38px
    &.chosen-disabled
        .chosen-single
            abbr
                &:hover
                    background-position -42px -10px
    .chosen-search
        position relative
        z-index 1010
        margin 0
        padding 3px 4px
        white-space nowrap
        input[type="text"]
            margin 1px 0
            padding 4px 20px 4px 5px
            width 100%
            height auto
            outline 0
            border 1px solid #aaa
            background white url('chosen-sprite.png') no-repeat 100% -20px
            background url('chosen-sprite.png') no-repeat 100% -20px
            font-size 1em
            font-family sans-serif
            line-height normal
            border-radius 0
    .chosen-drop
        margin-top 0px
        border-radius 0 0 4px 4px
        background-clip padding-box
    &.chosen-container-single-nosearch
        .chosen-search
            position absolute
            left -9999px

.chosen-container-multi
    .chosen-choices
        position relative
        overflow hidden
        margin 0
        padding 8px 12px
        width 100%
        height auto !important
        height 1%
        border 1px solid #bbd3db
        border-radius 4px
        background-color #fff
        color #606878
        cursor text
        li
            float left
            list-style none
            &.search-field
                margin 0
                padding 0
                white-space nowrap
                input[type="text"]
                    margin 1px 0
                    padding 0
                    height 25px
                    outline 0
                    border 0 !important
                    background transparent !important
                    box-shadow none
                    color #606878
                    font-size 13px
                    font-family sans-serif
                    line-height normal
                    border-radius 0
            &.search-choice
                position relative
                margin 3px 5px 3px 0
                padding 5px 20px 3px 5px
                border 0
                max-width 100%
                border-radius 3px
                background-color transparent
                background-size 100% 19px
                background-repeat repeat-x
                background-clip padding-box
                color #5f6a77
                line-height 13px
                cursor default
                span
                    word-wrap break-word
                .search-choice-close
                    position absolute
                    top 4px
                    right 4px
                    display block
                    width 12px
                    height 15px
                    background inline('iconSelectDelete.png') center center no-repeat
                    font-size 13px
                    line-height 15px
                    &:after
                        content ','
                        padding-left 13px

            &.search-choice-disabled
                padding-right 5px
                border 1px solid #ccc
                background-color #e4e4e4
                color #666
            &.search-choice-focus
                background #d4d4d4
                .search-choice-close
                    background-position -42px -10px
    .chosen-results
        margin 0
        padding 0
        color #606878
    .chosen-drop
        .result-selected
            display list-item
            color #ccc
            cursor default

.chosen-with-drop
    .chosen-single
        border 1px solid #bbd3db
        border-radius 5px 5px 0 0
        div
            border-left none
            background transparent
            b
                background-position -18px 2px
    .chosen-choices
        border 1px solid #bbd3db
        border-radius 5px 5px 0 0
        li
            &.search-field
                input[type="text"]
                    color #192229 !important

.chosen-disabled
    opacity 0.5 !important
    cursor default
    .chosen-single
        cursor default
    .chosen-choices
        .search-choice
            .search-choice-close
                cursor default
.chosen-select-small + .chosen-container-single
    .chosen-single
        height 35px
        padding-top 5px

.chosen-select-small + .chosen-container-multi
    .chosen-choices
        padding 3px 12px
