.post
    .postHeader
        .postAvatar
            img(src="img/avatar.jpg", alt="")
        .postHeaderContent
            .postHeaderName
                p 
                    span Eric Hoffman вместе с 
                    a(href="#") Василием Уткиным
                p 
                    | на 
                    a(href="#") Луне, девятый кратор
            .postHeaderDate
                span Запланированно:
                | 27 июл 2035, Вт 11:20
    .postTags
        .postTag
            | #сделай_сам_событие
        .postTag
            | #луна
    .postConnectEvent
        a(href="#") 23
        | Связанные события
    .postContent
        .postContentImage
            img(src="img/postimage.jpg")
        h2 My home on the moon.
        p 
            |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
            a(href="#") stronaut
            |  wings.
        .postContentMore
            a(href="#") Показать полностью...
    .postFooter
        .postFooterItem
            a(href="#") 24
            |  Комментария
        .postFooterItem
            a(href="#") 242
            .icon
                +svgIcon('iconLike')
            |  Нравится
        .postFooterItemLink
            a(href="#") 
                | Поделиться
                +svgIcon('iconArrowShare')
        .postFooterButton
            button.buttonRound
                +svgIcon('iconLink')
include postComment.jade
.post
    .postHeader
        .postAvatar
            img(src="img/avatar.jpg", alt="")
        .postHeaderContent
            .postHeaderName
                p 
                    span Eric Hoffman вместе с 
                    a(href="#") Василием Уткиным
                p 
                    | на 
                    a(href="#") Луне, девятый кратор
            .postHeaderDate
                | 27 июл 2035, Вт 11:20
    .postConnectEvent
        a(href="#") 23
        | Связанные события
    .postContent
        h2 My home on the moon.
        p 
            |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
            a(href="#") stronaut
            |  wings.
        .postContentMore
            a(href="#") Показать полностью...
    .postFooter
        .postFooterItem
            a(href="#") 24
            |  Комментария
        .postFooterItem
            a(href="#") 242
            .icon
                +svgIcon('iconLike')
            |  Нравится
        .postFooterItemLink
            a(href="#") 
                | Поделиться
                +svgIcon('iconArrowShare')
        .postFooterButton
            button.buttonRound
                +svgIcon('iconLink')
.post
    .postHeader
        .postAvatar
            img(src="img/avatar.jpg", alt="")
        .postHeaderContent
            .postHeaderName
                p 
                    span Eric Hoffman вместе с 
                    a(href="#") Василием Уткиным
            .postHeaderDate
                | 27 июл 2035, Вт 11:20
    .postContent
        h2 My home on the moon!.
        p 
            |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
            a(href="#") stronaut
            |  wings.
        .postContentMore
            a(href="#") Показать полностью...
    .postFooter
        .postFooterItem
            a(href="#") 24
            |  Комментария
        .postFooterItem
            a(href="#") 24
            |  Комментария
        .postFooterItem
            a(href="#") 24
            |  Комментария
        .postFooterItem
            a(href="#") 242
            .icon
                +svgIcon('iconLike')
            |  Нравится
        .postFooterItem
            a(href="#") 242
            |  Нравится
            .icon
                +svgIcon('iconLike')
        .postFooterItemLink
            a(href="#") 
                | Поделиться
                +svgIcon('iconArrowShare')
        .postFooterButton
            button.buttonRound
                +svgIcon('iconLink')
                
