.postComments
    .postCommentItem
        .postCommentAvatar
            img(src="img/avatar.jpg", alt="")
        .postCommentContent
            .postCommentHeader
                .postCommentHeaderName
                    p 
                        span Eric Hoffman
                .postCommentHeaderDate
                    | 27 июл 2035, Вт 11:20
            .postCommentBody
                p In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every.
            .postCommentFooter
                .postCommentFooterItem
                    .icon
                        +svgIcon('iconAnswer')
                        |  Ответить
                .postCommentFooterItem
                    a(href="#") 1
                    .icon
                        +svgIcon('iconLike')
                        |  Нравится
    .postCommentItem
        .postCommentAvatar
            img(src="img/avatar.jpg", alt="")
        .postCommentContent
            .postCommentHeader
                .postCommentHeaderName
                    p 
                        span Eric Hoffman
                .postCommentHeaderDate
                    | 27 июл 2035, Вт 11:20
            .postCommentBody
                p In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every
    .postCommentItem
        .postCommentAvatar
            img(src="img/avatar.jpg", alt="")
        .postCommentContent
            .postCommentHeader
                .postCommentHeaderName
                    p 
                        span Eric Hoffman
                .postCommentHeaderDate
                    | 27 июл 2035, Вт 11:20
            .postCommentBody
                p 
                    | In a free hour, when our power of choice is untrammelled and when nothing prevents our 
                    a(href="#") being able to do what we like best, every pleasure is to be welcomed and every
    .postCommentAnswer
        .postCommentAnswerAvatar
            img(src="img/avatar.jpg", alt="")
        .postCommentAnswerInput
            input.input(placeholder="Написать комментарий")
