.slideBrandLvl-1
    background-image url("../img/brand.jpg")
    bg(top)
    @media retina
        background-image url("../img/brand@2x.jpg")

.slideBrandLvl-2-1
    background-image url("../img/brand-1.jpg")
    bg(right)
    @media retina
        background-image url("../img/brand-1@2x.jpg")


.slideBrandLvl-2-1-1
    background-image url("../img/brand-1-1.jpg")
    bg(right)
    @media retina
        background-image url("../img/brand-1-1@2x.jpg")

.slideBrandLvl-2-1-2
    background-image url("../img/brand-1-2.jpg")
    bg(right)
    @media retina
        background-image url("../img/brand-1-2@2x.jpg")

.slideBrandLvl-2-1-3
    background-image url("../img/brand-1-3.jpg")
    bg(right)
    @media retina
        background-image url("../img/brand-1-3@2x.jpg")
