.uiItem
    h2 button Orange
    button.buttonOrange Super button
.uiItem
    h2 button Orange Disabled
    button.buttonOrange(disabled) Super button
.uiItem
    h2 link Orange
    a(href="#").buttonOrange Super button

.uiItem
    h2 button Orange small
    button.buttonOrangeSmall Super button
.uiItem
    h2 button Orange Disabled
    button.buttonOrangeSmall(disabled) Super button
.uiItem
    h2 link SmallOrange
    a(href="#").buttonOrangeSmall Super button

.uiItem
    h2 button Grey
    button.buttonGrey Super button
.uiItem
    h2 button Grey
    button.buttonGrey(disabled) Super button
.uiItem
    h2 button Blue Bayoux
    button.buttonBlueBayoux Super button

.uiItem
    h2 Group button
    .buttonGroup
        button.buttonGrey Super button
        button.buttonGrey Super button
        button.buttonGrey Super button
.uiItem
    h2 Group button with disabled
    .buttonGroup
        button.buttonGrey Super button
        button.buttonGrey Super button
        button.buttonGrey(disabled) Super button
.uiItem
    h2 Group small button with disabled
    .buttonGroup
        button.buttonOrangeSmall Super button
        button.buttonOrangeSmall Super button
        button.buttonOrangeSmall Super button
.uiItem
    h2 Group small button with disabled
    .buttonGroup
        button.buttonOrangeSmall Super button
        button.buttonOrangeSmall Super button
        button.buttonOrangeSmall(disabled) Super button
