.uiItem
    h2 Simple round checkbox
    input(type="checkbox").icheckRound

.uiItem
    h2 Simple box checkbox
    input(type="checkbox").icheckBox

.uiItem
    h2 Simple round checkbox
    input(type="radio" name="radio").icheckRound
    input(type="radio" name="radio").icheckRound

.uiItem
    h2 Simple box checkbox
    input(type="radio" name="radioBox").icheckBox
    input(type="radio" name="radioBox").icheckBox
