.uiItem
    h2 Simple input
    input.input
.uiItem
    h2 Simple input with placeholder
    input.input(placeholder="Simple input")

.uiItem
    h2 Simple input with placeholder and disable
    input.input(placeholder="Simple input" disabled)

.uiItem
    h2 Simple input error
    input.input.inputError(placeholder="Simple input")
        
.uiItem
    h2 Simple input and float label
    .inputGroupFloat
        label.labelFloat Как Вас зовут?
        input.input.inputError(placeholder="Simple input")
.uiItem
    h2 Simple input error and float error label
    .inputGroupFloat
        label.labelFloat.labelFloatError Введите Вашу фамилию
        input.input.inputError(placeholder="Simple input")
.uiItem
    h2 Big input
    input.inputBig
.uiItem
    h2 Big input with placeholder
    input.inputBig(placeholder="Simple input")

.uiItem
    h2 Big input with placeholder and disable
    input.inputBig(placeholder="Simple input" disabled)

.uiItem
    h2 Big input error
    input.inputBig.inputError(placeholder="Simple input")
.uiItem
    h2 Simple input and float label
    .inputGroupFloat
        label.labelBigFloat Как Вас зовут?
        input.inputBig.inputError(placeholder="Simple input")
.uiItem
    h2 Simple input error and float error label
    .inputGroupFloat
        label.labelBigFloat.labelFloatError Введите Вашу фамилию
        input.inputBig.inputError(placeholder="Simple input")
