.uiItem
    h2 Simple select
    select.chosen-select
        option Option One
        option Option Two
        option Option Three

.uiItem
    h2 Multi select
    select(multiple).chosen-select-search
        option Option One
        option Option Two
        option Option Three

.uiItem
    h2 Multi select with button
    .selectButton
        select(multiple).chosen-select-search
            option Option One
            option Option Two
            option Option Three
        button.buttonSelect

.uiItem
    h2 Simple small select
    select.chosen-select.chosen-select-small
        option Option One
        option Option Two
        option Option Three

.uiItem
    h2 Multi select
    select(multiple).chosen-select-search.chosen-select-small
        option Option One
        option Option Two
        option Option Three

.uiItem
    h2 Multi select with button
    .selectButton
        select(multiple).chosen-select-search.chosen-select-small
            option Option One
            option Option Two
            option Option Three
        button.buttonSelect
