.uiItem
    h2 Simple tooltip Up
    .tooltipWrap
        .tooltipUp
            | Tooltip Simple Up
.uiItem
    h2 Simple tooltip Down
    .tooltipWrap
        .tooltipDown
            | Tooltip Simple Down

.uiItem
    h2 Simple Big Tooltip
    .tooltipWrap
        .tooltipBig
            .tooltipBigHeader
                | Tooltip Header
            .tooltipBigContent
                | Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
